<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <button type="button" class="btn btn-light mr-1" [mat-dialog-close]="true" cdkFocusInitial>Да</button>
      <button type="button" class="btn btn-light" [mat-dialog-close]="false">Нет</button>
    </div>
  </div>
</div>