<div class="dialog-base">
    <div mat-dialog-content>
      <div class="row">
        <p>{{data.title}}</p>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="work_place">Название*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input type="text" autocomplete="nope" name="aircraftmodel" id="aircraftmodel" class="form-control" placeholder=""
              [(ngModel)]="data.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="work_position">Группа*</label>
        </div>
        <div class="col-8">
          <select class="form-control" [(ngModel)]="data.aircraftmodelgroup_id" placeholder="">
            <option [selected]="data.aircraftmodelgroup_id === aircraftmodelgroup.id" *ngFor="let aircraftmodelgroup of data.aircraftmodelgroups" [value]="aircraftmodelgroup.id">
              {{ aircraftmodelgroup.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <div class="row mt-2">
        <div class="col-12">
          <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data"
            [disabled]="!isValid()">Сохранить</button>
          <button type="button" class="btn btn-light mr-2" [mat-dialog-close]="null">Отмена</button>
          <button type="button" class="btn btn-danger" *ngIf="data.editMode === true"
            [mat-dialog-close]="'delete'">Удалить</button>
        </div>
      </div>
    </div>
  </div>