<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login">Логин</label>
    <input placeholder="Логин" type="text" class="form-control" name="login" id="login" formControlName="login"
      [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}">
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input placeholder="Пароль" type="password" class="form-control" name="password" id="password"
      formControlName="password"
      [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
  </div>
  <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="rmbMe" name="rmbMe" formControlName="rmbMe">
    <label class="custom-control-label" for="rmbMe">Запомнить меня</label>
  </div>
  <div class="form-group">
    <button type="submit" class=" btn btn-primary" [style.margin-right]="'10px'">Войти</button>
  </div>
</form>