<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="work_place">Код*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="aircraft" id="aircraft" class="form-control" placeholder=""
            [(ngModel)]="data.code">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="work_position">Модель*</label>
      </div>
      <div class="col-8">
        <select class="form-control" [(ngModel)]="data.aircraftmodel_id" placeholder="">
          <option [selected]="data.aircraftmodel_id === aircraftmodel.id"
            *ngFor="let aircraftmodel of data.aircraftmodels" [value]="aircraftmodel.id">
            {{ aircraftmodel.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row mt-2">
      <div class="col-12">
        <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data"
          [disabled]="!isValid()">Сохранить</button>
        <button type="button" class="btn btn-light mr-2" [mat-dialog-close]="null">Отмена</button>
        <button type="button" class="btn btn-danger" *ngIf="data.editMode === true"
          [mat-dialog-close]="'delete'">Удалить</button>
      </div>
    </div>
  </div>
</div>