<div class="tab-content">
  <mat-card *ngIf="selectedSubdivision">
    <span>
      <h1>{{ selectedSubdivision.name }}</h1>
    </span>
  </mat-card>
  <mat-card [style.margin-top]="'10px'">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Сотудники отдела
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="intType === 'edit'">
          <div class="row">
            <div class="col-12">
              <table class="table list-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th>Должность</th>
                  </tr>
                </thead>
                <tr
                  *ngFor="let user of selectedSubdivisionAirusers"
                  [ngClass]="{ hover: user.id === selectedUser.id }"
                >
                  <td (click)="onSelectAiruser(user)">{{ user.id }}</td>
                  <td (click)="onSelectAiruser(user)">{{ user.name }}</td>
                  <td (click)="onSelectAiruser(user)">{{ user.surname }}</td>
                  <td (click)="onSelectAiruser(user)">
                    <ng-container *ngIf="user.phones">{{
                      user.phones[0]
                    }}</ng-container>
                  </td>
                  <td (click)="onSelectAiruser(user)">
                    {{ user.position_name }}
                  </td>
                </tr>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <form [formGroup]="airuserForm" autocomplete="off">
      <div class="row">
        <ng-container *ngIf="authService.loggedInUser?.isadmin">
          <div class="col-3"></div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="isadmin"
                    name="isadmin"
                    formControlName="isadmin"
                  />
                  <label class="custom-control-label" for="isadmin"
                    >Администратор</label
                  >
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="col-3">
          <label class="font-weight-bold" for="setstr">Учетные данные</label>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="real-username"
                >Логин*
                <span *ngIf="checkLogin === 1" [style.color]="'green'"
                  >(логин допустим)</span
                >
                <span *ngIf="checkLogin === 0" [style.color]="'red'"
                  >(логин занят)</span
                >
              </label>
              <input
                id="username"
                style="display:none"
                type="text"
                name="fakeusernameremembered"
              />
              <input
                id="password"
                style="display:none"
                type="password"
                name="fakepasswordremembered"
              />
              <input
                type="text"
                autocomplete="nope"
                class="form-control"
                name="real-username"
                id="real-username"
                formControlName="login"
                [ngClass]="{
                  'has-error':
                    airuserForm.get('login').invalid &&
                    airuserForm.get('login').touched
                }"
                (change)="onCheckLogin()"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="password">Пароль*</label>
              <input
                readonly
                onfocus="this.removeAttribute('readonly')"
                type="password"
                class="form-control"
                placeholder="Пароль"
                formControlName="password"
                [ngClass]="{
                  'has-error':
                    airuserForm.get('password').invalid &&
                    airuserForm.get('password').touched
                }"
              />
              <button
                *ngIf="intType === 'edit'"
                type="button"
                mat-button
                color="primary"
                (click)="onEmailLogPass()"
                [disabled]="airuserForm.invalid"
              >
                Сгенерировать новый пароль и отправить на почту
              </button>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="subdivision_id">Подразделение*</label>
              <select
                class="form-control"
                formControlName="subdivision_id"
                (change)="onSelectsubdivision($event.target.value)"
              >
                <option
                  *ngFor="let subdivision of subdivisionsView"
                  [value]="subdivision.id"
                  ><span innerHTML="{{ getIndent(subdivision?.level) }}"></span
                  >{{ subdivision.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="position_id">Должность*</label>
              <select class="form-control" formControlName="position_id">
                <option
                  *ngFor="
                    let position of getPositionsBySubdivisionId(
                      airuserForm.get('subdivision_id').value
                    )
                  "
                  [value]="position.id"
                  >{{ position.name }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="position_id">Кресло пилота</label>
              <select class="form-control" formControlName="pilot_type">
                <option
                  *ngFor="let pilotType of pilotTypes"
                  [value]="pilotType.id"
                  >{{ pilotType.name }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9 mb-2">
          <div class="row">
            <!-- <div class="col-12 form-group">
              <label for="position_id">Базовый аэропорт пилота</label>
              <select class="form-control" formControlName="pilot_type">
                <option *ngFor="let pilotType of pilotTypes" [value]="pilotType.id">{{ pilotType.name }}</option>
              </select>
            </div> -->
            <div class="col-12">
              <label for="airport_control">Базовый аэропорт пилота</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder=""
                  [matAutocomplete]="auto_departure"
                  [formControl]="airport_control"
                  (input)="inputLink_airport()"
                  [ngClass]="{
                    'has-error':
                      airport_control.invalid && airport_control.touched
                  }"
                />
                <div class="input-group-append">
                  <button
                    (click)="airport_control.reset()"
                    class="btn btn-outline-secondary"
                    type="button"
                  >
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </button>
                </div>
                <mat-autocomplete
                  #auto_departure="matAutocomplete"
                  [displayWith]="displayFn"
                >
                  <mat-option
                    class="typeheadoption"
                    *ngFor="let option of (filtered_departure_airport | async)"
                    [value]="option"
                  >
                    {{ option.code }} {{ option.name_rus }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="salary">Зарплата</label>
              <input
                type="text"
                autocomplete="nope"
                name="salary"
                id="salary"
                class="form-control"
                placeholder=""
                formControlName="salary"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="order_number">Номер приказа</label>
              <input
                type="text"
                autocomplete="nope"
                name="order_number"
                id="order_number"
                class="form-control"
                placeholder=""
                formControlName="order_number"
              />
            </div>
          </div>
        </div>
        <!-- -------------- -->
        <div class="col-3">
          <label class="font-weight-bold" for="setstr">Телефон</label>
          <button
            type="button"
            class="btn btn-light ml-1"
            (click)="onAddUserPhone()"
          >
            Добавить
          </button>
          <!-- <button type="button" mat-button color="primary" (click)="onAddUserPhone()">Добавить</button> -->
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="phone">Основной телефон*</label>
                <input
                  [textMask]="{ mask: phoneMask, placeholderChar: '\u2000' }"
                  type="text"
                  autocomplete="nope"
                  name="phone"
                  id="phone"
                  class="form-control"
                  placeholder=""
                  formControlName="phone"
                  [ngClass]="{
                    'has-error':
                      airuserForm.get('phone').invalid &&
                      airuserForm.get('phone').touched
                  }"
                />
              </div>
            </div>
          </div>
        </div>
        <ng-container
          *ngFor="let newUserPhone of airuserFormPhones; let i = index"
        >
          <div class="col-3"></div>
          <div class="col-9">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <form [formGroup]="newUserPhone">
                    <label for="phone">Телефон №{{ i + 2 }}</label>
                    <div class="input-group">
                      <input
                        [textMask]="{
                          mask: phoneMask,
                          placeholderChar: '\u2000'
                        }"
                        type="text"
                        autocomplete="nope"
                        name="phone"
                        class="form-control"
                        placeholder=""
                        formControlName="phone"
                      />
                      <div class="input-group-append">
                        <button
                          (click)="onDelUserPhone(i)"
                          class="btn btn-outline-secondary"
                          type="button"
                        >
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- -------------- -->
        <div class="col-3">
          <label class="font-weight-bold" for="email">E-mail</label>
          <button
            type="button"
            class="btn btn-light ml-1"
            (click)="onAddUserMail()"
          >
            Добавить
          </button>
          <!-- <button type="button" mat-button color="primary" (click)="onAddUserMail()">Добавить</button> -->
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="email">Основной e-mail*</label>
                <input
                  type="text"
                  class="form-control"
                  autocomplete="nope"
                  name="email"
                  id="email"
                  placeholder=""
                  formControlName="email"
                  [ngClass]="{
                    'has-error':
                      airuserForm.get('email').invalid &&
                      airuserForm.get('email').touched
                  }"
                />
              </div>
            </div>
          </div>
        </div>
        <ng-container
          *ngFor="let newUserMail of airuserFormEmails; let i = index"
        >
          <div class="col-3"></div>
          <div class="col-9">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <form [formGroup]="newUserMail">
                    <label for="email{{ i }}">E-mail №{{ i + 2 }}</label>
                    <div class="input-group">
                      <input
                        type="text"
                        autocomplete="nope"
                        name="email{{ i }}"
                        id="email{{ i }}"
                        class="form-control"
                        placeholder=""
                        formControlName="email"
                      />
                      <div class="input-group-append">
                        <button
                          (click)="onDelUserMail(i)"
                          class="btn btn-outline-secondary"
                          type="button"
                        >
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- -------------- -->
        <div class="col-3">
          <label class="font-weight-bold" for="surname"
            >Паспортные данные</label
          >
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="surname">Фамилия*</label>
              <input
                type="text"
                class="form-control"
                autocomplete="nope"
                name="surname"
                id="surname"
                placeholder=""
                formControlName="surname"
                [ngClass]="{
                  'has-error':
                    airuserForm.get('surname').invalid &&
                    airuserForm.get('surname').touched
                }"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="name">Имя*</label>
              <input
                type="text"
                class="form-control"
                autocomplete="nope"
                name="name"
                id="name"
                placeholder=""
                formControlName="name"
                [ngClass]="{
                  'has-error':
                    airuserForm.get('name').invalid &&
                    airuserForm.get('name').touched
                }"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="patronymic">Отчество</label>
              <input
                type="text"
                class="form-control"
                autocomplete="nope"
                name="patronymic"
                id="patronymic"
                placeholder=""
                formControlName="patronymic"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <div class="row">
                <div class="col-6">
                  <label for="">Пол</label>
                </div>
                <div class="col-6">
                  <label for="dt_of_birth">Дата рождения</label>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <select
                    class="form-control"
                    formControlName="sex"
                    placeholder=""
                  >
                    <option [value]="0">
                      Мужской
                    </option>
                    <option [value]="0">
                      Женский
                    </option>
                  </select>
                </div>
                <div class="col-6 mmt-15">
                  <mat-form-field>
                    <input
                      matInput
                      autocomplete="nope"
                      name="dt_of_birth"
                      id="dt_of_birth"
                      [matDatepicker]="pickerdt_of_birth"
                      placeholder=""
                      formControlName="dt_of_birth"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerdt_of_birth"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #pickerdt_of_birth
                      startView="year"
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <div class="row">
                <div class="col-6">
                  <label for="">Семейное положение</label>
                </div>
                <div class="col-6">
                  <label for="">Военная обязанность</label>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <select
                    class="form-control"
                    formControlName="maritalstatus_id"
                    placeholder=""
                  >
                    <option
                      *ngFor="let maritalstatus of maritalstatuses"
                      [value]="maritalstatus.id"
                    >
                      {{ maritalstatus.name }}
                    </option>
                  </select>
                </div>
                <div class="col-6">
                  <select
                    class="form-control"
                    formControlName="militaryduty_id"
                    placeholder=""
                  >
                    <option
                      *ngFor="let militaryduty of militarydutyes"
                      [value]="militaryduty.id"
                    >
                      {{ militaryduty.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <div class="row">
                <div class="col-12">
                  <label for="">Серия и номер паспорта</label>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input
                    [textMask]="{ mask: seriaMask }"
                    autocomplete="nope"
                    name="pass_seria"
                    id="pass_seria"
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="pass_seria"
                  />
                </div>
                <div class="col-6">
                  <input
                    [textMask]="{ mask: numberMask }"
                    autocomplete="nope"
                    name="pass_number"
                    id="pass_number"
                    type="text"
                    class="form-control"
                    placeholder=""
                    formControlName="pass_number"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <div class="row">
                <div class="col-6">
                  <label for="pass_code_dep">Код подразделения</label>
                </div>
                <div class="col-6">
                  <label for="pass_date">Дата выдачи</label>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input
                    type="text"
                    autocomplete="nope"
                    name="pass_code_dep"
                    id="pass_code_dep"
                    class="form-control"
                    placeholder=""
                    formControlName="pass_code_dep"
                  />
                </div>
                <div class="col-6 mmt-15">
                  <mat-form-field>
                    <input
                      matInput
                      autocomplete="nope"
                      name="pass_date"
                      id="pass_date"
                      [matDatepicker]="pickerpass_date"
                      placeholder=""
                      formControlName="pass_date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerpass_date"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                      #pickerpass_date
                      startView="year"
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group">
              <label for="pass_kem_vydan">Кем выдан</label>
              <input
                type="text"
                autocomplete="nope"
                name="pass_kem_vydan"
                id="pass_kem_vydan"
                class="form-control"
                placeholder=""
                formControlName="pass_kem_vydan"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 form-group pl-2">
              <label for="pass_kem_vydan"
                >Скан паспорта (1 или несколько файлов)</label
              >
              <input
                type="file"
                class="form-control-file"
                multiple
                accept=".jpg, .png, .pdf, .tiff"
                class="form-control"
                placeholder=""
                (change)="onUserFileChange($event)"
              />
            </div>
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
          <div class="row">
            <ng-container *ngIf="intType === 'edit'">
              <div
                class="col-4"
                *ngFor="let curUserFile of selectedUserFiles; let i = index"
              >
                <div class="form-group" *ngIf="curUserFile.checkToDel !== true">
                  <!-- <button type="button" (click)="onDownloadUserFile(curUserFile?.id)" mat-button color="primary">Скачать
                    скан
                    №{{i+1}}</button> -->
                  <div ngbDropdown>
                    <a
                      class="float-left dropdown-toggle download"
                      id="id02"
                      ngbDropdownToggle
                      >Скан №{{ i + 1 }}</a
                    >
                    <div
                      class="dropdown-menu"
                      aria-labelledby="id02"
                      ngbDropdownMenu
                      [style.min-width]="'100px'"
                    >
                      <a
                        class="pl-3 dropdown-item"
                        (click)="onShowImg(curUserFile?.id)"
                        *ngIf="isImgtype(curUserFile?.ausrfile?.filename)"
                      >
                        Открыть
                      </a>
                      <a
                        class="pl-3 dropdown-item btn disabled"
                        *ngIf="!isImgtype(curUserFile?.ausrfile?.filename)"
                      >
                        Открыть
                      </a>
                      <a
                        class="pl-3 dropdown-item"
                        (click)="onDownloadUserFile(curUserFile?.id)"
                      >
                        Скачать
                      </a>
                    </div>
                  </div>
                  <i
                    (click)="toggleCheckToDel(i)"
                    [style.color]="'black'"
                    [style.cursor]="'pointer'"
                    class="fa fa-times"
                    aria-hidden="true"
                    matTooltip="Пометить на удаление"
                  ></i>
                </div>
                <div class="form-group" *ngIf="curUserFile.checkToDel === true">
                  <!-- <a [style.color]="'black'" [style.text-decoration]="'line-through'">Cкан №{{i+1}}</a> -->
                  <a
                    (click)="toggleCheckToDel(i)"
                    [style.text-decoration]="'line-through'"
                    class="float-left dropdown-toggle download"
                    >Скан №{{ i + 1 }}</a
                  >
                  <i
                    (click)="toggleCheckToDel(i)"
                    [style.color]="'red'"
                    [style.cursor]="'pointer'"
                    class="fa fa-times"
                    aria-hidden="true"
                    matTooltip="Снять пометку на удаление"
                  ></i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-3">
          <label class="font-weight-bold" for="">Адрес регистрации</label>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <span
                class="mr-3"
                *ngIf="airuserForm.get('registration_index').value != null"
                >{{ airuserForm.get('registration_index').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('registration_city').value != null"
                >г. {{ airuserForm.get('registration_city').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('registration_street').value != null"
                >ул. {{ airuserForm.get('registration_street').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('registration_house').value != null"
                >д. {{ airuserForm.get('registration_house').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('registration_flat').value != null"
                >кв. {{ airuserForm.get('registration_flat').value }}</span
              >
              <button
                type="button"
                (click)="onSetAddress('registration')"
                class="btn btn-light mb-1"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
        <div class="col-3">
          <label class="font-weight-bold" for="">Фактический адрес</label>
          <button
            type="button"
            class="btn btn-light ml-1"
            (click)="onSameAddr()"
          >
            Совпадает
          </button>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <span
                class="mr-3"
                *ngIf="airuserForm.get('location_index').value != null"
                >{{ airuserForm.get('location_index').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('location_city').value != null"
                >г. {{ airuserForm.get('location_city').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('location_street').value != null"
                >ул. {{ airuserForm.get('location_street').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('location_house').value != null"
                >д. {{ airuserForm.get('location_house').value }}</span
              >
              <span
                class="mr-3"
                *ngIf="airuserForm.get('location_flat').value != null"
                >кв. {{ airuserForm.get('location_flat').value }}</span
              >
              <button
                type="button"
                (click)="onSetAddress('location')"
                class="btn btn-light mb-1"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr />
    <form
      [formGroup]="newUserEducationForm"
      *ngFor="
        let newUserEducationForm of airuserFormEducation;
        let i = index;
        let first = first
      "
    >
      <div class="row">
        <div class="col-3">
          <label class="font-weight-bold" for="" *ngIf="first"
            >Образование</label
          >
          <button
            type="button"
            class="btn btn-light ml-1"
            (click)="onAddEducation()"
            *ngIf="first"
          >
            Добавить
          </button>
          <hr *ngIf="!first" />
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <p
                class=""
                *ngIf="
                  newUserEducationForm.get('institution_place').value != null
                "
              >
                Наименование:
                {{ newUserEducationForm.get('institution_place').value }}
              </p>
              <p
                class=""
                *ngIf="newUserEducationForm.get('specialty').value != null"
              >
                Специальность: {{ newUserEducationForm.get('specialty').value }}
              </p>
              <p
                class=""
                *ngIf="newUserEducationForm.get('diploma_number').value != null"
              >
                № диплома:
                {{ newUserEducationForm.get('diploma_number').value }}
              </p>
              <p
                class=""
                *ngIf="newUserEducationForm.get('finish_year').value != null"
              >
                Год окончания:
                {{ newUserEducationForm.get('finish_year').value }}
              </p>
              <button
                type="button"
                (click)="
                  onDownloadEducationFile(
                    newUserEducationForm.get('file').value
                  )
                "
                mat-button
                color="primary"
                *ngIf="
                  newUserEducationForm.get('file') != null &&
                  newUserEducationForm.get('file')?.value != null
                "
              >
                Скачать скан
              </button>
              <button
                type="button"
                (click)="onSetEducation(i)"
                class="btn btn-light mb-1"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr />
    <form
      [formGroup]="newUserPreviousworkForm"
      *ngFor="
        let newUserPreviousworkForm of airuserFormPreviouswork;
        let i = index;
        let first = first
      "
    >
      <div class="row">
        <div class="col-3">
          <label class="font-weight-bold" for="" *ngIf="first"
            >Опыт работы</label
          >
          <button
            type="button"
            class="btn btn-light ml-1"
            (click)="onAddPreviouswork()"
            *ngIf="first"
          >
            Добавить
          </button>
          <hr *ngIf="!first" />
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <p
                class=""
                *ngIf="newUserPreviousworkForm.get('work_place').value != null"
              >
                Место работы:
                {{ newUserPreviousworkForm.get('work_place').value }}
              </p>
              <p
                class=""
                *ngIf="
                  newUserPreviousworkForm.get('work_position').value != null
                "
              >
                Должность:
                {{ newUserPreviousworkForm.get('work_position').value }}
              </p>
              <p
                class=""
                *ngIf="newUserPreviousworkForm.get('dt_start').value != null"
              >
                Начало работы:
                {{
                  newUserPreviousworkForm.get('dt_start').value
                    | date: 'dd.MM.yyyy'
                }}
              </p>
              <p
                class=""
                *ngIf="newUserPreviousworkForm.get('dt_end').value != null"
              >
                Окончание работы:
                {{
                  newUserPreviousworkForm.get('dt_end').value
                    | date: 'dd.MM.yyyy'
                }}
              </p>
              <button
                type="button"
                (click)="onSetPreviouswork(i)"
                class="btn btn-light mb-1"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr />
    <form
      [formGroup]="newUserFormFamily"
      *ngFor="
        let newUserFormFamily of airuserFormFamily;
        let i = index;
        let first = first
      "
    >
      <div class="row">
        <div class="col-3">
          <label class="font-weight-bold" for="" *ngIf="first"
            >Члены семьи</label
          >
          <button
            type="button"
            class="btn btn-light ml-1"
            (click)="onAddFamily()"
            *ngIf="first"
          >
            Добавить
          </button>
          <hr *ngIf="!first" />
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12">
              <p
                class=""
                *ngIf="newUserFormFamily.get('surname')?.value != null"
              >
                Фамилия: {{ newUserFormFamily.get('surname').value }}
              </p>
              <p class="" *ngIf="newUserFormFamily.get('name')?.value != null">
                Имя: {{ newUserFormFamily.get('name').value }}
              </p>
              <p
                class=""
                *ngIf="newUserFormFamily.get('patronymic')?.value != null"
              >
                Отчество: {{ newUserFormFamily.get('patronymic').value }}
              </p>
              <button
                type="button"
                (click)="onSetFamily(i)"
                class="btn btn-light mb-1"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <hr />
        <div class="form-group mt-1">
          <button
            type="button"
            (click)="onSave()"
            class="btn btn-primary"
            [style.margin-right]="'10px'"
            [disabled]="airuserForm.invalid || checkLogin !== 1"
          >
            Сохранить
          </button>
          <button
            type="button"
            (click)="onCancel()"
            class="btn btn-light"
            [style.margin-right]="'10px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="onDelAiruser()"
            *ngIf="intType === 'edit'"
          >
            Уволить сотрудника
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
<div class="progress-bar mt-2 mb-2" *ngIf="inProgress">
  <mat-progress-bar
    mode="buffer"
    [color]="'primary'"
    [value]="0"
    [bufferValue]="inProgressVal"
    [style.height]="'5px'"
  >
  </mat-progress-bar>
</div>
<div>
  <ngx-gallery
    [style.display]="showGallary === false ? 'none' : 'block'"
    [options]="galleryOptions"
    (previewClose)="onCloseGallary()"
    [images]="galleryImages"
    #gallary
  ></ngx-gallery>
</div>
