<div class="ngx-sortlist">
  <div
    class="sl-item"
    *ngFor="let item of list; let first = first; let i = index; let last = last"
    [ngClass]="{ 'sl-selected': selectedId == item[propId] }"
  >
    <div class="sl-title" (click)="onSelect(item[propId])">
      <div class="sl-nav">
        <div
          class="sl-btn"
          [ngClass]="{ 'sl-first': first }"
          [innerHTML]="upBtn | sanitizeHtml"
          (click)="onUp(i)"
        ></div>
        <div
          class="sl-btn"
          [ngClass]="{ 'sl-last': last }"
          [innerHTML]="downBtn | sanitizeHtml"
          (click)="onDown(i)"
        ></div>
      </div>
      <div class="sl-name">
        <div *ngIf="propName; then obj; else arr"></div>
        <ng-template #obj>
          {{ item[propName] }}
          <ng-container *ngIf="postfix1">
            <span class="sl-tooltip"> - {{ item[postfix1] }} </span>
            <span class="sl-tooltip"> ({{ item[postfix2] }}) </span>
          </ng-container>
        </ng-template>
        <ng-template #arr>
          {{ item }}
        </ng-template>
      </div>
    </div>
    <div class="sl-content" *ngIf="item[children]">
      <app-template-subdivision
        [list]="item[children]"
        [propName]="propName"
        [children]="children"
        [upBtn]="upBtn"
        [downBtn]="downBtn"
        [selectedId]="selectedId"
        [postfix1]="postfix1"
        [postfix2]="postfix2"
        (listChanged)="sendList($event)"
        (selectedItemId)="onSelect($event)"
      >
      </app-template-subdivision>
    </div>
  </div>
</div>
