.ngx-sortlist {
	transition: 1s;
}
.ngx-sortlist .sl-content {
	padding: 0 0 0 15px;
	width: 100%;
	clear: both;
}
.ngx-sortlist .sl-title {
	display: flex;
	width: 100%;
	clear: both;
}
.ngx-sortlist .sl-title .sl-nav {
	width: 50px;
	float: left;
}
.ngx-sortlist .sl-title .sl-nav .sl-btn {
	cursor: pointer;
	color: #000;
	z-index: 10;
	width: 100%;
}
.ngx-sortlist .sl-title .sl-nav .sl-first {
	cursor: default !important;
	color: RGBA(0, 0, 0, 0.2) !important;
}
.ngx-sortlist .sl-title .sl-nav .sl-last {
	cursor: default !important;
	color: RGBA(0, 0, 0, 0.2) !important;
}
.ngx-sortlist .sl-title .sl-name {
	cursor: pointer;
	margin: auto 0;
}
.ngx-sortlist .sl-selected {
	background: #86efff;
}
.ngx-sortlist .sl-tooltip {
	position: relative;
	display: inline-block;
}
.ngx-sortlist .sl-tooltip .sl-tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: RGBA(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}
.ngx-sortlist .sl-tooltip:hover .sl-tooltiptext {
	visibility: visible;
	transition: 1s;
}
