<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="certificateForm">
      <div class="row">
        <div class="col-4">
          <label for="name">Название*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="name"
              id="name"
              class="form-control"
              placeholder=""
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <!-- <label for="active">Активность</label> -->
        </div>
        <div class="col-8">
          <div class="custom-control custom-checkbox mb-3">
            <input
              type="checkbox"
              class="custom-control-input"
              id="active"
              name="active"
              formControlName="active"
            />
            <label class="custom-control-label" for="active">Активен</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          (click)="onSave()"
          [disabled]="!certificateForm.valid"
        >
          {{ buttonStr }}
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="null"
        >
          Закрыть
        </button>
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="data.edit === true"
          (click)="onDel()" 
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
