.filter-field {
	width: 110px;
}
.viewplus,
.viewminus {
	position: absolute;
	top: 160px;
	right: 20px;
	cursor: pointer;
	border: 2px solid #ccc;
	background: transparent;
	text-align: center;
	z-index: 1000;
	color: #313131;
	padding: 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
}
.viewminus {
	top: 200px;
}
.aircraft {
	background: #e5f2f2;
	width: 145px;
	height: 70px;
	margin-right: 10px;
	border-left: 10px solid white;
}
.aircraft span {
	color: #3f4849;
	margin-top: auto;
	margin-bottom: auto;
}
._row {
	height: 70px;
	margin-bottom: 5px;
	background: #f3f9f9;
}
.day-block {
	height: 70px;
	background: #f3f9f9;
	position: absolute;
}
.weekend {
	background: #ffdbdb;
}
.past {
	pointer-events: none;
	height: 100%;
	background: RGBA(255, 255, 255, 0.7);
	position: absolute;
	z-index: 100;
}
// рейс
.flight {
	height: 32px;
	position: absolute;
	float: left;
	border: 0px solid transparent;
	// border: 2px solid red;
	cursor: pointer;
	bottom: 18px;
	transition: 0.2s;
}
.flightout {
	height: 32px;
	position: absolute;
	float: left;
	border: 0px solid transparent;
	cursor: pointer;
	bottom: 18px;
}
.flight:hover {
	// border: 1px solid #313131;
	// border-top: 1px solid #313131;
	// border-bottom: 1px solid #313131;
	transition: 0.2s;
	-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
	box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
}
.flightout:hover {
	// border: 1px solid #313131;
	// border-top: 1px solid #313131;
	// border-bottom: 1px solid #313131;
	-webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
	box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
}
.flight-number {
	pointer-events: none;
	padding: 0px;
	padding-left: 0px;
	color: #fff;
	font-size: 11px;
	height: 100%;
	margin: 0px;
	// min-width: 30px;
	white-space: nowrap;
	max-width: 50px;
	left: 0px;
	background: RGBA(0, 0, 0, 0.1);
	z-index: 100;
	position: absolute;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.flight-data {
	padding: 0px;
	padding-right: 0px;
	color: #fff;
	font-size: 13px;
	height: 40px;
	margin: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
// на земле
._flight {
	height: 32px;
	position: absolute;
	float: left;
	border-bottom: 3px #aaa solid;
	margin-top: 18px;
	z-index: 500;
}
.f-info-begin,
.f-info-end {
	position: absolute;
	font-size: 10px;
	line-height: 10px;
	z-index: 100;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.f-info-begin {
	top: -20px;
	left: -10px;
}
.f-info-end {
	bottom: -20px;
	right: -10px;
}
.flightpoint {
	height: 100%;
	background: linear-gradient(to top, #7bd268, #6ed19f);
	position: absolute;
	float: left;
	// cursor: pointer;
	z-index: 10;
}
// поле таймлайна
.timetable {
	display: flex;
	bottom: 100%;
}
.timetable-sidebar {
	flex: 0 0 155px;
}
.timetable-content {
	width: calc(100% - 230px);
}
// линии времени и даты
.scale,
.scaledate,
.scalenow {
	transform: translateX(50%);
	line-height: 15px;
	padding-left: 5px;
}
.scalenow {
	margin-top: -27px;
	opacity: 0.99;
	z-index: 999;
}
.scale span,
.scaledate span,
.scalenow span {
	font-weight: 200;
	font-size: 14px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.scaledate span {
	font-weight: 400;
}
.scalenow span {
	color: #fff;
	background: RGBA(54, 203, 218, 1);
	padding: 0 5px 0 5px;
}
.scale-line {
	pointer-events: none;
	position: absolute;
	z-index: 99998;
	background: RGBA(54, 203, 218, 0.2);
	/* background: #36cbda; */
	width: 1px;
	top: 0px;
	height: calc(100% - 0px);
	margin-left: -10px !important;
	transition: 2s;
}
.date-line {
	position: absolute;
	z-index: 10;
	background: RGBA(54, 203, 218, 0.5);
	width: 2px;
	top: 0px;
	height: calc(100% - 0px);
	transition: 2s;
}
.date-line:hover {
	background: RGBA(54, 203, 218, 0.5);
}
.now-line {
	position: absolute;
	background: RGBA(54, 203, 218, 0.9);
	/* background: #36cbda; */
	width: 3px;
	top: 0px;
	// height: calc(100% - 0px);
	margin-left: 0px !important;
	z-index: 100;
}
.now-line:hover {
	background: RGBA(54, 203, 218, 0.5);
}

@media (max-width: 991px) {
	.timetable-content {
		width: calc(100% - 230px);
	}
}

.add-position {
	position: absolute;
	top: 32px;
	right: 10px;
	cursor: pointer;
}

/* .flight {
	  background: #b2347e;
	  border: 0px solid black;
	  padding: 10px 20px;
	  display: inline-block;
	  height:40px;
	  position: relative;
	  z-index: 1;
  } */
.planearea {
	background: #bfc9d3;
	height: 40px;
}

.planename {
	background: #fff;
	height: 40px;
	padding: 10px 0px;
	border: 1px solid black;
}

.dragging {
	/* background: #000; */
	opacity: 0.99;
	z-index: 500 !important;
}

.enableToDrop {
	background: red !important;
}

.draggable {
	cursor: move !important;
	user-select: none;
}

.aircraft-disabled {
	background: #000;
}

.movable:not(.dragging) {
	cursor: move !important;
	z-index: 1000 !important;
	opacity: 0.99;
}

.red {
	color: red;
}
.field {
	pointer-events: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 370px;
	right: 0px;
	// width: 100%;
	height: 100%;
	z-index: 9999;
}
@media (max-width: 991px) {
	.field {
		left: -170px;
	}
}
.viewTrigger {
	position: absolute;
	top: 60px;
	right: 10px;
	cursor: pointer;
	border: 2px solid #ccc;
	background: transparent;
	text-align: center;
	cursor: pointer;
	z-index: 9999;
	color: #313131;
	padding: 5px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
}
.selected {
	border-bottom: 2px red solid;
}
