<ng-container *ngIf="aircrafts?.length > 0">
  <div
    class="viewplus"
    matTooltip="Увеличить"
    *ngIf="scale < scales.length - 1"
    (click)="setScale(); getFlights(); resetScroll()"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
  </div>
  <div
    class="viewminus"
    matTooltip="Уменьшить"
    *ngIf="scale > 0"
    (click)="setScale(false); getFlights(); resetScroll()"
  >
    <i class="fa fa-minus" aria-hidden="true"></i>
  </div>
  <button
    mat-button
    [matMenuTriggerFor]="menu"
    id="menuBtn"
    style="display:none;"
  >
    Menu
  </button>
  <mat-menu #menu="matMenu" (close)="onMenuClosed()">
    <a
      class="context-dropdown-item"
      (click)="
        onMoveflight(
          selectedSpecificflight,
          getFlighttempltatebyId(selectedSpecificflight?.flighttemplate_id),
          getFlightbyId(selectedSpecificflight?.flight_id)
        )
      "
      >Подвинуть рейс</a
    >
    <a
      class="context-dropdown-item"
      (click)="
        onEditFlight(
          selectedSpecificflight,
          getFlighttempltatebyId(selectedSpecificflight?.flighttemplate_id),
          getFlightbyId(selectedSpecificflight?.flight_id),
          'single',
          $event
        )
      "
      >Редактировать рейс</a
    >
    <!-- <a class="context-dropdown-item"
      (click)="onEditFlight(selectedSpecificflight, getFlighttempltatebyId(selectedSpecificflight?.flighttemplate_id), getFlightbyId(selectedSpecificflight?.flight_id), 'multi')">Редактировать
      шаблон</a> -->
  </mat-menu>
  <div class="field"></div>
  <mat-tab-group
    class="tab-group-top"
    [(selectedIndex)]="selectedIndex"
    (selectedTabChange)="selectScenario($event)"
  >
    <mat-tab label="Основной сценарий">
      <div class="tab-content">
        <mat-card>
          <form [formGroup]="filterForm">
            <div class="row" [style.margin-bottom]="'20px'">
              <div [style.width]="'195px'" [style.padding-top]="'15px'"></div>
              <div class="col-xl-6 col-lg-8 col-12 d-inline">
                <mat-form-field>
                  <input
                    AUTOCOMPLETE="off"
                    matInput
                    [matDatepicker]="pickerdatebegin"
                    placeholder="От"
                    formControlName="from"
                    (dateChange)="updateData(true)"
                    (blur)="updateData(true)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerdatebegin"
                  ></mat-datepicker-toggle>
                  <mat-datepicker
                    #pickerdatebegin
                    startView="year"
                  ></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="ml-4">
                  <input
                    AUTOCOMPLETE="off"
                    matInput
                    [matDatepicker]="pickerdateend"
                    placeholder="До"
                    formControlName="to"
                    (dateChange)="updateData(true)"
                    (blur)="updateData(true)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerdateend"
                  ></mat-datepicker-toggle>
                  <mat-datepicker
                    #pickerdateend
                    startView="year"
                  ></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="add-position" *ngIf="accessLevel == 2">
                <button
                  type="button"
                  (click)="onCreateFlight(1)"
                  class="btn btn-primary btnshadow float-right ml-2"
                >
                  Добавить шаблон
                </button>
                <button
                  type="button"
                  (click)="onCreateFlight(0)"
                  class="btn btn-primary btnshadow float-right"
                >
                  Добавить рейс
                </button>
              </div>
            </div>
          </form>
          <div class="timetable row" style="position: inherit; z-index: 13;">
            <div class="timetable-sidebar">
              <div
                class="aircraft d-flex justify-content-center"
                *ngFor="let aircraft of aircrafts"
                [style.margin-bottom]="'5px'"
              >
                <span
                  >{{ aircraft.code }}<br />{{
                    aircraft?.flightTime?.strHM
                  }}</span
                >
              </div>
              <ng-container
                *ngIf="
                  authService.loggedInUser?.isadmin == true &&
                  outofaircrafts[0]?.specificflights.length > 0
                "
              >
                <div [style.height]="'58px'"></div>
                <div
                  class="aircraft d-flex justify-content-center"
                  *ngFor="let outofaircraft of outofaircrafts"
                  [style.margin-bottom]="'5px'"
                >
                  <span>---</span>
                </div>
              </ng-container>
            </div>
            <div
              [style.overflow-x]="'auto'"
              [style.overflow-y]="'hidden'"
              class="timetable-content"
              style="position: inherit;"
              #timelineArea
              (scroll)="getScrollPos()"
            >
              <div class="past" [style.width]="pastWidth?.str"></div>
              <div
                [style.height]="aircrafts.length * 70 + 61 + 'px'"
                [style.left]="pastWidth?.str"
                class="now-line"
                *ngIf="pastWidth?.val > 0 && pastWidth.val < width.val"
              ></div>
              <ng-container *ngIf="scale == scales.length - 1">
                <div
                  [style.margin-left]="' 10px'"
                  [style.left]="'105px'"
                  class="scale-line"
                ></div>
                <ng-container *ngFor="let item of timeScale; let i = index">
                  <div
                    [style.margin-left]="'10px'"
                    [style.left]="95 * i + 10 + 'px'"
                    class="scale-line"
                    *ngIf="i > 1"
                  ></div>
                </ng-container>
              </ng-container>
              <ng-container>
                <ng-container *ngFor="let item of dateScale; let i = index">
                  <div
                    [style.left]="item._val - 0 + 'px'"
                    class="date-line"
                    *ngIf="i > 0"
                  ></div>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let aircraft of aircrafts">
                <div
                  [style.width]="width?.str"
                  class="_row"
                  [attr.aircraft_id]="aircraft.id"
                  id="{{ aircraft.aircraftmodel_id }}"
                  style="position: inherit;"
                >
                  <ng-container
                    *ngFor="
                      let item of dateScale;
                      let i = index;
                      let first = first
                    "
                  >
                    <div
                      [attr.aircraft_id]="aircraft.id"
                      id="{{ aircraft.aircraftmodel_id }}"
                      *ngIf="first"
                      class="day-block"
                      [style.width]="dayWidth?.str"
                      [style.left]="dayWidth?.val * i + 'px'"
                      [ngClass]="{
                        weekend:
                          dateScale[i]?.day == 'вс' || dateScale[i]?.day == 'пн'
                      }"
                    ></div>
                    <div
                      [attr.aircraft_id]="aircraft.id"
                      id="{{ aircraft.aircraftmodel_id }}"
                      *ngIf="!first"
                      class="day-block"
                      [style.width]="dayWidth?.str"
                      [style.left]="dayWidth?.val * i + 'px'"
                      [ngClass]="{
                        weekend:
                          dateScale[i]?.day == 'вс' || dateScale[i]?.day == 'сб'
                      }"
                    ></div>
                  </ng-container>
                  <ng-container
                    *ngFor="
                      let specificflight of aircraft.specificflights;
                      let s_i = index;
                      let s_first = first;
                      let s_last = last
                    "
                  >
                    <ng-container>
                      <div
                        (contextmenu)="onContext($event, specificflight)"
                        class="flight"
                        [ngClass]="{ selected: isSelected(specificflight.id) }"
                        [style.width]="specificflight?._flightWidth?.str"
                        [style.left]="specificflight?._left?.str"
                        (click)="
                          onEditFlight(
                            specificflight,
                            getFlighttempltatebyId(
                              specificflight?.flighttemplate_id
                            ),
                            getFlightbyId(specificflight?.flight_id),
                            'single',
                            $event
                          )
                        "
                      >
                        <div
                          class="flight-number float-left text-center"
                          *ngIf="specificflight?._flightWidth?.val > 5"
                        >
                          <i
                            class="fa fa-arrow-right"
                            aria-hidden="true"
                            *ngIf="specificflight?.flight_direction == 0"
                          ></i>
                          <i
                            class="fa fa-arrow-left"
                            aria-hidden="true"
                            *ngIf="specificflight?.flight_direction == 1"
                          ></i>
                          <br />
                          {{ specificflight?.flight_number }}
                        </div>
                        <ng-container
                          *ngFor="
                            let flightpoint of specificflight?.flightpoints;
                            let i = index;
                            let first = first;
                            let last = last
                          "
                        >
                          <div
                            appTooltipFlight
                            [airports]="airports"
                            [data]="[
                              flightpoint,
                              (specificflight?.flightpoints)[i + 1],
                              specificflight,
                              flightpoint.pilots
                            ]"
                            class="flightpoint"
                            [style.width]="flightpoint._widthview + 'px'"
                            [style.left]="flightpoint._leftview + 'px'"
                            *ngIf="!last"
                          >
                            <div
                              class="f-info-begin"
                              *ngIf="
                                !getFlightpointWidth(
                                  flightpoint?.calc_departure_datatime,
                                  (specificflight?.flightpoints)[i + 1]
                                    ?.calc_arrival_datatime
                                )?.cutFrom
                              "
                            >
                              {{ getAirportByid(flightpoint?.airport_id).code }}
                              <br />{{
                                flightpoint?.calc_departure_datatime
                                  | date: 'HH:mm'
                              }}
                            </div>
                            <div
                              class="f-info-end"
                              *ngIf="
                                !getFlightpointWidth(
                                  flightpoint?.calc_departure_datatime,
                                  (specificflight?.flightpoints)[i + 1]
                                    ?.calc_arrival_datatime
                                ).cutTo
                              "
                            >
                              {{
                                getAirportByid(
                                  (specificflight?.flightpoints)[i + 1]
                                    ?.airport_id
                                ).code
                              }}
                              <br />{{
                                (specificflight?.flightpoints)[i + 1]
                                  ?.calc_arrival_datatime | date: 'HH:mm'
                              }}
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div
                        class="_flight"
                        [attr.aircraft_id]="aircraft.id"
                        id="{{ aircraft.aircraftmodel_id }}"
                        *ngIf="!s_last"
                        [style.left]="
                          specificflight?._left?.val +
                          specificflight?._flightWidth?.val +
                          'px'
                        "
                        [style.width]="
                          getWidth(
                            specificflight?.calc_arrival_datatime,
                            aircraft.specificflights[s_i + 1]
                              .calc_departure_datatime
                          )?.str
                        "
                        matTooltip="{{ specificflight?.onGroundTime?.str }}"
                      ></div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <div
                [style.width]="width?.str"
                class="row"
                [style.margin-bottom]="'5px'"
                *ngIf="scale == scales.length - 1"
              >
                <span
                  class="scale text-right"
                  [style.width]="'35px'"
                  [style.margin-left]="'60px'"
                  *ngFor="let i of timeScale; let last = last"
                >
                  <span *ngIf="!last">{{
                    i | date: '&nbsp;&nbsp;&nbsp;HH:mm'
                  }}</span>
                </span>
              </div>
              <div
                [style.width]="width?.str"
                class="row"
                [style.margin-bottom]="'0px'"
                *ngIf="dateScale.length > 1"
              >
                <ng-container
                  *ngFor="
                    let i of dateScale;
                    let last = last;
                    let first = first
                  "
                >
                  <span
                    *ngIf="first"
                    class="scaledate text-center"
                    [style.width]="'35px'"
                    [style.margin-left]="
                      dateScale[1].val - 12 * (60 / scales[scale]) - 25 + 'px'
                    "
                    [ngClass]="{ red: i.day == 'вс' || i.day == 'сб' }"
                  >
                    <span *ngIf="!last">{{ i.date | date: 'dd.MM' }}</span
                    ><br />
                    <span *ngIf="!last">&nbsp;{{ i.day }}</span>
                  </span>
                  <span
                    *ngIf="!first"
                    class="scaledate text-center"
                    [style.width]="'35px'"
                    [style.margin-left]="dateScale[1].val - 35 + 'px'"
                    [ngClass]="{ red: i.day == 'вс' || i.day == 'сб' }"
                  >
                    <span>{{ i.date | date: 'dd.MM' }}</span
                    ><br />
                    <span>&nbsp;{{ i.day }}</span>
                  </span>
                </ng-container>
              </div>
              <div
                [style.z-index]="'999'"
                [style.width]="width?.str"
                class="row"
                *ngIf="pastWidth?.val > 0 && pastWidth.val < width.val"
              >
                <span
                  class="scalenow text-center"
                  [style.width]="'35px'"
                  [style.margin-left]="pastWidth?.val - 27 + 'px'"
                >
                  <span>{{ now | date: 'HH:mm' }}</span>
                </span>
              </div>
              <ng-container
                *ngIf="
                  authService?.loggedInUser?.isadmin == true &&
                  outofaircrafts[0]?.specificflights.length > 0
                "
              >
                <ng-container
                  *ngFor="let outofaircraft of outofaircrafts; let idx = index"
                >
                  <div
                    [style.width]="width?.str"
                    [style.margin-top]="'26px'"
                    class="_row"
                    style="position: relative"
                    [attr.aircraft_id]="'all'"
                  >
                    <div
                      appMovable
                      (startGrag)="onDragStart(specificflight)"
                      (stopTimePoint)="onDragStop($event, specificflight, idx)"
                      (mousedown)="
                        currentaircraftmodel_id =
                          specificflight?.aircraftmodel_id
                      "
                      (mouseup)="currentaircraftmodel_id = null"
                      [aircraftmodel_id]="specificflight?.aircraftmodel_id"
                      class="flightout"
                      [style.width]="specificflight?._flightWidth?.str"
                      [style.left]="specificflight?._left?.str"
                      *ngFor="
                        let specificflight of outofaircraft.specificflights
                      "
                      (dblclick)="
                        onPreEditFlight(
                          specificflight,
                          getFlighttempltatebyId(
                            specificflight?.flighttemplate_id
                          ),
                          getFlightbyId(specificflight?.flight_id)
                        )
                      "
                    >
                      <div
                        class="flight-number float-left text-center"
                        *ngIf="specificflight?._flightWidth?.val > 5"
                      >
                        <i
                          class="fa fa-arrow-right"
                          aria-hidden="true"
                          *ngIf="
                            getFlightbyId(
                              getFlighttempltatebyId(
                                specificflight?.flighttemplate_id
                              )?.flight_id
                            )?.flight_direction == 0
                          "
                        ></i>
                        <i
                          class="fa fa-arrow-left"
                          aria-hidden="true"
                          *ngIf="
                            getFlightbyId(
                              getFlighttempltatebyId(
                                specificflight?.flighttemplate_id
                              )?.flight_id
                            )?.flight_direction == 1
                          "
                        ></i>
                        <br />
                        {{
                          getFlightbyId(specificflight?.flight_id)
                            ?.flight_number
                        }}
                      </div>
                      <ng-container
                        *ngFor="
                          let flightpoint of specificflight?.flightpoints;
                          let i = index;
                          let first = first;
                          let last = last
                        "
                      >
                        <div
                          class="flightpoint"
                          [style.width]="
                            getFlightpointWidth(
                              flightpoint?.calc_departure_datatime,
                              (specificflight?.flightpoints)[i + 1]
                                ?.calc_arrival_datatime
                            ).str
                          "
                          [style.left]="
                            getLeft2(
                              specificflight?.calc_departure_datatime,
                              (specificflight?.flightpoints)[i]
                                .calc_departure_datatime
                            ).str
                          "
                          *ngIf="!last"
                        >
                          <div
                            class="f-info-begin"
                            *ngIf="
                              !getFlightpointWidth(
                                flightpoint?.calc_departure_datatime,
                                (specificflight?.flightpoints)[i + 1]
                                  ?.calc_arrival_datatime
                              )?.cutFrom
                            "
                          >
                            {{ getAirportByid(flightpoint?.airport_id).code }}
                            <br />{{
                              flightpoint?.calc_departure_datatime
                                | date: 'HH:mm'
                            }}
                          </div>
                          <div
                            class="f-info-end"
                            *ngIf="
                              !getFlightpointWidth(
                                flightpoint?.calc_departure_datatime,
                                (specificflight?.flightpoints)[i + 1]
                                  ?.calc_arrival_datatime
                              ).cutTo
                            "
                          >
                            {{
                              getAirportByid(
                                (specificflight?.flightpoints)[i + 1]
                                  ?.airport_id
                              ).code
                            }}
                            <br />{{
                              (specificflight?.flightpoints)[i + 1]
                                ?.calc_arrival_datatime | date: 'HH:mm'
                            }}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
