<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="subdivisionForm">
      <div class="row">
        <div class="col-4">
          <label for="name">Название подразделения*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="name"
              id="name"
              class="form-control"
              placeholder=""
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="arname_rus">Код</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="code"
              id="code"
              class="form-control"
              placeholder=""
              formControlName="code"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="city_rus">Тип*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select class="form-control" formControlName="type">
              <option [ngValue]="0">
                Обычное
              </option>
              <option [ngValue]="1">
                Летное
              </option>
              <option [ngValue]="2">
                Служба бортпроводников
              </option>
            </select>
          </div>
        </div>
      </div>
      <ng-container *ngIf="subdivisionForm.value.type == 1">
        <div class="row">
          <div class="col-4">
            <label for="aircraftmodelgroup_id">Модель ВС</label>
          </div>
          <div class="col-8">
            <div class="form-group">
              <select
                class="form-control"
                formControlName="aircraftmodelgroup_id"
              >
                <option
                  [ngValue]="aircraftmodelgroup.id"
                  *ngFor="let aircraftmodelgroup of data.aircraftmodelgroups"
                >
                  {{ aircraftmodelgroup.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <form [formGroup]="subdivisionfileForm">
      <div class="row">
        <div class="col-4">
          <label for="revnumber">Номер ревизии</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="revnumber"
              id="revnumber"
              class="form-control"
              placeholder=""
              formControlName="revnumber"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="revdate">Дата ревизии</label>
        </div>
        <div class="col-8">
          <mat-form-field [style.margin-top]="'-15px'">
            <input
              AUTOCOMPLETE="off"
              matInput
              [matDatepicker]="pickerdatebegin"
              placeholder=""
              formControlName="revdate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerdatebegin"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerdatebegin startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="sbdivfile">Положение</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="file"
              id="sbdivfile"
              name="sbdivfile"
              class="form-control"
              placeholder=""
              (change)="onFilesChange($event)"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          [disabled]="!subdivisionForm.valid"
          (click)="onSave()"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="null"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
