<mat-card>
  <mat-card-header>
    <mat-card-title>Сотрудник</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="ФИО"
          [matAutocomplete]="airuser"
          [formControl]="userCtrl"
        />
        <div class="input-group-append">
          <button
            (click)="selectAiruser(null)"
            class="btn btn-outline-secondary"
            type="button"
          >
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
        <mat-autocomplete #airuser="matAutocomplete">
          <mat-option
            class="typeheadoption"
            *ngFor="let user of filteredUsers | async"
            [value]="user.name + ' ' + user.surname"
            (onSelectionChange)="selectAiruser(user.id)"
          >
            <span>{{ user.name }} {{ user.surname }}</span>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 float-right">
      <button
        type="button"
        class="btn btn-danger float-right"
        (click)="setDefaultAccess()"
        [disabled]="
          !(selectedId != null && selectedUserAccess?.length > 0)
        "
      >
        Вернуть права по умолчанию
      </button>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Доступ к расписанию</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="getTt"
            [(ngModel)]="getTt"
            [disabled]="true"
            (change)="ttChanges = true"
          />
          <label class="custom-control-label" for="getTt">Просмотр</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="editTt"
            [(ngModel)]="editTt"
            [disabled]="editTtDisabled"
            (change)="ttChanges = true"
          />
          <label class="custom-control-label" for="editTt">Изменение</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSaveTt()"
        type="button"
        [disabled]="selectedId == null || ttChanges === false"
      >
        Сохранить
      </button>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Доступ к подразделению</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <!-- <label for="subdivision_id">Подразделение*</label> -->
        <select
          [disabled]="selectedId == null"
          placeholder="Подразделение"
          class="form-control"
          (change)="selectSubdiv($event.target.value)"
          [(ngModel)]="selectedSubdivId"
        >
          <option
            *ngFor="let subdivision of subdivisionsView"
            [value]="subdivision.id"
          >
            {{ subdivision.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="getHr"
            [(ngModel)]="getHr"
            [disabled]="getHrDisabled || _getHrDisabled"
            (change)="checkAccessToAiruser(); hrChanges = true"
          />
          <label class="custom-control-label" for="getHr"
            >Просмотр кадровых данных</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="editHr"
            [(ngModel)]="editHr"
            [disabled]="editHrDisabled || _editHrDisabled"
            (change)="checkAccessToAiruser(); hrChanges = true"
          />
          <label class="custom-control-label" for="editHr"
            >Изменение кадровых данных</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="editDoc"
            [(ngModel)]="editDoc"
            [disabled]="editDocDisabled || _editDocDisabled"
            (change)="checkAccessToAiruser(); docChanges = true"
          />
          <label class="custom-control-label" for="editDoc"
            >Управление документацией</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="getPi"
            [(ngModel)]="getPi"
            [disabled]="getPiDisabled || _getPiDisabled"
            (change)="checkAccessToAiruser(); piChanges = true"
          />
          <label class="custom-control-label" for="getPi"
            >Доступ к планированию</label
          >
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="editPi"
            [(ngModel)]="editPi"
            [disabled]="editPiDisabled || _editPiDisabled"
            (change)="checkAccessToAiruser(); piChanges = true"
          />
          <label class="custom-control-label" for="editPi"
            >Управление планированием</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSaveSbdv()"
        type="button"
        [disabled]="
          selectedId == null ||
          selectedSubdivId == null ||
          (hrChanges === false && docChanges === false)
        "
      >
        Сохранить
      </button>
    </div>
  </div>
</mat-card>
