<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="formPeriodFlight">
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <input
              AUTOCOMPLETE="off"
              matInput
              [matDatepicker]="pickerfitst_day"
              placeholder="Начало периода"
              formControlName="Flighttemplate_fitst_day"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerfitst_day"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerfitst_day startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <input
              AUTOCOMPLETE="off"
              matInput
              [min]="formPeriodFlight?.value?.Flighttemplate_fitst_day"
              [matDatepicker]="pickerlast_day"
              placeholder="Конец периода"
              formControlName="Flighttemplate_last_day"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerlast_day"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerlast_day startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4">
          <mat-form-field class="full-width">
            <input
              AUTOCOMPLETE="off"
              matInput
              placeholder="Выбрать номер рейса*"
              [matAutocomplete]="autoflight"
              [formControl]="flightCtrl"
              formControlName="Flight_flight_id"
            />
            <mat-autocomplete #autoflight="matAutocomplete">
              <mat-option
                *ngFor="let flight of filteredFlights | async"
                [value]="flight.flight_number"
                (onSelectionChange)="setFlight_number(flight.id)"
              >
                <span>{{ flight.flight_number }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <input
              AUTOCOMPLETE="off"
              matInput
              placeholder="Номер нового рейса"
              formControlName="Flight_flight_number"
              (change)="setFlight_numberInput()"
            />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field [style.margin-right]="'50px'">
            <mat-select
              placeholder="ВС*"
              formControlName="aircraft_id"
              (selectionChange)="loadedlayout = false"
            >
              <mat-option
                [value]="aircraft.id"
                *ngFor="let aircraft of aircrafts"
              >
                {{ aircraft.code }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <mat-form-field [style.margin-right]="'50px'">
            <mat-select
              placeholder="Тип шаблона"
              formControlName="Flightlayout_type"
              (selectionChange)="selectType(); loadedlayout = false"
            >
              <mat-option
                [value]="flightlayoutType.key"
                *ngFor="let flightlayoutType of flightlayoutTypes"
              >
                {{ flightlayoutType.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field [style.margin-right]="'50px'">
            <mat-select
              placeholder="Тип ВС*"
              formControlName="Flighttemplate_aircraftmodel_id"
              (selectionChange)="loadedlayout = false"
            >
              <mat-option
                [value]="aircraftmodel.id"
                *ngFor="let aircraftmodel of aircraftmodels"
              >
                {{ aircraftmodel.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field [style.margin-right]="'50px'">
            <mat-select
              placeholder="Категория рейса*"
              formControlName="Flight_flight_type"
              (selectionChange)="loadedlayout = false"
            >
              <mat-option
                [value]="flightType.key"
                *ngFor="let flightType of flightTypes"
              >
                {{ flightType.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="formPeriodFlight.value?.Flightlayout_type != null">
        <form
          [formGroup]="periodDay"
          *ngFor="let periodDay of formsPeriodDays; let i = index"
        >
          <hr />
          <ng-container *ngIf="formPeriodFlight.value.Flightlayout_type == 1">
            <div class="row">
              <div class="col-3">
                <mat-form-field [style.margin-right]="'50px'">
                  <mat-select
                    placeholder="День недели"
                    formControlName="day"
                    multiple
                    (selectionChange)="loadedlayout = false"
                  >
                    <mat-option
                      [value]="k"
                      *ngFor="let weekday of weekdays; let k = index"
                      [disabled]="isDaySelected(i, k)"
                    >
                      {{ weekday }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="row">
										<div class="col-3">
											<mat-form-field [style.margin-right]="'50px'">
												<mat-select placeholder="ВС*" formControlName="aircraft_id" (selectionChange)="loadedlayout = false">
													<mat-option [value]="aircraft.id" *ngFor="let aircraft of aircrafts">
														{{aircraft.code}}
													</mat-option>
												</mat-select>
											</mat-form-field>
										</div>
									</div> -->
          </ng-container>
          <div class="row">
            <div class="col-3">
              <!-- <mat-form-field [style.margin-right]="'50px'">
                <mat-select
                  placeholder="Аэропорт вылета*"
                  formControlName="departure_airport_id"
                  (selectionChange)="loadedlayout = false"
                >
                  <mat-option
                    [value]="airport.id"
                    *ngFor="let airport of airports"
                  >
                    {{ airport.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field [style.margin-right]="'50px'">
                <input
                  AUTOCOMPLETE="off"
                  matInput
                  placeholder="Аэропорт вылета*"
                  formControlName="departure_airport_id"
                />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="time-field-p">
                <input
                  AUTOCOMPLETE="off"
                  id="timebegin"
                  matInput
                  [textMask]="{ mask: timeMaskInput }"
                  placeholder="Время вылета"
                  formControlName="timebegin"
                  (blur)="onCalcTime(true); loadedlayout = false"
                  (change)="onCalcTime(true); loadedlayout = false"
                />
              </mat-form-field>
            </div>
          </div>
          <div
            *ngFor="
              let extraairport of formsPeriodExtraairports[i];
              let j = index
            "
          >
            <form [formGroup]="extraairport">
              <div class="row">
                <div class="col-3">
                  <mat-form-field [style.margin-right]="'50px'">
                    <mat-select
                      placeholder="Промежуточный аэропорт"
                      formControlName="airport_id"
                      (selectionChange)="loadedlayout = false"
                    >
                      <mat-option
                        [value]="airport.id"
                        *ngFor="let airport of airports"
                      >
                        {{ airport.code }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field class="time-field-p">
                    <input
                      AUTOCOMPLETE="off"
                      id="timeend"
                      matInput
                      [textMask]="{ mask: timeMaskInput }"
                      placeholder="Время прилета"
                      formControlName="timeend"
                      (blur)="onCalcTime(true); loadedlayout = false"
                      (change)="onCalcTime(true); loadedlayout = false"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-2">
                  <mat-form-field class="time-field-p">
                    <input
                      AUTOCOMPLETE="off"
                      id="timebegin"
                      matInput
                      [textMask]="{ mask: timeMaskInput }"
                      placeholder="Время вылета"
                      formControlName="timebegin"
                      (blur)="onCalcTime(true); loadedlayout = false"
                      (change)="onCalcTime(true); loadedlayout = false"
                    />
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <button
                  type="button"
                  mat-button
                  color="primary"
                  (click)="onAddPeriodExtraairport(i); loadedlayout = false"
                >
                  Добавить промежуточный аэропорт
                </button>
                <button
                  *ngIf="formsPeriodExtraairports[i].length > 0"
                  type="button"
                  mat-button
                  color="warn"
                  (click)="onDelPeriodExtraairport(i); loadedlayout = false"
                >
                  Убрать
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <!-- <mat-form-field [style.margin-right]="'50px'">
                <mat-select
                  placeholder="Аэропорт прилета*"
                  formControlName="arrival_airport_id"
                  (selectionChange)="loadedlayout = false"
                >
                  <mat-option
                    [value]="airport.id"
                    *ngFor="let airport of airports"
                  >
                    {{ airport.code }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field [style.margin-right]="'50px'">
                <input
                  AUTOCOMPLETE="off"
                  matInput
                  placeholder="Аэропорт прилета*"
                  formControlName="arrival_airport_id"
                />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="time-field-p">
                <input
                  AUTOCOMPLETE="off"
                  id="timeend"
                  matInput
                  [textMask]="{ mask: timeMaskInput }"
                  placeholder="Время прилета"
                  formControlName="timeend"
                  (blur)="onCalcTime(true); loadedlayout = false"
                  (change)="onCalcTime(true); loadedlayout = false"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
        <hr />
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <button
                type="button"
                mat-button
                color="primary"
                (click)="onAddPeriodDay()"
              >
                Добавить день в шаблон
              </button>
              <button
                *ngIf="formsPeriodDays.length > 1"
                type="button"
                mat-button
                color="warn"
                (click)="onDelPeriodDay()"
              >
                Убрать
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary mr-1" (click)="onSave()">
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="false"
        >
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>
