<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="institution_place">Фамилия*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="fmsurname" id="fmsurname" class="form-control" placeholder=""
            [(ngModel)]="data.surname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="specialty">Имя*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="fmname" id="fmname" class="form-control" placeholder=""
            [(ngModel)]="data.name">
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-4">
        <label for="patronymic">Отчество*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="fmpatronymic" id="fmpatronymic" class="form-control"
            placeholder="" [(ngModel)]="data.patronymic">
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-4">
        <label for="dt_of_birth">Дата рождения*</label>
      </div>
      <div class="col-8 mmt-15">
        <mat-form-field>
          <input autocomplete="nope" name="dt_of_birth" matInput [matDatepicker]="dt_of_birth" placeholder=""
            [(ngModel)]="data.dt_of_birth">
          <mat-datepicker-toggle matSuffix [for]="dt_of_birth"></mat-datepicker-toggle>
          <mat-datepicker #dt_of_birth startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <label for="relationdegree_id">Степень родства*</label>
      </div>
      <div class="col-8">
        <select class="form-control" [(ngModel)]="data.relationdegree_id" placeholder="">
          <option *ngFor="let _relationdegree of data.relationdegrees" [value]="_relationdegree.id">
            {{ _relationdegree.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="work_place">Место работы*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="work_place" id="work_place" class="form-control" placeholder=""
            [(ngModel)]="data.work_place">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="work_position">Должность*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="work_position" id="work_position" class="form-control"
            placeholder="" [(ngModel)]="data.work_position">
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data"
          [disabled]="!isValid()">Сохранить</button>
        <button type="button" class="btn btn-light mr-2" [mat-dialog-close]="false">Отмена</button>
        <button type="button" class="btn btn-danger" [mat-dialog-close]="'delete'">Удалить</button>
      </div>
    </div>
  </div>
</div>