<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="institution_place">Наименование*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="institution_place" id="institution_place" class="form-control"
            placeholder="" [(ngModel)]="data.institution_place">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="specialty">Специальность*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="specialty" id="specialty" class="form-control" placeholder=""
            [(ngModel)]="data.specialty">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="diploma_number">№ диплома*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="diploma_number" id="diploma_number" class="form-control"
            placeholder="" [(ngModel)]="data.diploma_number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="finish_year">Год окончания*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input maxlength=4 type="text" autocomplete="nope" name="finish_year" id="finish_year" class="form-control"
            placeholder="" [(ngModel)]="data.finish_year">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="event">Скан диплома</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="file" accept=".jpg, .png, .pdf, .tiff" class="form-control" placeholder=""
            (change)="data.event = $event">
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data"
          [disabled]="!isValid()">Сохранить</button>
        <button type="button" class="btn btn-light mr-2" [mat-dialog-close]="false">Отмена</button>
        <button type="button" class="btn btn-danger" [mat-dialog-close]="'delete'">Удалить</button>
      </div>
    </div>
  </div>
</div>