<mat-tab-group class="tab-group">
  <mat-tab label="Типы сертификатов пилотов">
    <mat-card>
      <div class="row">
        <div class="col-8">
          <div class="input-group">
            <input
              type="text"
              autocomplete="nope"
              name="certificatetypesPilotSearch"
              id="certificatetypesPilotSearch"
              class="form-control"
              placeholder="Фильтр"
              [(ngModel)]="certificatetypesPilotSearch"
            />
            <div class="input-group-append">
              <button
                (click)="certificatetypesPilotSearch = ''"
                class="btn btn-outline-secondary"
                type="button"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <button
            type="button"
            (click)="onAddCertificatetype(1)"
            class="btn btn-primary btnshadow float-right"
          >
            Добавить тип сертификата
          </button>
        </div>
        <div class="col-12 mt-4">
          <table class="table list-table full-width">
            <thead>
              <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Активен</th>
              </tr>
            </thead>
            <tbody>
              <tr
                [ngClass]="{ disabled: cert?.id <= 27 }"
                *ngFor="
                  let cert of certificatetypesPilot
                    | dictFilter: certificatetypesPilotSearch
                "
              >
                <td (click)="onEditCertificatetype(cert)">
                  {{ cert.name }}
                </td>
                <td>
                  Сертификат пилота
                </td>
                <td>
                  {{ cert.active === true ? 'Да' : ' Нет' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Типы сертификатов бортпроводников">
    <mat-card>
      <div class="row">
        <div class="col-8">
          <div class="input-group">
            <input
              type="text"
              autocomplete="nope"
              name="certificatetypesStewardSearch"
              id="certificatetypesStewardSearch"
              class="form-control"
              placeholder="Фильтр"
              [(ngModel)]="certificatetypesStewardSearch"
            />
            <div class="input-group-append">
              <button
                (click)="certificatetypesStewardSearch = ''"
                class="btn btn-outline-secondary"
                type="button"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <button
            type="button"
            (click)="onAddCertificatetype(2)"
            class="btn btn-primary btnshadow float-right"
          >
            Добавить тип сертификата
          </button>
        </div>
        <div class="col-12 mt-4">
          <table class="table list-table full-width">
            <thead>
              <tr>
                <th>Название</th>
                <th>Тип</th>
                <th>Активен</th>
              </tr>
            </thead>
            <tbody>
              <tr
                [ngClass]="{ disabled: cert?.id <= 27 }"
                *ngFor="
                  let cert of certificatetypesSteward
                    | dictFilter: certificatetypesStewardSearch
                "
              >
                <td (click)="onEditCertificatetype(cert)">
                  {{ cert.name }}
                </td>
                <td>
                  Сертификат бортпроводника
                </td>
                <td>
                  {{ cert.active === true ? 'Да' : ' Нет' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>
