<aside class="sidebar">
  <div class="sidebar-container">
    <nav class="menu">
      <ng-container *ngIf="mainMenuHrsys.length>0">
        <ul class="nav sidebar-nav">
          <ng-container *ngFor="let menu of mainMenuHrsys">
            <li routerLinkActive="active">
              <a [routerLink]="[menu.modulLink, menu.link]">
                {{menu.text}}
                <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                  class="fa fa-fw {{menu.icon}}"></i>
              </a>
            </li>
          </ng-container>
          <li>
            <hr>
          </li>
        </ul>
        <hr>
      </ng-container>
      <ng-container *ngIf="mainMenuTimetablesys.length>0">
        <ul class="nav sidebar-nav">
          <ng-container *ngFor="let menu of mainMenuTimetablesys">
            <li
              [ngClass]="{'active': router.url === '/sys/timetable/list' || router.url === '/sys/timetable/fpgraphic/0'}">
              <a [routerLink]="[menu.modulLink, menu.link]">
                {{menu.text}}
                <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                  class="fa fa-fw {{menu.icon}}"></i>
              </a>
            </li>
          </ng-container>
          <ng-container *ngFor="let menu of bdMenuTimetablesys">
            <li routerLinkActive="active">
              <a [routerLink]="[menu.modulLink, menu.link]">
                {{menu.text}}
                <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                  class="fa fa-fw {{menu.icon}}"></i>
              </a>
            </li>
          </ng-container>
          <li>
            <hr>
          </li>
        </ul>
        <hr>
      </ng-container>
      <ng-container *ngIf="mainMenuPilotsys.length>0">
        <ul class="nav sidebar-nav">
          <ng-container *ngFor="let menu of mainMenuPilotsys">
            <li routerLinkActive="active">
              <ng-container *ngIf="menu.params.length == 0">
                <a [routerLink]="[menu.modulLink, menu.link]">
                  {{menu.text}}
                  <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                    class="fa fa-fw {{menu.icon}}"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="menu.params.length == 1">
                <a [routerLink]="[menu.modulLink, menu.link, menu.params[0]]">
                  {{menu.text}}
                  <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                    class="fa fa-fw {{menu.icon}}"></i>
                </a>
              </ng-container>
            </li>
          </ng-container>
          <li>
            <hr>
          </li>
        </ul>
        <hr>
      </ng-container>
      <ul class="nav sidebar-nav">
        <ng-container *ngFor="let menu of mainMenuDocsys">
          <li routerLinkActive="active">
            <a [routerLink]="[menu.modulLink, menu.link]" *ngIf="menu.text=='logo.docs'">
              {{menu.text | translate}}
              <span class="badge badge-warning"
                *ngIf="acquaintanceLoggedInUserCount>0">{{acquaintanceLoggedInUserCount}}</span>
              <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                class="fa fa-fw {{menu.icon}}"></i>
            </a>
            <a [routerLink]="[menu.modulLink, menu.link]" *ngIf="menu.text!='logo.docs'">
              {{menu.text | translate}}
              <i [style.float]="'right'" [style.margin-top]="'3px'" [style.margin-left]="'25px'"
                class="fa fa-fw {{menu.icon}}"></i>
            </a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</aside>