.full-height {
	height: 100% !important;
}

.data-field {
	width: 155px;
}

.full-field {
	width: 100%;
}

.time-field {
	width: 90px;
}

.time-field-p {
	width: 180px;
}

.flight_number {
	cursor: pointer;
	background-color: #fff !important;
	border: 1px solid #ecf6f6;
	border-radius: 20px !important;
	padding: 5px 20px;
	margin: 18px 3px 0 0;
	color: #3f4849;
	font-family: GillSans-Light;
	font-size: 16px;
	font-weight: 700;
	float: left;
}

.selected {
	border: 1px solid #2bbecd !important;
}

.row {
	padding-left: 15px;
}

hr {
	background-color: #e2f5f7;
	height: 1px;
	width: 100%;
	border: 0;
}
