<div class="dialog-base">
  <div mat-dialog-actions>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <div class="row">
      <div class="col-12">
        <div
          class="flight_number"
          [ngClass]="{ selected: selectedIndex == i }"
          *ngFor="let flightpoint of data.flightpoints; let i = index"
          (click)="onSelectflight(i)"
        >
          {{ flightpoint.flight_number }}
        </div>
        <div
          class="flight_number"
          [ngClass]="{ selected: selectedIndex == i }"
          *ngFor="
            let flightpointinchain of data.flightpointsinchain;
            let i = index
          "
          (click)="onSelectflightpointinchain(i)"
        >
          {{ flightpointinchain.name }}
        </div>
      </div>
    </div>
    <form [formGroup]="activityForm">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="activityname_id"
              placeholder="Выберите активность"
            >
              <option
                [ngValue]="activityname.id"
                *ngFor="let activityname of data.activitynames"
              >
                {{ activityname.name }}
              </option>
            </select>
          </div>
        </div>
        <div
          class="col-12"
          *ngIf="activityForm.getRawValue().activityname_id == 7"
        >
          <div class="form-group">
            <select
              class="form-control"
              formControlName="information"
              placeholder="Выберите сертификат"
            >
              <option
                [ngValue]="certificatetype.id"
                *ngFor="let certificatetype of data.certificatetypes"
              >
                {{ certificatetype.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              autocomplete="nope"
              name="information"
              id="information"
              placeholder="Номер рейса"
              formControlName="information"
              appDisablecontrol
              *ngIf="activityForm.getRawValue().activityname_id == 2"
            />
          </div>
        </div>
        <div
          class="col-6"
          *ngIf="activityForm.getRawValue().activityname_id == 2"
        >
          <div class="form-group">
            <input
              type="file"
              class="form-control-file"
              accept=".pdf"
              class="form-control"
              placeholder="Путевая квитанция"
              (change)="onFileChange($event)"
            />
          </div>
        </div>
        <div
          class="col-6"
          *ngIf="activityForm.getRawValue().activityname_id == 2"
        >
          <button
            type="button"
            [disabled]="!isValid()"
            class="btn btn-primary mr-1"
            (click)="onBuy()"
            (mouseover)="getPrice()"
          >
            Купить билет
          </button>
        </div>
        <div
          class="col-12"
          *ngIf="activityForm.getRawValue().activityname_id == 2"
        >
          <span>от {{ price }}</span>
        </div>
        <hr />
        <div class="col-6">
          <mat-form-field class="data-field">
            <input
              matInput
              [matDatepicker]="pickerdatebegin"
              placeholder="Дата начала"
              formControlName="datebegin"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerdatebegin"
              [disabled]="disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #pickerdatebegin
              startView="year"
              [disabled]="disabled"
            ></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="time-field">
            <input
              matInput
              [textMask]="{ mask: timeMaskInput }"
              placeholder="время"
              formControlName="timebegin"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="data-field">
            <input
              matInput
              [matDatepicker]="pickerdateend"
              placeholder="Дата конца"
              formControlName="dateend"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerdateend"
              [disabled]="disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #pickerdateend
              startView="year"
              [disabled]="disabled"
            ></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="time-field">
            <input
              matInput
              [textMask]="{ mask: timeMaskInput }"
              placeholder="время"
              formControlName="timeend"
            />
          </mat-form-field>
        </div>
        <hr />
        <div class="col-12">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="Место проведения"
              [matAutocomplete]="auto_departure"
              [formControl]="departure_airport_control"
              (input)="inputLink_departure()"
              [ngClass]="{
                'has-error':
                  departure_airport_control.invalid &&
                  departure_airport_control.touched
              }"
              appDisablecontrol
              [disableControl]="disabled"
            />
            <div class="input-group-append">
              <button
                (click)="departure_airport_control.reset()"
                class="btn btn-outline-secondary"
                type="button"
                [disabled]="disabled"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
            <mat-autocomplete
              #auto_departure="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                class="typeheadoption"
                *ngFor="let option of filtered_departure_airport | async"
                [value]="option"
              >
                {{ option.code }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div
          class="col-12"
          *ngIf="
            activityForm.getRawValue().activityname_id == 2 ||
            activityForm.getRawValue().activityname_id == 6
          "
        >
          <div class="input-group">
            <input
              class="form-control"
              placeholder="Место окончания"
              [matAutocomplete]="auto_arrival"
              [formControl]="arrival_airport_control"
              (input)="inputLink_arrival()"
              [ngClass]="{
                'has-error':
                  arrival_airport_control.invalid &&
                  arrival_airport_control.touched
              }"
              appDisablecontrol
              [disableControl]="disabled"
            />
            <div class="input-group-append">
              <button
                (click)="arrival_airport_control.reset()"
                class="btn btn-outline-secondary"
                type="button"
                [disabled]="disabled"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
            <mat-autocomplete
              #auto_arrival="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                class="typeheadoption"
                *ngFor="let option of filtered_arrival_airport | async"
                [value]="option"
              >
                {{ option.code }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-4">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          (click)="onSave()"
          [disabled]="!isValid()"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="false"
          cdkFocusInitial
        >
          Отмена
        </button>
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="data?.type === 'edit'"
          [mat-dialog-close]="'delete'"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
