<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
    <div class="row">
      <div class="form-group full-width">
        <input type="text" class="form-control" name="setstr" id="setstr" cdkFocusInitial [(ngModel)]="data.str">
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data.str" [disabled]="data.str==''">Сохранить</button>
      <button type="button" class="btn btn-light" [mat-dialog-close]="false">Отмена</button>
    </div>
  </div>
</div>