<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ (data?.problemCertificates)[0]?.airuserName }}</p>
    </div>
    <div class="row">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Тип сертификата</th>
            <th>Дата окончания</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let certificate of data.problemCertificates">
            <tr
              [style.cursor]="'pointer'"
              *ngIf="certificate.certificatetype != 'Допуск взлет/посадка'"
              (click)="
                onClose(certificate.airuser_id, certificate.certificatetype_id)
              "
            >
              <td>
                {{ certificate.certificatetype }}
              </td>
              <td>
                <span *ngIf="certificate.date1 == null">{{
                  certificate.dateend | date: 'dd.MM.yyyy'
                }}</span>
                <span *ngIf="certificate.date1 != null">{{
                  certificate.date1 | date: 'dd.MM.yyyy'
                }}</span>
              </td>
              <td>
                <i
                  *ngIf="certificate.status == 0"
                  [style.color]="'orange'"
                  class="fa fa-info fa-2x"
                  aria-hidden="true"
                ></i>
                <i
                  *ngIf="certificate.status == -1"
                  [style.color]="'red'"
                  class="fa fa-times fa-2x"
                  aria-hidden="true"
                ></i>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="null"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
