<mat-card>
  <mat-card-header>
    <mat-card-title>Сотрудник</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <div class="input-group">
        <input class="form-control" placeholder="{{ 'organization.fio' | translate }}" [matAutocomplete]="airuser"
          [formControl]="userCtrl">
        <div class="input-group-append">
          <button (click)="selectAiruser(-1)" class="btn btn-outline-secondary" type="button"><i
              class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
        <mat-autocomplete #airuser="matAutocomplete">
          <mat-option class="typeheadoption" *ngFor="let user of filteredUsers | async"
            [value]="user.name + ' ' + user.surname" (onSelectionChange)="selectAiruser(user.id)">
            <span>{{ user.name }} {{user.surname}}</span>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Права на подразделения</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="subdivision_id">Подразделение*</label>
        <select [disabled]="selectedId < 0" class="form-control" (change)="selectSubdiv($event.target.value)"
          [(ngModel)]="selectedSubdivId">
          <option *ngFor="let subdivision of subdivisionsView" [value]="subdivision.id">
            {{ subdivision.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Управление кадрами</h3>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="getHr" [(ngModel)]="getHr" [disabled]="getHrDisabled"
            (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="getHr">Чтение</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="editHr" [(ngModel)]="editHr"
            [disabled]="editHrDisabled" (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="editHr">Запись</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Управление документацией</h3>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="editDoc" [(ngModel)]="editDoc"
            [disabled]="editDocDisabled" (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="editDoc">Запись</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Управление сертификацией</h3>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="getCertificate" [(ngModel)]="getCertificate"
            [disabled]="getCertificateDisabled" (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="getCertificate">Чтение</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="editCertificate" [(ngModel)]="editCertificate"
            [disabled]="editCertificateDisabled" (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="editCertificate">Запись</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Планирование</h3>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="getPi" [(ngModel)]="getPi" [disabled]="getPiDisabled"
            (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="getPi">Чтение</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="editPi" [(ngModel)]="editPi"
            [disabled]="editPiDisabled" (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="editPi">Запись</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <button type="button" class="btn btn-primary" (click)="onSaveSubdivision()" type="button"
        [disabled]="selectedId < 0 || selectedSubdivId < 0 || selectedSubdivId == null">Сохранить</button>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Права на службы</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <h3>Расписание</h3>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="getTt" [(ngModel)]="getTt" [disabled]="true"
            (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="getTt">Чтение</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="editTt" [(ngModel)]="editTt"
            [disabled]="editTtDisabled" (change)="checkAccessToAiruser()">
          <label class="custom-control-label" for="editTt">Запись</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      <button type="button" class="btn btn-primary" (click)="onSaveModule()" type="button"
        [disabled]="selectedId < 0">Сохранить</button>
    </div>
  </div>
</mat-card>