<mat-card>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input type="text" autocomplete="nope" name="searchStr-airport" id="searchStr-airport" class="form-control"
          placeholder="Фильтр" [(ngModel)]="searchStr" (change)="getData()">
        <div class="input-group-append">
          <button (click)="searchStr=''; getData()" class="btn btn-outline-secondary" type="button"><i
              class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button type="button" (click)="onCreateAirport()" class="btn btn-primary btnshadow float-right">Добавить
        аэропорт</button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Код ИАТА</th>
            <th>Название</th>
            <th>Город</th>
            <th>Страна</th>
            <th>Часовой пояс (лето)</th>
            <th>Часовой пояс (зима)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let airport of airports">
            <td (click)="onEditAirport(airport.id)">{{airport.code}}</td>
            <td (click)="onEditAirport(airport.id)">{{airport.name_rus}}</td>
            <td (click)="onEditAirport(airport.id)">{{airport.city_rus}}</td>
            <td (click)="onEditAirport(airport.id)">{{airport.country_rus}}</td>
            <td (click)="onEditAirport(airport.id)">{{airport.summer_timeshift}}</td>
            <td (click)="onEditAirport(airport.id)">{{airport.winter_timeshift}}</td>
          </tr>
        </tbody>
      </table>
      <div class="col float-right">
        <mat-paginator class="float-right" [length]="length" [pageIndex]="pageEvent?.pageIndex" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" (page)="setPageSizeOptions($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</mat-card>