<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="positionForm">
      <div class="row">
        <div class="col-4">
          <label for="name">Название должности*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="name"
              id="name"
              class="form-control"
              placeholder=""
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="parent_id">Начальник</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select class="form-control" formControlName="parent_id">
              <option
                [ngValue]="position.id"
                *ngFor="let position of data.positions"
              >
                {{ position.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="positionfileForm">
      <div class="row">
        <div class="col-4">
          <label for="revnumber">Номер ревизии</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="revnumber"
              id="revnumber"
              class="form-control"
              placeholder=""
              formControlName="revnumber"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="revdate">Дата ревизии</label>
        </div>
        <div class="col-8">
          <mat-form-field [style.margin-top]="'-15px'">
            <input
              AUTOCOMPLETE="off"
              matInput
              [matDatepicker]="pickerdatebegin"
              placeholder=""
              formControlName="revdate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerdatebegin"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerdatebegin startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="positionfile">Инструкция</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="file"
              id="positionfile"
              name="positionfile"
              class="form-control"
              placeholder=""
              (change)="onFilesChange($event)"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          [disabled]="!positionForm.valid"
          (click)="onSave()"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="null"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
