<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="index">Индекс</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" [textMask]="{mask: numberMask}" class="form-control" name="index" id="index"
            cdkFocusInitial [(ngModel)]="data.index">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="city">Город</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" name="city" id="city" [(ngModel)]="data.city">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="street">Улица</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" name="street" id="street" [(ngModel)]="data.street">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="house">Дом</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" name="house" id="house" [(ngModel)]="data.house">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="flat">Квартира</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" name="flat" id="flat" [(ngModel)]="data.flat">
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data">Сохранить</button>
      <button type="button" class="btn btn-light" [mat-dialog-close]="false">Отмена</button>
    </div>
  </div>
</div>