<!-- <div class="container">
  <div class="row">
    <div class="messages">
      <ul *ngIf="messages$ | async as messages">
        {{ messages }}
      </ul>
    </div>

    <div class="counter">
      <strong *ngIf="counter$ | async as counter">Update websocket counter: {{ counter }}</strong>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
    </div>
  </div>
  <div class="row">
    <form [formGroup]="form" autocomplete="off" novalidate (submit)="sendText()">
      <div class="form-group">
        <div class="form-control">
          <textarea autocomplete="off" formControlName="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid">Отправить</button>
      </div>
    </form>
    <div class="texts">
      <ul *ngIf="texts$ | async as texts">
        <li *ngFor="let text of texts; let i = index;">
          {{ text }}
          <span class="remove" (click)="removeText(i)">x</span>
        </li>
      </ul>
    </div>
  </div>

</div> -->

<!-- <ngx-spinner [threshold]="100" [timeout]="8000"> </ngx-spinner> -->
<router-outlet></router-outlet>
