<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="airportForm">
      <div class="row">
        <div class="col-4">
          <label for="codeIATA">Код IATA*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="codeIATA"
              id="codeIATA"
              class="form-control"
              placeholder=""
              formControlName="code"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="arname_rus">Название*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="arname_rus"
              id="arname_rus"
              class="form-control"
              placeholder=""
              formControlName="name_rus"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="city_rus">Город*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="city_rus"
              id="city_rus"
              class="form-control"
              placeholder=""
              formControlName="city_rus"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="country_rus">Страна*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="country_rus"
              id="country_rus"
              class="form-control"
              placeholder=""
              formControlName="country_rus"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="summer_timeshift">Часовой пояс (лето)*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="number"
              autocomplete="nope"
              name="summer_timeshift"
              id="summer_timeshift"
              class="form-control"
              placeholder=""
              formControlName="summer_timeshift"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="winter_timeshift">Часовой пояс (зима)*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="number"
              step="0.5"
              autocomplete="nope"
              name="winter_timeshift"
              id="winter_timeshift"
              class="form-control"
              placeholder=""
              formControlName="winter_timeshift"
            />
          </div>
        </div>
      </div>
      <div class="row" *ngIf="authService?.loggedInUser?.isadmin === true">
        <div class="col-4">
          <label for="city_id">Id города</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="number"
              step="1"
              autocomplete="nope"
              name="city_id"
              id="city_id"
              class="form-control"
              placeholder=""
              formControlName="city_id"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          (click)="onSave()"
          [disabled]="!airportForm.valid"
        >
          {{ buttonStr }}
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="null"
        >
          Закрыть
        </button>
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="data.edit === true"
          (click)="onDel()"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
