<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="formFlight">
      <div class="row">
        <div class="col-4">
          <label for="flight_number">Номер рейса*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              autocomplete="nope"
              name="flight_number"
              id="flight_number"
              placeholder=""
              formControlName="flight_number"
              appDisablecontrol
              [disableControl]="intMove"
              (blur)="getCreated()"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="flight_number">Аэропорт вылета*</label>
        </div>
        <div class="col-8">
          <div class="input-group">
            <input
              class="form-control"
              [ngClass]="{
                'auto-set':
                  departure_airport_control.touched !== true &&
                  data.type === 'create'
              }"
              placeholder=""
              [matAutocomplete]="auto_departure"
              [formControl]="departure_airport_control"
              (input)="inputLink_departure()"
              [ngClass]="{
                'has-error':
                  departure_airport_control.invalid &&
                  departure_airport_control.touched
              }"
              appDisablecontrol
              [disableControl]="intMove"
            />
            <div class="input-group-append">
              <button
                (click)="departure_airport_control.reset()"
                class="btn btn-outline-secondary"
                type="button"
                [disabled]="intMove"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
            <mat-autocomplete
              #auto_departure="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                class="typeheadoption"
                *ngFor="let option of filtered_departure_airport | async"
                [value]="option"
              >
                {{ option.code }} {{ option.name_rus }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <label for="datebegin">{{ departure_date_str }}</label>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-5 mmt-15">
              <mat-form-field>
                <input
                  AUTOCOMPLETE="off"
                  matInput
                  [min]="data.from"
                  [max]="data.to"
                  [matDatepicker]="pickerdatebegin"
                  placeholder=""
                  formControlName="datebegin"
                  (ngModelChange)="onCalcTime(true)"
                  (change)="onCalcTime(true)"
                  appDisablecontrol
                  [disableControl]="data?.type === 'edit'"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerdatebegin"
                  [disabled]="data?.type === 'edit'"
                >
                </mat-datepicker-toggle>
                <mat-datepicker
                  #pickerdatebegin
                  startView="year"
                  [disabled]="data?.type === 'edit'"
                ></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3">
              <div class="time-field">
                <input
                  class="form-control"
                  [ngClass]="{
                    'auto-set':
                      formFlight.controls.timebegin.touched !== true &&
                      data.type === 'create'
                  }"
                  autocomplete="nope"
                  name="timebegin"
                  id="timebegin"
                  [textMask]="{ mask: timeMaskInput }"
                  placeholder=""
                  formControlName="timebegin"
                  (blur)="onCalcTime(true)"
                  (change)="onCalcTime(true)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let extraairport of formsExtraairports; let i = index">
        <form [formGroup]="extraairport">
          <div class="row">
            <div class="col-4">
              <label for="flight_number">Промежуточный аэропорт*</label>
            </div>
            <div class="col-8">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder=""
                  [matAutocomplete]="auto_extra"
                  [formControl]="extra_airport_controls[i]"
                  (input)="inputLink_extra(i)"
                  appDisablecontrol
                  [disableControl]="intMove"
                />
                <div class="input-group-append">
                  <button
                    (click)="extra_airport_controls[i].reset()"
                    class="btn btn-outline-secondary"
                    type="button"
                    [disabled]="intMove"
                  >
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </button>
                </div>
                <mat-autocomplete
                  #auto_extra="matAutocomplete"
                  [displayWith]="displayFn"
                >
                  <mat-option
                    class="typeheadoption"
                    *ngFor="let option of filtered_extra_airport | async"
                    [value]="option"
                  >
                    {{ option.code }} {{ option.name_rus }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <label for="datebegin">{{ arrival_date_str }}</label>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-5 mmt-15">
                  <mat-form-field>
                    <input
                      AUTOCOMPLETE="off"
                      matInput
                      [min]="
                        i == 0
                          ? formFlight?.value.datebegin
                          : formsExtraairports[i - 1]?.value.dateend
                      "
                      [max]="data.to"
                      [matDatepicker]="pickerdateend"
                      placeholder=""
                      formControlName="dateend"
                      (focusout)="onCalcTime(true)"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerdateend">
                    </mat-datepicker-toggle>
                    <mat-datepicker
                      #pickerdateend
                      startView="year"
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <div class="time-field">
                    <input
                      class="form-control"
                      autocomplete="nope"
                      name="timeend"
                      id="timeend"
                      [textMask]="{ mask: timeMaskInput }"
                      placeholder=""
                      formControlName="timeend"
                      (blur)="onCalcTime(true)"
                      (change)="onCalcTime(true)"
                    />
                  </div>
                </div>
                <div class="col-3">
                  <div class="time-field">
                    <input
                      class="form-control"
                      autocomplete="nope"
                      name="time"
                      id="time"
                      [textMask]="{ mask: timeMask }"
                      placeholder=""
                      formControlName="time"
                      (blur)="onCalcTime(false)"
                      (change)="onCalcTime(false)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <label for="datebegin">{{ departure_date_str }}</label>
            </div>
            <div class="col-8">
              <div class="row">
                <div class="col-5 mmt-15">
                  <mat-form-field>
                    <input
                      AUTOCOMPLETE="off"
                      matInput
                      [min]="extraairport.value.dateend"
                      [max]="data.to"
                      [matDatepicker]="pickerdatebegin"
                      placeholder=""
                      formControlName="datebegin"
                      (ngModelChange)="onCalcTime(true)"
                      (change)="onCalcTime(true)"
                    />
                    <mat-datepicker-toggle matSuffix [for]="pickerdatebegin">
                    </mat-datepicker-toggle>
                    <mat-datepicker
                      #pickerdatebegin
                      startView="year"
                    ></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <div class="time-field">
                    <input
                      class="form-control"
                      autocomplete="nope"
                      name="timebegin"
                      id="timebegin"
                      [textMask]="{ mask: timeMaskInput }"
                      placeholder=""
                      formControlName="timebegin"
                      (blur)="onCalcTime(true)"
                      (change)="onCalcTime(true)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row" *ngIf="data?.type === 'create'">
        <div class="col-12">
          <div class="form-group">
            <button
              type="button"
              mat-button
              color="primary"
              (click)="onAddExtraairport()"
            >
              Добавить промежуточный аэропорт
            </button>
            <button
              *ngIf="formsExtraairports.length > 0"
              type="button"
              mat-button
              color="warn"
              (click)="onDelExtraairport()"
            >
              Убрать
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="flight_number">Аэропорт прилета*</label>
        </div>
        <div class="col-8">
          <div class="input-group">
            <input
              class="form-control"
              [ngClass]="{
                'auto-set':
                  arrival_airport_control.touched !== true &&
                  data.type === 'create'
              }"
              placeholder=""
              [matAutocomplete]="auto_arrival"
              [formControl]="arrival_airport_control"
              (input)="inputLink_arrival()"
              [ngClass]="{
                'has-error':
                  arrival_airport_control.invalid &&
                  arrival_airport_control.touched
              }"
              appDisablecontrol
              [disableControl]="intMove"
            />
            <div class="input-group-append">
              <button
                (click)="arrival_airport_control.reset()"
                class="btn btn-outline-secondary"
                type="button"
                [disabled]="intMove"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
            <mat-autocomplete
              #auto_arrival="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                class="typeheadoption"
                *ngFor="let option of filtered_arrival_airport | async"
                [value]="option"
              >
                {{ option.code }} {{ option.name_rus }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <label for="datebegin">{{ arrival_date_str }}</label>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-5 mmt-15">
              <mat-form-field>
                <input
                  AUTOCOMPLETE="off"
                  matInput
                  [matDatepicker]="pickerdateend"
                  [min]="
                    formsExtraairports.length == 0
                      ? formFlight.value.datebegin
                      : formsExtraairports[formsExtraairports.length - 1].value
                          .datebegin
                  "
                  [max]="data.to"
                  placeholder=""
                  formControlName="dateend"
                  (ngModelChange)="onCalcTime(true)"
                  (change)="onCalcTime(true)"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerdateend"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #pickerdateend
                  startView="year"
                ></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3">
              <div class="time-field">
                <input
                  class="form-control"
                  [ngClass]="{
                    'auto-set':
                      formFlight.controls.timeend.touched !== true &&
                      data.type === 'create'
                  }"
                  autocomplete="nope"
                  name="timeend"
                  id="timeend"
                  [textMask]="{ mask: timeMaskInput }"
                  placeholder=""
                  formControlName="timeend"
                  (blur)="onCalcTime(true)"
                  (change)="onCalcTime(true)"
                />
              </div>
            </div>
            <div class="col-3">
              <div class="time-field">
                <input
                  class="form-control"
                  [ngClass]="{
                    'auto-set':
                      formFlight.controls.time.touched !== true &&
                      data.type === 'create'
                  }"
                  autocomplete="nope"
                  name="time"
                  id="time"
                  [textMask]="{ mask: timeMask }"
                  placeholder=""
                  formControlName="time"
                  (blur)="onCalcTime(false)"
                  (change)="onCalcTime(false)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="aircraftmodel_id">Тип ВС*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="aircraftmodel_id"
              placeholder=""
              appDisablecontrol
              [disableControl]="intMove"
            >
              <option
                *ngFor="let aircraftmodel of aircraftmodels"
                [value]="aircraftmodel.id"
              >
                {{ aircraftmodel.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="aircraftmodel_id">Воздушное судно</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="aircraft_id"
              placeholder=""
              appDisablecontrol
              [disableControl]="intMove"
            >
              <option *ngFor="let aircraft of aircrafts" [value]="aircraft.id">
                {{ aircraft.code }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="aircraftmodel_id">Категория рейса*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="flight_type"
              placeholder=""
              appDisablecontrol
              [disableControl]="intMove"
            >
              <option
                *ngFor="let flightType of flightTypes"
                [value]="flightType.key"
              >
                {{ flightType.value }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          (click)="onSave()"
          [disabled]="!saveValid"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="false"
        >
          Отмена
        </button>
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="data?.type === 'edit'"
          [mat-dialog-close]="'delete'"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
