<router-outlet></router-outlet>
<div
  class="fa fa-arrow-circle-o-up fa-2x topbutton"
  aria-hidden="true"
  appScrollUpp
></div>
<ngx-spinner class="myspiner" bdColor="rgba(51,51,51,0.5)">
  <p style="font-size: 20px; color: white">АЭРОПРОФИ</p>
</ngx-spinner>
