<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="surname">Фамилия</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="surname"
            id="surname"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.surname"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="name">Имя</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="name"
            id="name"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.name"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="patronymic">Отчество</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="patronymic"
            id="patronymic"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.patronymic"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="phone">Телефон</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="phone"
            id="phone"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.phone"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="email">E-mail</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="email"
            id="email"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.email"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="subdivision">Подразделение</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="subdivision"
            id="subdivision"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.subdivision"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="position">Должность</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input
            type="text"
            autocomplete="nope"
            name="position"
            id="position"
            class="form-control"
            placeholder=""
            [disabled]="true"
            [(ngModel)]="data.position"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="pilot_type">Кресло пилота</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <select
            [disabled]="data.myProfile"
            class="form-control"
            [(ngModel)]="data.pilot_type"
          >
            <option
              *ngFor="let pilotType of data.pilotTypes"
              [value]="pilotType.id"
              >{{ pilotType.name }}</option
            >
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="pilot_type">Базовый аэропорт пилота</label>
      </div>
      <div class="col-8">
        <div class="input-group">
          <input
            class="form-control"
            placeholder=""
            [matAutocomplete]="auto_departure"
            [formControl]="airport_control"
            (input)="inputLink_airport()"
            [ngClass]="{
              'has-error': airport_control.invalid && airport_control.touched
            }"
          />
          <div class="input-group-append">
            <button
              [disabled]="data.myProfile"
              (click)="airport_control.reset()"
              class="btn btn-outline-secondary"
              type="button"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </div>
          <mat-autocomplete
            #auto_departure="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              class="typeheadoption"
              *ngFor="let option of filtered_departure_airport | async"
              [value]="option"
            >
              {{ option.code }} {{ option.name_rus }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          (click)="onSave()"
          *ngIf="data.myProfile === false"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="false"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
