<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="dictForm">
      <div class="row">
        <div class="col-4">
          <label for="name">Название*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <input
              type="text"
              autocomplete="nope"
              name="name"
              id="name"
              class="form-control"
              placeholder=""
              formControlName="name"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          [disabled]="!dictForm.valid"
          (click)="onSave()"
        >
          Сохранить
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="null"
        >
          Закрыть
        </button>
        <button
          *ngIf="data.edit === true"
          type="button"
          class="btn btn-danger mr-2"
          [mat-dialog-close]="false"
        >
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>
