<header class="header" [style.padding-right]="'10px'">
	<div class="lang-panel">
		<!-- <span [style.margin-right]="'5px'" [style.cursor]="'pointer'" (click)="useLanguage('en')">eng</span>
		<span [style.margin-right]="'5px'" [style.cursor]="'pointer'" (click)="useLanguage('ru')">рус</span> -->
		<!-- <span class="flag-icon flag-icon-us" [style.margin-right]="'3px'" [style.cursor]="'pointer'" (click)="useLanguage('en')"></span>
		<span class="flag-icon flag-icon-ru" [style.margin-right]="'3px'" [style.cursor]="'pointer'" (click)="useLanguage('ru')"></span> -->
	</div>
	<div class="header-block header-block-search">

	</div>
	<div class="header-block header-block-nav">
		<ul class="nav-profile">
			<li ngbDropdown class="profile dropdown">
				<a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
					<span class="name">
						{{loggedInUser?.name}} {{loggedInUser?.surname[0]}}.
					</span>
				</a>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu profile-dropdown-menu">
					<a class="dropdown-item" (click)="gotoProfile()">
						<i class="fa fa-user icon"></i>{{ 'header.profile' | translate }}
					</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" (click)="logout()">
						<i class="fa fa-power-off icon"></i>{{ 'header.exit' | translate }}
					</a>
				</div>
			</li>
		</ul>
	</div>
</header>