<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{data.title}}</p>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="work_place">Место работы*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="work_place" id="work_place" class="form-control" placeholder=""
            [(ngModel)]="data.work_place">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="work_position">Должность*</label>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" autocomplete="nope" name="work_position" id="work_position" class="form-control"
            placeholder="" [(ngModel)]="data.work_position">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="dt_start">Начало работы*</label>
      </div>
      <div class="col-8 mmt-15">
        <mat-form-field>
          <input autocomplete="nope" name="dt_start" matInput [matDatepicker]="pickerdt_start" placeholder=""
            [(ngModel)]="data.dt_start">
          <mat-datepicker-toggle matSuffix [for]="pickerdt_start"></mat-datepicker-toggle>
          <mat-datepicker #pickerdt_start startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="dt_end">Окончание работы*</label>
      </div>
      <div class="col-8 mmt-15">
        <mat-form-field>
          <input autocomplete="nope" name="dt_end" matInput [matDatepicker]="pickerdt_end" placeholder=""
            [(ngModel)]="data.dt_end">
          <mat-datepicker-toggle matSuffix [for]="pickerdt_end"></mat-datepicker-toggle>
          <mat-datepicker #pickerdt_end startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-primary mr-1" [mat-dialog-close]="data"
          [disabled]="!isValid()">Сохранить</button>
        <button type="button" class="btn btn-light mr-2" [mat-dialog-close]="false">Отмена</button>
        <button type="button" class="btn btn-danger" [mat-dialog-close]="'delete'">Удалить</button>
      </div>
    </div>
  </div>
</div>