<mat-card>
  <form [formGroup]="filterForm">
    <div class="row" [style.margin-bottom]="'20px'">
      <div [style.width]="'195px'" [style.padding-top]="'15px'"></div>
      <div class="col-xl-3 col-lg-4 col-12">
        <mat-form-field>
          <input
            AUTOCOMPLETE="off"
            matInput
            [matDatepicker]="pickerdatebegin"
            placeholder="От"
            formControlName="from"
            (dateChange)="updateData(true, true)"
            (blur)="updateData(true, true)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerdatebegin"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerdatebegin startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-xl-3 col-lg-4 col-12">
        <mat-form-field>
          <input
            AUTOCOMPLETE="off"
            matInput
            [matDatepicker]="pickerdateend"
            placeholder="До"
            formControlName="to"
            (dateChange)="updateData(true, true)"
            (blur)="updateData(true, true)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerdateend"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerdateend startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </form>
  <table class="table">
    <tbody>
      <ng-container *ngFor="let activity of pilot?.activitys">
        <tr>
          <td *ngIf="!activity.oneday">
            {{ activity.begin_datetime | date: 'dd.MM.yyyy' }}
          </td>
          <td rowspan="2" *ngIf="activity.oneday">
            {{ activity.begin_datetime | date: 'dd.MM.yyyy' }}
          </td>
          <td>
            {{ activity.begin_datetime | date: 'hh:mm' }}z
            {{ getAirportByid(activity.airport_id)?.code }}
          </td>
          <td rowspan="2" *ngIf="activity.activityname_id != 6">
            {{ getActivitynameByid(activity.activityname_id).name }}
          </td>
          <td rowspan="2" *ngIf="activity.activityname_id == 6">
            {{ activity.flight_number }}
          </td>
          <td
            rowspan="2"
            *ngIf="
              activity.activityname_id != 6 && activity.activityname_id != 2
            "
          ></td>
          <td rowspan="2" *ngIf="activity.activityname_id == 6">
            <p class="pilots" [style.font-weight]="'bold'">
              {{ pilot?.pilotTypestr }}:
              <span>{{ pilot?.surname }}&nbsp;</span>
              <span *ngIf="pilot?.name">{{ (pilot?.name)[0] }}.</span
              ><span *ngIf="pilot?.patronymic"
                >{{ (pilot?.patronymic)[0] }}.</span
              >
            </p>
            <p class="pilots" *ngFor="let _pilot of activity.pilots">
              {{ _pilot?.pilotTypestr }}:
              <span>{{ _pilot?.surname }}&nbsp;</span>
              <span *ngIf="_pilot?.name">{{ (_pilot?.name)[0] }}.</span
              ><span *ngIf="_pilot?.patronymic"
                >{{ (_pilot?.patronymic)[0] }}.</span
              >
            </p>
          </td>
          <td rowspan="2" *ngIf="activity.activityname_id == 2">
            <!-- <span [style.cursor]="'pointer'" (click)="onBuy(activity)"
              >Купить билет</span
            ><span *ngIf="((activity.chipest | async)?.data)[0]?.value != null">
              (от {{ ((activity.chipest | async)?.data)[0]?.value }} руб.)</span
            > -->
            <p>{{ activity?.information }}</p>
          </td>
        </tr>
        <tr>
          <td *ngIf="!activity.oneday">
            {{ activity.end_datetime | date: 'dd.MM.yyyy' }}
          </td>
          <td>
            {{ activity.end_datetime | date: 'hh:mm' }}z
            {{ getAirportByid(activity.end_airport_id).code }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</mat-card>
