<button
  mat-button
  [matMenuTriggerFor]="menu"
  id="menuBtn"
  style="display:none;"
>
  Menu
</button>
<mat-menu #menu="matMenu" (close)="onMenuClosed()">
  <ng-container *ngIf="contextmenuZone == 'pilot'">
    <a
      class="context-dropdown-item"
      (click)="addActivity([], selectedPilotId, selectedAccessPilot)"
      >Добавить активность</a
    >
    <a
      class="context-dropdown-item"
      (click)="addActivity([item], selectedPilotId, selectedAccessPilot)"
      *ngFor="let item of contextFlightpoints"
      >Добавить на рейс {{ item.flight_number }}</a
    >
    <a
      class="context-dropdown-item"
      (click)="addActivity([item], selectedPilotId, selectedAccessPilot, 2)"
      *ngFor="let item of contextFlightpoints"
      >Добавить пассажиром на рейс {{ item.flight_number }}</a
    >
    <a
      class="context-dropdown-item"
      (click)="addActivityonchain(item, selectedPilotId, selectedAccessPilot)"
      *ngFor="let item of contextFlightpointchains"
    >
      <i class="fa fa-link" aria-hidden="true"></i>{{ item.name }}</a
    >
  </ng-container>

  <ng-container *ngIf="contextmenuZone == 'timetable'">
    <a
      class="context-dropdown-item"
      *ngIf="
        chainStarted == true &&
        clickOnflight == true &&
        clickOnchain == false &&
        clickOntempchain == false
      "
      (click)="
        addFlightpointTochain(
          selectedFlightpoint1,
          selectedFlightpoint2,
          selectedAircraft_idx,
          selectedSpecificflight_idx,
          selectedFlightpoint_idx
        )
      "
      >Добавить сегмент в цепочку</a
    >
    <a
      class="context-dropdown-item"
      *ngIf="
        chainStarted == true &&
        clickOntempchain == true &&
        clickOnchain == false
      "
      (click)="delFlightpointFromchain()"
      >Убрать сегмент из цепочки</a
    >
    <a
      class="context-dropdown-item"
      *ngIf="chainStarted == false && clickOnchain == false"
      (click)="startChain()"
      >Начать цепочку</a
    >
    <a
      class="context-dropdown-item"
      *ngIf="chainStarted == true && tempFlightpoints.length > 1"
      (click)="saveChain()"
      >Сохранить цепочку</a
    >
    <a
      class="context-dropdown-item"
      *ngIf="chainStarted == true"
      (click)="stopChain()"
      >Отменить создание цепочки</a
    >
    <a
      class="context-dropdown-item"
      *ngIf="chainStarted == false && clickOnchain == true"
      (click)="delChain()"
      >Удалить цепочку</a
    >
  </ng-container>

  <ng-container *ngIf="contextmenuZone == 'airuser'">
    <a
      class="context-dropdown-item"
      (click)="onEditprofile(selectedPilotId, selectedAccessPilot)"
      >Профиль пилота</a
    >
    <a class="context-dropdown-item" (click)="onEditCartificate()"
      >Сертификаты пилота</a
    >
  </ng-container>
</mat-menu>
<div
  class="viewplus"
  matTooltip="Увеличить"
  *ngIf="scale < scales.length - 1"
  (click)="setScale()"
>
  <i class="fa fa-plus" aria-hidden="true"></i>
</div>
<div
  class="viewminus"
  matTooltip="Уменьшить"
  *ngIf="scale > 0"
  (click)="setScale(false)"
>
  <i class="fa fa-minus" aria-hidden="true"></i>
</div>
<div class="field"></div>
<mat-tab-group
  class="tab-group-top"
  [(selectedIndex)]="selectedIndex"
  (selectedTabChange)="selectScenario($event)"
>
  <mat-tab label="Основной сценарий"> </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>
      Временный сценарий
      <!-- <i
        *ngIf="hasActivitys"
        [style.color]="'red'"
        class="ml-1 fa fa-exclamation-circle"
        aria-hidden="true"
      ></i> -->
    </ng-template>
  </mat-tab>
</mat-tab-group>
<mat-card
  [style.margin-bottom]="'-70px'"
  [style.margin-top]="'-8px'"
  [ngClass]="{ editbg: selectedIndex !== 0, viewbg: selectedIndex === 0 }"
  (mousemove)="mouse_pilot_id = 0; mouse_flightpoints_id.length = 0"
>
  <form [formGroup]="filterForm">
    <div class="row form-inline" [style.margin-bottom]="'20px'">
      <div [style.padding-top]="'15px'"></div>
      <div
        [style.width]="'195px'"
        [style.padding-top]="'5px'"
        [style.padding-left]="'5px'"
      >
        <div class="block-name" *ngIf="aircrafts?.length > 0"></div>
      </div>
      <mat-form-field [style.margin-left]="'15px'">
        <input
          AUTOCOMPLETE="off"
          matInput
          [matDatepicker]="pickerdatebegin"
          placeholder="От"
          formControlName="from"
          (dateChange)="updateData(false, true)"
          (blur)="updateData(false, true)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerdatebegin"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerdatebegin startView="year"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="ml-4">
        <input
          AUTOCOMPLETE="off"
          matInput
          [matDatepicker]="pickerdateend"
          placeholder="До"
          formControlName="to"
          (dateChange)="updateData(false, true)"
          (blur)="updateData(false, true)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerdateend"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerdateend startView="year"></mat-datepicker>
      </mat-form-field>
      <div class="form-group ml-5" [style.width]="'195px'">
        <select
          class="form-control"
          (change)="onSelectFilter()"
          (selectionChange)="onSelectFilter()"
          formControlName="role"
          placeholder="Роль пилота"
        >
          <option [value]="0">Все</option>
          <ng-container *ngFor="let pilotType of pilotTypes; let first = first">
            <option
              [ngClass]="{
                vp: pilotType.type === 1,
                kvs: pilotType.type === 2,
                pi: pilotType.type === 3
              }"
              [disabled]="pilotType.disable"
              [value]="pilotType.id"
              *ngIf="!first"
            >
              {{ pilotType.name }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="form-group ml-3">
        <select
          class="form-control"
          [style.min-width]="'250px'"
          placeholder="Летное подразделение"
          (change)="onSelectFilter()"
          (selectionChange)="onSelectFilter()"
          formControlName="sbdv"
        >
          <option [value]="0">Все</option>
          <ng-container *ngFor="let subdivision of subdivisionsView">
            <option [disabled]="subdivision.disable" [value]="subdivision.id">
              {{ subdivision.name }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="form-group ml-3 float-right">
        <button
          *ngIf="selectedIndex === 1"
          type="button"
          class="btn btn-primary float-right"
          (click)="onCopyFrom()"
        >
          Актуализировать
        </button>
      </div>
      <div class="form-group ml-3 float-right">
        <button
          *ngIf="selectedIndex === 1"
          type="button"
          class="btn btn-primary float-right"
          (click)="onAccept()"
        >
          Утвердить
        </button>
        <!-- <button
          *ngIf="selectedIndex === 1"
          type="button"
          class="btn btn-primary float-right"
          [disabled]="!hasActivitys"
          (click)="onAccept()"
        >
          Утвердить
        </button> -->
      </div>
    </div>
    <!-- <div class="row" *ngIf="selectedIndex === 1" [style.margin-top]="'-10px'">
      <div class="col-12">
        <div class="form-group float-right" [style.margin-right]="'20px'">
          <button type="button" class="btn btn-primary">
            Скопировать задания из основгого сценария
          </button>
        </div>
      </div>
    </div> -->
  </form>
  <div class="timetable row" style="position: inherit; z-index: 13;">
    <div class="timetable-sidebar">
      <div
        class="aircraft d-flex justify-content-center"
        *ngFor="let aircraft of aircrafts"
        [style.margin-bottom]="'5px'"
      >
        <span>{{ aircraft.code }}<br />{{ aircraft?.flightTime?.strHM }}</span>
      </div>
    </div>
    <div
      [style.overflow-x]="'auto'"
      [style.touch-action]="'none'"
      class="timetable-content"
      style="position: inherit;"
      #timelineArea
      (scroll)="getScrollPos()"
    >
      <div class="past" [style.width]="pastWidth?.str"></div>
      <div
        [style.height]="'100%'"
        [style.left]="pastWidth?.str"
        class="now-line"
        *ngIf="pastWidth?.val > 0 && pastWidth.val < width.val"
      ></div>
      <ng-container *ngIf="scale == scales.length - 1">
        <div
          [style.margin-left]="' 10px'"
          [style.left]="'105px'"
          class="scale-line"
        ></div>
        <ng-container *ngFor="let item of timeScale; let i = index">
          <div
            [style.margin-left]="'10px'"
            [style.left]="95 * i + 10 + 'px'"
            class="scale-line"
            *ngIf="i > 1"
          ></div>
        </ng-container>
      </ng-container>
      <ng-container>
        <ng-container *ngFor="let item of dateScale; let i = index">
          <div
            [style.left]="item.val - 0 + 'px'"
            class="date-line"
            *ngIf="i > 0"
          ></div>
        </ng-container>
      </ng-container>
      <ng-container
        *ngFor="
          let aircraft of aircrafts;
          let a_i = index;
          let a_first = first;
          let a_last = last
        "
      >
        <div
          [style.width]="width?.str"
          class="_row"
          [attr.aircraft_id]="aircraft.id"
          id="{{ aircraft.aircraftmodel_id }}"
          style="position: inherit;"
        >
          <ng-container
            *ngFor="let item of dateScale; let i = index; let first = first"
          >
            <div
              (contextmenu)="
                contextmenuZone = 'timetable';
                clickOnflight = false;
                onContext($event, -1, null, a_i, null, null, null, null, 1)
              "
              [attr.aircraft_id]="aircraft.id"
              id="{{ aircraft.aircraftmodel_id }}"
              *ngIf="first"
              class="day-block"
              [style.width]="dayWidth?.str"
              [style.left]="dayWidth?.val * i + 'px'"
              [ngClass]="{
                weekend: dateScale[i]?.day == 'вс' || dateScale[i]?.day == 'сб'
              }"
            ></div>
            <div
              (contextmenu)="
                contextmenuZone = 'timetable';
                clickOnflight = false;
                onContext($event, -1, null, a_i, null, null, null, null, 1)
              "
              [attr.aircraft_id]="aircraft.id"
              id="{{ aircraft.aircraftmodel_id }}"
              *ngIf="!first"
              class="day-block"
              [style.width]="dayWidth?.str"
              [style.left]="dayWidth?.val * i + 'px'"
              [ngClass]="{
                weekend:
                  dateScale[i - 1]?.day == 'пт' || dateScale[i - 1]?.day == 'сб'
              }"
            ></div>
          </ng-container>
          <ng-container
            *ngFor="
              let specificflight of aircraft.specificflights;
              let s_i = index;
              let s_first = first;
              let s_last = last
            "
          >
            <div
              class="flight"
              [ngClass]="{ 'flight-green': true }"
              [style.width]="specificflight?._flightWidth?.str"
              [style.left]="specificflight?._left?.str"
            >
              <ng-container
                *ngFor="
                  let flightpoint of specificflight?.flightpoints;
                  let i = index;
                  let first = first;
                  let last = last
                "
              >
                <ng-container *ngIf="chainStarted === false">
                  <div
                    appTooltipFlight
                    [airports]="airports"
                    [data]="[
                      flightpoint,
                      (specificflight?.flightpoints)[i + 1],
                      specificflight,
                      flightpoint.pilots,
                      isComplete(flightpoint.pilots, flightpoint) === false
                    ]"
                    class="flightpoint"
                    [ngClass]="{
                      'flightpoint-green-empty':
                        isComplete(flightpoint.pilots, flightpoint) === true,
                      'flightpoint-red-empty':
                        isComplete(flightpoint.pilots, flightpoint) === false,
                      'in-chain':
                        isFlightpointSelected(flightpoint.id) == true &&
                        isFlightpointSelected(
                          (specificflight?.flightpoints)[i + 1].id
                        ) == true,
                      hovered_chain:
                        chainId_hover == flightpoint.flightpointchain_id,
                      hovered_mouse: inmouse_flightpoints_id(flightpoint.id)
                    }"
                    [style.width]="flightpoint._widthview + 'px'"
                    [style.left]="flightpoint._leftview + 'px'"
                    *ngIf="!last"
                    (contextmenu)="
                      contextmenuZone = 'timetable';
                      clickOnflight = true;
                      onContext(
                        $event,
                        -1,
                        null,
                        a_i,
                        s_i,
                        i,
                        flightpoint,
                        (specificflight?.flightpoints)[i + 1],
                        null
                      )
                    "
                    (click)="
                      contextmenuZone = 'timetable';
                      clickOnflight = true;
                      onaddFlightpointTochain(
                        flightpoint,
                        (specificflight?.flightpoints)[i + 1],
                        a_i,
                        s_i,
                        i
                      )
                    "
                    (mouseenter)="onChainhover(flightpoint.flightpointchain_id)"
                    (mouseleave)="chainId_hover = -1"
                  >
                    <div
                      class="flight-number float-center text-center"
                      *ngIf="
                        !getFlightpointWidth(
                          flightpoint?.calc_departure_datatime,
                          (specificflight?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime
                        )?.cutFrom
                      "
                    >
                      {{ specificflight?.flight_number }}
                    </div>
                    <div
                      class="f-info-begin"
                      *ngIf="
                        !getFlightpointWidth(
                          flightpoint?.calc_departure_datatime,
                          (specificflight?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime
                        )?.cutFrom
                      "
                    >
                      {{ getAirportByid(flightpoint?.airport_id).code }}
                      <br />{{
                        flightpoint?.calc_departure_datatime | date: 'HH:mm'
                      }}
                    </div>
                    <div
                      class="f-info-end"
                      *ngIf="
                        !getFlightpointWidth(
                          flightpoint?.calc_departure_datatime,
                          (specificflight?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime
                        ).cutTo
                      "
                    >
                      {{
                        getAirportByid(
                          (specificflight?.flightpoints)[i + 1]?.airport_id
                        ).code
                      }}
                      <br />{{
                        (specificflight?.flightpoints)[i + 1]
                          ?.calc_arrival_datatime | date: 'HH:mm'
                      }}
                    </div>
                    <div
                      class="f-info-chain"
                      *ngIf="flightpoint.flightpointchain_id != null"
                    >
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="chainStarted === true">
                  <div
                    class="flightpoint"
                    [ngClass]="{
                      'flightpoint-green-empty':
                        isComplete(flightpoint.pilots, flightpoint) === true,
                      'flightpoint-red-empty':
                        isComplete(flightpoint.pilots, flightpoint) === false,
                      'in-chain':
                        isFlightpointSelected(flightpoint.id) == true &&
                        isFlightpointSelected(
                          (specificflight?.flightpoints)[i + 1].id
                        ) == true,
                      hovered_chain:
                        chainId_hover == flightpoint.flightpointchain_id,
                      hovered_mouse: inmouse_flightpoints_id(flightpoint.id)
                    }"
                    [style.width]="flightpoint._widthview + 'px'"
                    [style.left]="flightpoint._leftview + 'px'"
                    *ngIf="!last"
                    (contextmenu)="
                      contextmenuZone = 'timetable';
                      clickOnflight = true;
                      onContext(
                        $event,
                        -1,
                        null,
                        a_i,
                        s_i,
                        i,
                        flightpoint,
                        (specificflight?.flightpoints)[i + 1],
                        null
                      )
                    "
                    (click)="
                      contextmenuZone = 'timetable';
                      clickOnflight = true;
                      onaddFlightpointTochain(
                        flightpoint,
                        (specificflight?.flightpoints)[i + 1],
                        a_i,
                        s_i,
                        i
                      )
                    "
                    (mouseenter)="onChainhover(flightpoint.flightpointchain_id)"
                    (mouseleave)="chainId_hover = -1"
                  >
                    <div
                      class="flight-number float-center text-center"
                      *ngIf="
                        !getFlightpointWidth(
                          flightpoint?.calc_departure_datatime,
                          (specificflight?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime
                        )?.cutFrom
                      "
                    >
                      {{ specificflight?.flight_number }}
                    </div>
                    <div
                      class="f-info-begin"
                      *ngIf="
                        !getFlightpointWidth(
                          flightpoint?.calc_departure_datatime,
                          (specificflight?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime
                        )?.cutFrom
                      "
                    >
                      {{ getAirportByid(flightpoint?.airport_id).code }}
                      <br />{{
                        flightpoint?.calc_departure_datatime | date: 'HH:mm'
                      }}
                    </div>
                    <div
                      class="f-info-end"
                      *ngIf="
                        !getFlightpointWidth(
                          flightpoint?.calc_departure_datatime,
                          (specificflight?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime
                        ).cutTo
                      "
                    >
                      {{
                        getAirportByid(
                          (specificflight?.flightpoints)[i + 1]?.airport_id
                        ).code
                      }}
                      <br />{{
                        (specificflight?.flightpoints)[i + 1]
                          ?.calc_arrival_datatime | date: 'HH:mm'
                      }}
                    </div>
                    <div
                      class="f-info-chain"
                      *ngIf="flightpoint.flightpointchain_id != null"
                    >
                      <i class="fa fa-link" aria-hidden="true"></i>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <div
        [style.width]="width?.str"
        class="row"
        [style.margin-bottom]="'5px'"
        *ngIf="scale == scales.length - 1"
      >
        <span
          class="scale text-right"
          [style.width]="'35px'"
          [style.margin-left]="'60px'"
          *ngFor="let i of timeScale; let last = last"
        >
          <span *ngIf="!last">{{ i | date: '&nbsp;&nbsp;&nbsp;HH:mm' }}</span>
        </span>
      </div>
      <div
        [style.width]="width?.str"
        class="row"
        [style.margin-bottom]="'0px'"
        *ngIf="dateScale.length > 1"
      >
        <ng-container
          *ngFor="let i of dateScale; let last = last; let first = first"
        >
          <span
            *ngIf="first"
            class="scaledate text-center"
            [style.width]="'35px'"
            [style.margin-left]="
              dateScale[1].val - 12 * (60 / scales[scale]) - 25 + 'px'
            "
            [ngClass]="{ red: i.day == 'вс' || i.day == 'сб' }"
          >
            <span *ngIf="!last">{{ i.date | date: 'dd.MM' }}</span
            ><br />
            <span *ngIf="!last">&nbsp;{{ i.day }}</span>
          </span>
          <span
            *ngIf="!first"
            class="scaledate text-center"
            [style.width]="'35px'"
            [style.margin-left]="dateScale[1].val - 35 + 'px'"
            [ngClass]="{ red: i.day == 'вс' || i.day == 'сб' }"
          >
            <span>{{ i.date | date: 'dd.MM' }}</span
            ><br />
            <span>&nbsp;{{ i.day }}</span>
          </span>
        </ng-container>
      </div>
      <div
        [style.z-index]="'999'"
        [style.width]="width?.str"
        class="row"
        *ngIf="pastWidth?.val > 0 && pastWidth.val < width.val"
      >
        <span
          class="scalenow text-center"
          [style.width]="'35px'"
          [style.margin-left]="pastWidth?.val - 27 + 'px'"
        >
          <span>{{ now | date: 'HH:mm' }}</span>
        </span>
      </div>
    </div>
  </div>
  <div
    class="timetable row"
    style="position: inherit; z-index: 13;"
    [style.overflow-y]="'auto'"
    [style.height]="pilotHeight + 'px'"
  >
    <div class="timetable-sidebar" #areaPilot>
      <div
        class="aircraft d-flex justify-content-left pl-1"
        [ngClass]="{
          vp: pilot.basetype === 1,
          kvs: pilot.basetype === 2,
          pi: pilot.basetype === 3,
          'font-weight-bold': pilot.id === mouse_pilot_id
        }"
        *ngFor="let pilot of pilotsView"
        [style.margin-bottom]="'5px'"
        [style.font-size]="'14px'"
        (contextmenu)="
          contextmenuZone = 'airuser';
          onContext($event, pilot.id, -1, -1, -1, -1, null, null, 1)
        "
      >
        <span
          >{{ pilot?.surname }}&nbsp;<span *ngIf="pilot?.name"
            >{{ (pilot?.name)[0] }}.</span
          ><span *ngIf="pilot?.patronymic">{{ (pilot?.patronymic)[0] }}.</span
          ><br />
          <span class="aircraft-info">{{ pilot?.flightTime?.strHM }}</span
          ><span class="ml-5">{{ pilot?.home_airport?.code }}</span></span
        >
      </div>
    </div>
    <div
      [style.overflow-x]="'auto'"
      [style.touch-action]="'none'"
      class="timetable-content invisible-scrollbar"
      style="position: inherit;"
      [style.height]="allHeight + 50 + 'px'"
      #timelineAreaPilot
    >
      <div class="past" [style.width]="pastWidth?.str"></div>
      <div
        [style.height]="'100%'"
        [style.left]="pastWidth?.str"
        class="now-line"
        *ngIf="pastWidth?.val > 0 && pastWidth.val < width.val"
      ></div>
      <ng-container *ngIf="scale == scales.length - 1">
        <div
          [style.margin-left]="'10px'"
          [style.left]="'105px'"
          class="scale-line"
        ></div>
        <ng-container *ngFor="let item of timeScale; let i = index">
          <div
            [style.margin-left]="'10px'"
            [style.left]="95 * i + 10 + 'px'"
            class="scale-line"
            *ngIf="i > 1"
          ></div>
        </ng-container>
      </ng-container>
      <ng-container>
        <ng-container *ngFor="let item of dateScale; let i = index">
          <div
            [style.left]="item.val - 0 + 'px'"
            class="date-line"
            *ngIf="i > 0"
          ></div>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let pilot of pilotsView">
        <div [style.width]="width?.str" class="_row" style="position: inherit;">
          <div
            [style.width]="width?.str"
            class="_row"
            style="position: inherit;"
            (click)="onAddActivity($event, pilot.id, pilot?.accessLevel)"
            (mousemove)="
              setmouse_pilot_id($event, pilot.id);
              setmouse_flightpoints_id($event)
            "
          >
            <ng-container
              *ngFor="let item of dateScale; let i = index; let first = first"
            >
              <div
                (contextmenu)="
                  contextmenuZone = 'pilot';
                  onContext(
                    $event,
                    pilot.id,
                    dateScale[i],
                    -1,
                    -1,
                    -1,
                    null,
                    null,
                    pilot?.accessLevel
                  )
                "
                *ngIf="first"
                class="day-block"
                [style.width]="dayWidth?.str"
                [style.left]="dayWidth?.val * i + 'px'"
                [ngClass]="{
                  weekend:
                    dateScale[i]?.day == 'вс' || dateScale[i]?.day == 'сб'
                }"
              ></div>
              <div
                (contextmenu)="
                  contextmenuZone = 'pilot';
                  onContext(
                    $event,
                    pilot.id,
                    dateScale[i],
                    -1,
                    -1,
                    -1,
                    null,
                    null,
                    pilot?.accessLevel
                  )
                "
                *ngIf="!first"
                class="day-block"
                [style.width]="dayWidth?.str"
                [style.left]="dayWidth?.val * i + 'px'"
                [ngClass]="{
                  weekend:
                    dateScale[i - 1]?.day == 'пт' ||
                    dateScale[i - 1]?.day == 'сб'
                }"
              ></div>
            </ng-container>
            <ng-container
              *ngFor="
                let activity of pilot.activitys;
                let s_i = index;
                let s_first = first;
                let s_last = last
              "
            >
              <ng-container
                *ngIf="selectedIndex === 0 || activity.begin_datetime > now || selectedIndex === 1"
              >
                <div
                  class="flight_wrap"
                  (contextmenu)="onStop($event)"
                  (click)="onStop($event)"
                  [style.width]="activity?._flightWidth?.str"
                  [style.left]="activity?._left.val + 'px'"
                ></div>
                <!-- Обертка для полетной активности -->
                <div
                  *ngIf="activity?.activityname_id != 6"
                  (click)="onEditActivity($event, activity, pilot?.accessLevel)"
                  class="tooltipP"
                  [style.cursor]="'pointer'"
                  [style.left]="
                    activity?._left.val - timebeforelag / scales[scale] + 'px'
                  "
                  [style.width]="
                    activity?._flightWidth?.val +
                    timebeforelag / scales[scale] +
                    timeafterlag / scales[scale] +
                    'px'
                  "
                ></div>
                <div
                  *ngIf="activity?.activityname_id == 6"
                  appTooltipActivity
                  [airports]="airports"
                  [data]="[activity]"
                  (click)="onEditActivity($event, activity, pilot?.accessLevel)"
                  class="tooltipP"
                  [style.cursor]="'pointer'"
                  [style.left]="
                    activity?._left.val - timebeforelag / scales[scale] + 'px'
                  "
                  [style.width]="
                    activity?._flightWidth?.val +
                    timebeforelag / scales[scale] +
                    timeafterlag / scales[scale] +
                    'px'
                  "
                ></div>
                <div
                  (click)="onEditActivity($event, activity, pilot?.accessLevel)"
                  *ngIf="activity?.activityname_id == 6"
                  class="alltime"
                  [style.cursor]="'pointer'"
                  [ngClass]="{
                    warning:
                      activity?._rest?.warning === true &&
                      !(
                        activity?._rest?.danger === true ||
                        (activity?.last_end_airports != null &&
                          (activity?.last_end_airports)[0]?.city_id !==
                            activity?.airport?.city_id)
                      ),
                    danger:
                      activity?._rest?.danger === true ||
                      (activity?.last_end_airports != null &&
                        (activity?.last_end_airports)[0]?.city_id !==
                          activity?.airport?.city_id) ||
                      (activity?.last_end_airports == null &&
                        pilot?.home_airport?.city_id !==
                          activity?.airport?.city_id)
                  }"
                  [style.left]="
                    activity?._left.val - timebeforelag / scales[scale] + 'px'
                  "
                  [style.width]="
                    activity?._flightWidth?.val +
                    timebeforelag / scales[scale] +
                    timeafterlag / scales[scale] +
                    'px'
                  "
                ></div>
                <!-- Полоса отдыха -->
                <div
                  [style.cursor]="'pointer'"
                  (click)="onEditActivity($event, activity, pilot?.accessLevel)"
                  class="rest_wrap"
                  *ngIf="
                    activity?._rest !== null && activity.activityname_id === 6
                  "
                  [style.width]="activity?._rest?.restMinPx + 'px'"
                  [style.left]="
                    activity?._left.val -
                    timebeforelag / scales[scale] +
                    activity?._flightWidth?.val +
                    timebeforelag / scales[scale] +
                    timeafterlag / scales[scale] +
                    'px'
                  "
                ></div>
                <!-- Полоса рекомендуемого отдыха -->
                <div
                  [style.cursor]="'pointer'"
                  (click)="onEditActivity($event, activity, pilot?.accessLevel)"
                  class="goodrest_wrap"
                  *ngIf="
                    activity?._rest !== null && activity.activityname_id === 6
                  "
                  [style.width]="activity?._rest?.restMaxPx + 'px'"
                  [style.left]="
                    activity?._left.val -
                    timebeforelag / scales[scale] +
                    activity?._flightWidth?.val +
                    timebeforelag / scales[scale] +
                    timeafterlag / scales[scale] +
                    'px'
                  "
                ></div>
                <!-- Полоса "не дома" -->
                <!-- Полоса от начала промежутка -->
                <ng-container
                  *ngIf="
                    activity?.last_end_airports != null &&
                    (activity?.last_end_airports)[0] != null &&
                    pilot?.home_airport?.city_id !==
                      (activity?.last_end_airports)[0]?.city_id
                  "
                >
                  <div
                    class="out_home_wrap"
                    *ngIf="activity.activityname_id === 6 && s_first"
                    [style.width]="
                      activity?._left.val - timebeforelag / scales[scale] + 'px'
                    "
                    [style.left]="0 + 'px'"
                  ></div>
                  <div
                    class="out_home_wrap"
                    *ngIf="activity.activityname_id === 2 && s_first"
                    [style.width]="activity?._left.val + 'px'"
                    [style.left]="0 + 'px'"
                  ></div>
                </ng-container>
                <!-- Полоса от предыдущей активности -->
                <ng-container
                  *ngIf="
                    activity?.end_airport?.city_id != null &&
                    pilot?.home_airport?.city_id !==
                      activity?.end_airport?.city_id
                  "
                >
                  <div
                    class="out_home_wrap"
                    *ngIf="activity.activityname_id === 6"
                    [style.width]="
                      s_last === false
                        ? pilot.activitys[s_i + 1]._left.val -
                          (activity?._left.val -
                            timebeforelag / scales[scale] +
                            activity?._flightWidth?.val +
                            timebeforelag / scales[scale] +
                            timeafterlag / scales[scale]) +
                          'px'
                        : width?.val -
                          (activity?._left.val -
                            timebeforelag / scales[scale] +
                            activity?._flightWidth?.val +
                            timebeforelag / scales[scale] +
                            timeafterlag / scales[scale]) +
                          'px'
                    "
                    [style.left]="
                      activity?._left.val -
                      timebeforelag / scales[scale] +
                      activity?._flightWidth?.val +
                      timebeforelag / scales[scale] +
                      timeafterlag / scales[scale] +
                      'px'
                    "
                  ></div>
                  <!-- Полоса до активности без обертки -->
                  <div
                    class="out_home_wrap"
                    *ngIf="activity.activityname_id !== 6"
                    [style.width]="
                      s_last === false
                        ? pilot.activitys[s_i + 1]._left.val -
                          (activity?._left.val -
                            timebeforelag / scales[scale] +
                            activity?._flightWidth?.val +
                            timebeforelag / scales[scale] +
                            timeafterlag / scales[scale]) +
                          'px'
                        : width?.val -
                          (activity?._left.val -
                            timebeforelag / scales[scale] +
                            activity?._flightWidth?.val +
                            timebeforelag / scales[scale] +
                            timeafterlag / scales[scale]) +
                          'px'
                    "
                    [style.left]="
                      activity?._left.val -
                      timebeforelag / scales[scale] +
                      activity?._flightWidth?.val +
                      timebeforelag / scales[scale] +
                      'px'
                    "
                  ></div>
                </ng-container>
                <!-- Если активность привязана к цепочке, то располагаем леги -->
                <ng-container *ngIf="activity?.flightpointchain_id !== null">
                  <ng-container
                    *ngFor="
                      let flightpoint of activity?.flightpoints;
                      let i = index;
                      let fpfirst = first;
                      let fplast = last;
                      let even = even;
                      let odd = odd
                    "
                  >
                    <div
                      [style.cursor]="'pointer'"
                      (click)="
                        onEditActivity($event, activity, pilot?.accessLevel)
                      "
                      class="flight flightpoint-green-empty"
                      [style.width]="flightpoint._widthview + 'px'"
                      [style.left]="flightpoint._left + 'px'"
                      *ngIf="!fplast && even"
                    >
                      <div
                        [style.cursor]="'pointer'"
                        (click)="
                          onEditActivity($event, activity, pilot?.accessLevel)
                        "
                        class="flight-number float-center text-center"
                        *ngIf="
                          !getFlightpointWidth(
                            flightpoint?.calc_departure_datatime,
                            (activity?.flightpoints)[i + 1]
                              ?.calc_arrival_datatime
                          )?.cutFrom
                        "
                      >
                        {{ flightpoint?.flight_number }}
                      </div>
                      <div
                        (click)="
                          onEditActivity($event, activity, pilot?.accessLevel)
                        "
                        class="f-info-begin"
                        [style.cursor]="'pointer'"
                        *ngIf="
                          !getFlightpointWidth(
                            flightpoint?.calc_departure_datatime,
                            (activity?.flightpoints)[i + 1]
                              ?.calc_arrival_datatime
                          )?.cutFrom
                        "
                      >
                        {{ getAirportByid(flightpoint?.airport_id).code }}
                        <br />{{
                          flightpoint?.calc_departure_datatime | date: 'HH:mm'
                        }}
                      </div>
                      <div
                        [style.cursor]="'pointer'"
                        (click)="
                          onEditActivity($event, activity, pilot?.accessLevel)
                        "
                        class="f-info-end"
                        *ngIf="
                          !getFlightpointWidth(
                            flightpoint?.calc_departure_datatime,
                            (activity?.flightpoints)[i + 1]
                              ?.calc_arrival_datatime
                          ).cutTo
                        "
                      >
                        {{
                          getAirportByid(
                            (activity?.flightpoints)[i + 1]?.airport_id
                          ).code
                        }}
                        <br />{{
                          (activity?.flightpoints)[i + 1]
                            ?.calc_arrival_datatime | date: 'HH:mm'
                        }}
                      </div>
                      <div
                        class="warn"
                        [style.cursor]="'pointer'"
                        *ngIf="activity?.status === 2"
                        (click)="
                          onEditActivity($event, activity, pilot?.accessLevel)
                        "
                      >
                        <!-- <i
                          class="fa fa-2x fa-exclamation-circle"
                          aria-hidden="true"
                        ></i> -->
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
                <!-- Если активность рпивязана только к одному легу, то располагаем только его -->
                <ng-container *ngIf="activity?.flightpointchain_id === null">
                  <div
                    (contextmenu)="onStop($event)"
                    [style.cursor]="'pointer'"
                    (click)="
                      onEditActivity($event, activity, pilot?.accessLevel)
                    "
                    class="flight"
                    [ngClass]="{
                      'flightpoint-green-empty':
                        activity.activityname_id == 6 &&
                        activity?.flightpointchain_id <= 0,
                      'flightpoint-purple-empty':
                        activity.activityname_id == 2 &&
                        activity?.flightpointchain_id <= 0,
                      'flightpoint-purple':
                        activity.activityname_id == 2 &&
                        activity?.flightpointchain_id <= 0 &&
                        (activity?.ticketfile != null ||
                          activity?.information != null ||
                          activity?.information !== ''),
                      'flightpoint-rose':
                        activity.activityname_id == 1 &&
                        activity?.flightpointchain_id <= 0,
                      'flightpoint-blue':
                        activity.activityname_id == 7 &&
                        activity?.flightpointchain_id <= 0,
                      'flightpoint-green': activity.activityname_id == 3
                    }"
                    [style.width]="activity?._flightWidth?.str"
                    [style.left]="activity?._left.val + 'px'"
                  >
                    <div
                      [style.cursor]="'pointer'"
                      (click)="
                        onEditActivity($event, activity, pilot?.accessLevel)
                      "
                      class="flight-number float-center text-center"
                      *ngIf="
                        activity?.flightpointchain_id === null &&
                        activity?._flightWidth?.val > 5 &&
                        !getFlightpointWidth(
                          activity?.begin_datetime,
                          activity?.end_datetime
                        )?.cutFrom
                      "
                    >
                      <ng-container
                        *ngIf="activity?.flightpointchain_id === null"
                        >{{ activity?._flight_number }}
                      </ng-container>
                    </div>
                    <div
                      [style.cursor]="'pointer'"
                      (click)="
                        onEditActivity($event, activity, pilot?.accessLevel)
                      "
                      class="f-info-begin"
                      *ngIf="
                        !getFlightpointWidth(
                          activity?.begin_datetime,
                          activity?.end_datetime
                        )?.cutFrom
                      "
                    >
                      <ng-container
                        *ngIf="
                          activity?.activityname_id == 2 ||
                          activity?.activityname_id == 6
                        "
                      >
                        {{
                          getAirportByid(activity?.airport_id)?.code
                        }}</ng-container
                      >
                      <br />{{ activity?.begin_datetime | date: 'HH:mm' }}
                    </div>
                    <div
                      [style.cursor]="'pointer'"
                      (click)="
                        onEditActivity($event, activity, pilot?.accessLevel)
                      "
                      class="f-info-end"
                      *ngIf="
                        !getFlightpointWidth(
                          activity?.begin_datetime,
                          activity?.end_datetime
                        )?.cutTo
                      "
                    >
                      <ng-container
                        *ngIf="
                          activity?.activityname_id == 2 ||
                          activity?.activityname_id == 6
                        "
                      >
                        {{ getAirportByid(activity?.end_airport_id)?.code }}<br
                      /></ng-container>

                      {{ activity?.end_datetime | date: 'HH:mm' }}
                      <ng-container
                        *ngIf="
                          activity?.activityname_id != 2 &&
                          activity?.activityname_id != 6
                        "
                      >
                        <br />&nbsp;
                      </ng-container>
                    </div>
                    <div
                      class="warn"
                      [style.cursor]="'pointer'"
                      *ngIf="activity?.status === 2"
                      (click)="
                        onEditActivity($event, activity, pilot?.accessLevel)
                      "
                    >
                      <!-- <i
                        class="fa fa-2x fa-exclamation-circle"
                        aria-hidden="true"
                      ></i> -->
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <div
        [style.width]="width?.str"
        class="row"
        [style.margin-bottom]="'5px'"
        *ngIf="scale == scales.length - 1"
      >
        <span
          class="scale text-right"
          [style.width]="'35px'"
          [style.margin-left]="'60px'"
          *ngFor="let i of timeScale; let last = last"
        >
          <span *ngIf="!last">{{ i | date: '&nbsp;&nbsp;&nbsp;HH:mm' }}</span>
        </span>
      </div>
      <div
        [style.width]="width?.str"
        class="row"
        [style.margin-bottom]="'0px'"
        *ngIf="dateScale.length > 1"
      >
        <ng-container
          *ngFor="let i of dateScale; let last = last; let first = first"
        >
          <span
            *ngIf="first"
            class="scaledate text-center"
            [style.width]="'35px'"
            [style.margin-left]="
              dateScale[1].val - 12 * (60 / scales[scale]) - 25 + 'px'
            "
            [ngClass]="{ red: i.day == 'вс' || i.day == 'сб' }"
          >
            <span *ngIf="!last">{{ i.date | date: 'dd.MM' }}</span
            ><br />
            <span *ngIf="!last">&nbsp;{{ i.day }}</span>
          </span>
          <span
            *ngIf="!first"
            class="scaledate text-center"
            [style.width]="'35px'"
            [style.margin-left]="dateScale[1].val - 35 + 'px'"
            [ngClass]="{ red: i.day == 'вс' || i.day == 'сб' }"
          >
            <span>{{ i.date | date: 'dd.MM' }}</span
            ><br />
            <span>&nbsp;{{ i.day }}</span>
          </span>
        </ng-container>
      </div>
      <div
        [style.z-index]="'999'"
        [style.width]="width?.str"
        class="row"
        *ngIf="pastWidth?.val > 0 && pastWidth.val < width.val"
      >
        <span
          class="scalenow text-center"
          [style.width]="'35px'"
          [style.margin-left]="pastWidth?.val - 27 + 'px'"
        >
          <span>{{ now | date: 'HH:mm' }}</span>
        </span>
      </div>
    </div>
  </div>
</mat-card>
