.viewplus,
.viewminus {
	position: absolute;
	top: 160px;
	right: 20px;
	cursor: pointer;
	border: 2px solid #ccc;
	background: transparent;
	text-align: center;
	z-index: 1000;
	color: #313131;
	padding: 5px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
}
.block-name {
	text-transform: uppercase;
	color: #3f4849;
	font-weight: 400;
	font-size: 20px;
	padding-top: 15px;
	height: 68px;
}
.viewminus {
	top: 200px;
}
.aircraft {
	background: #e5f2f2;
	width: 145px;
	height: 55px;
	margin-right: 10px;
	border-left: 10px solid white;
	&:hover {
		font-weight: bold !important;
	}
}
.pilots {
	height: 155px;
	overflow-y: auto;
}
._pilots {
	height: 155px;
	overflow: none;
}
.aircraft span {
	color: #3f4849;
	margin-top: auto;
	margin-bottom: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.aircraft-info {
	color: #3f4849;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: 200;
}
._row {
	height: 55px;
	margin-bottom: 5px;
	background: #f3f9f9;
}
.day-block {
	height: 55px;
	background: #f3f9f9;
	position: absolute;
}
.weekend {
	background: #ffdbdb;
}
.past {
	pointer-events: none;
	height: 100%;
	background: RGBA(255, 255, 255, 0.5);
	position: absolute;
	z-index: 100;
}
// рейс
.flight {
	height: 16px;
	position: absolute;
	float: left;
	border: 0px solid transparent;
	cursor: pointer;
	bottom: 20px;
	transition: 0.2s;
}
.flight_wrap {
	height: 100%;
	float: left;
	position: absolute;
}
.flight-number {
	// pointer-events: none;
	padding: 0;
	margin: -3px 0 0 0;
	color: #000;
	font-size: 11px;
	height: 100%;
	width: 100%;
	left: 0px;
	z-index: 100;
	position: absolute;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.flight-data {
	padding: 0px;
	padding-right: 0px;
	color: #fff;
	font-size: 13px;
	height: 40px;
	margin: 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
// на земле
._flight {
	height: 32px;
	position: absolute;
	float: left;
	border-bottom: 3px #aaa solid;
	margin-top: 18px;
	z-index: 500;
}
.f-info-begin,
.f-info-end,
.f-info-chain,
.warn {
	position: absolute;
	font-size: 10px;
	line-height: 10px;
	z-index: 100;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.f-info-begin {
	top: -22px;
	left: -10px;
}
.f-info-end {
	bottom: -22px;
	right: -10px;
}
.warn {
	top: -22px;
	right: -10px;
	color: red;
}
.f-info-chain {
	top: -12px;
	right: -10px;
}
.flightpoint {
	height: 100%;
	position: absolute;
	float: left;
	// cursor: pointer;
	z-index: 10;
}
.flightpoint-green {
	background: linear-gradient(to top, #7bd268, #6ed19f);
	border: 3px solid transparent;
}
.flightpoint-green-empty {
	// background: #f3f9f9;
	border: 3px solid #93cc76;
}
.flightpoint-purple-empty {
	// background: #f3f9f9;
	border: 3px solid #754692;
}
.flightpoint-purple {
	background: #754692;
	border: 3px solid #754692;
}
.flightpoint-rose {
	background: #d066cd;
	border: 3px solid transparent;
}
.flightpoint-blue {
	background: #2bcfd6;
	border: 3px solid transparent;
}
.flightpoint-red {
	background: #e2003e;
	border: 3px solid transparent;
}
.flightpoint-red-empty {
	// background: #e2003e;
	border: 3px solid #e2003e;
}
.flightpoint-yellow {
	background: #fff41a;
	border: 3px solid transparent;
}
.flightpoint-yellow-empty {
	// background: #e2003e;
	border: 3px solid #fff41a;
}
.flight-green {
	background: #d4e9cf;
}
.flight-green:hover {
	transition: 0.2s;
	background: #d4e9cf;
	-webkit-box-shadow: 0 2px 5px #bfd5d8;
	-moz-box-shadow: 0 2px 5px #bfd5d8;
	box-shadow: 0 2px 5px #bfd5d8;
}
.flight-pink {
	background: #cf65d0 !important;
}
.flightpoint-pink-empty {
	border: 3px solid #cf65d0;
}
.flight-blue {
	background: #2cd1d6 !important;
}
.flightpoint-blue-empty {
	border: 3px solid #2cd1d6;
}
.flight-green-empty {
	background: RGBA(147, 204, 118, 0.3);
}
.flight-green-empty:hover {
	transition: 0.2s;
	-webkit-box-shadow: 0 2px 5px #bfd5d8;
	-moz-box-shadow: 0 2px 5px #bfd5d8;
	box-shadow: 0 2px 5px #bfd5d8;
}
// поле таймлайна
.timetable {
	display: flex;
	bottom: 100%;
}
.timetable-sidebar {
	flex: 0 0 155px;
}
.timetable-content {
	width: calc(100% - 230px);
}
// линии времени и даты
.scale,
.scaledate,
.scalenow {
	transform: translateX(50%);
	line-height: 15px;
	padding-left: 5px;
}
.scalenow {
	margin-top: -27px;
	opacity: 0.99;
	z-index: 999;
}
.scale span,
.scaledate span,
.scalenow span {
	font-weight: 200;
	font-size: 14px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.scaledate span {
	font-weight: 400;
}
.scalenow span {
	color: #fff;
	background: RGBA(54, 203, 218, 1);
	padding: 0 5px 0 5px;
}
.scale-line {
	pointer-events: none;
	position: absolute;
	z-index: 99998;
	background: RGBA(54, 203, 218, 0.2);
	/* background: #36cbda; */
	width: 1px;
	top: 0px;
	height: calc(100% - 0px);
	margin-left: -10px !important;
	transition: 2s;
}
.date-line {
	position: absolute;
	z-index: 10;
	background: RGBA(54, 203, 218, 0.5);
	width: 2px;
	top: 0px;
	height: calc(100% - 0px);
	transition: 2s;
}
.date-line:hover {
	background: RGBA(54, 203, 218, 0.5);
}
.now-line {
	position: absolute;
	background: RGBA(54, 203, 218, 0.9);
	/* background: #36cbda; */
	width: 3px;
	top: 0px;
	// height: calc(100% - 0px);
	margin-left: 0px !important;
	z-index: 100;
}
.now-line:hover {
	background: RGBA(54, 203, 218, 0.5);
}

@media (max-width: 991px) {
	.timetable-content {
		width: calc(100% - 230px);
	}
}

.add-position {
	position: absolute;
	top: 32px;
	right: 10px;
	cursor: pointer;
}

.planearea {
	background: #bfc9d3;
	height: 40px;
}

.planename {
	background: #fff;
	height: 40px;
	padding: 10px 0px;
	border: 1px solid black;
}

.dragging {
	/* background: #000; */
	opacity: 0.99;
	z-index: 500 !important;
}

.enableToDrop {
	background: red !important;
}

/* .draggable {
	  cursor: move;
	  user-select: none;
  } */
.aircraft-disabled {
	background: #000;
}

.movable:not(.dragging) {
	cursor: move;
	z-index: 1000 !important;
	opacity: 0.99;
}

.red {
	color: red;
}
.field {
	pointer-events: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 370px;
	right: 0px;
	// width: 100%;
	height: 100%;
	z-index: 9999;
}
@media (max-width: 991px) {
	.field {
		left: -170px;
	}
}
.mat-menu-item {
	height: 35px !important;
	color: #4f5f6f !important;
}
.filter-field {
	width: 130px;
}
.in-chain {
	background: RGBA(153, 209, 255, 0.7) !important;
	border-color: RGBA(153, 209, 255, 1) !important;
}
.hovered_chain {
	border-color: RGBA(153, 209, 255, 1) !important;
}
.hovered_mouse {
	border-color: RGBA(153, 209, 255, 1) !important;
}
// button.mat-menu-item {
// 	background-color: white;
// }
// button.mat-menu-item:hover {
// 	background-color: #29acc8;
// 	color: #fff !important;
// 	border: 1px white !important;
// }
// button.mat-menu-item:selected {
// 	border: 0px !important;
// }
.viewTrigger {
	position: absolute;
	top: 60px;
	right: 10px;
	cursor: pointer;
	border: 2px solid #ccc;
	background: transparent;
	text-align: center;
	cursor: pointer;
	z-index: 9999;
	color: #313131;
	padding: 5px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
}

.alltime {
	border: 0px solid black;
	height: 55px;
	position: absolute;
	float: left;
	transition: 0.2s;
	background: #29bdd3;
	background-image: repeating-linear-gradient(
		30deg,
		hsla(0, 0%, 100%, 0.1),
		hsla(0, 0%, 100%, 0.1) 15px,
		transparent 0,
		transparent 30px
	);
}
.tooltipP {
	z-index: 9999;
	height: 55px;
	position: absolute;
	background: transparent;
}
.danger {
	background: #d5003c;
	background-image: repeating-linear-gradient(
		30deg,
		hsla(0, 0%, 100%, 0.1),
		hsla(0, 0%, 100%, 0.1) 15px,
		transparent 0,
		transparent 30px
	) !important;
}
.warning {
	background: #ffce23;
	background-image: repeating-linear-gradient(
		30deg,
		hsla(0, 0%, 100%, 0.1),
		hsla(0, 0%, 100%, 0.1) 15px,
		transparent 0,
		transparent 30px
	) !important;
}
.rest_wrap {
	top: 0px;
	border: 0px solid black;
	height: 5px;
	position: absolute;
	float: left;
	transition: 0.2s;
	background: #fff320;
	// opacity: 0.5;
	z-index: 2;
}
.goodrest_wrap {
	// margin-top: -5px;
	border: 0px solid black;
	// margin-top: 5px;
	height: 5px;
	position: absolute;
	float: left;
	transition: 0.2s;
	background: #96cc72;
	z-index: 1;
}
.out_home_wrap {
	border: 0px solid black;
	margin-top: 0px;
	height: 5px;
	position: absolute;
	float: left;
	transition: 0.2s;
	background: #29d0d9;
	z-index: 0;
}

.invisible-scrollbar::-webkit-scrollbar {
	display: none !important;
}
.vp {
	background: #96cc72;
}
.kvs {
	background: #2dd0d1;
}
.pi {
	background: #d667c5;
}
.editbg {
	border: 3px solid #efb3b8;
}
.viewbg {
	border: 3px solid white;
}
