<mat-card>
  <div class="row">
    <div class="col-md-4 col-12">
      <div class="input-group">
        <select
          class="form-control"
          (ngModelChange)="selectSubdivision($event.target.value)"
          (change)="selectSubdivision($event.target.value)"
        >
          <option [value]="null"> </option>
          <option
            *ngFor="let subdivision of subdivisions"
            [value]="subdivision.id"
          >
            {{ subdivision.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="input-group">
        <input
          class="form-control"
          [matAutocomplete]="airuser"
          [formControl]="userCtrl"
        />
        <div class="input-group-append">
          <button
            (click)="userCtrl.setValue('')"
            class="btn btn-outline-secondary"
            type="button"
          >
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
        <mat-autocomplete #airuser="matAutocomplete">
          <mat-option
            class="typeheadoption"
            *ngFor="let user of filteredUsers | async"
            [value]="user.name + ' ' + user.surname"
            (onSelectionChange)="selectAiruser(user?.id)"
          >
            <span>{{ user.name }} {{ user.surname }}</span>
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="input-group">
        <select
          class="form-control"
          [disabled]="airusersOfSubdivision.length < 1"
          [(ngModel)]="selectAircraftmodelgroupId"
          (change)="selectAircraftmodelgroup(selectAircraftmodelgroupId)"
        >
          <option
            *ngFor="let aircraftmodel of aircraftmodelgroups"
            [value]="aircraftmodel.id"
          >
            {{ aircraftmodel?.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
</mat-card>
<mat-card> </mat-card>
<mat-expansion-panel
  *ngIf="allAirusercertificatesProblems.length > 0"
  [expanded]="problemPanelIsOpen"
  (opened)="problemPanelIsOpen = true"
  hideToggle="true"
  [ngStyle]="{ border: '3px solid #efb3b8', marginTop: '10px' }"
>
  <mat-expansion-panel-header>
    Пилоты, имеющие сертификаты с истекающим/истекшим сроком действия
  </mat-expansion-panel-header>
  <div class="col-12 mt-4">
    <table class="table list-table full-width">
      <thead>
        <tr>
          <th>ФИО</th>
          <th>Подразделение</th>
          <th>Должность</th>
          <th>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngFor="let airuser of airusersWithAirusercertificatesProblems"
        >
          <tr *ngIf="airuser != null">
            <td (click)="setCertificate(airuser.problemCertificates)">
              {{ airuser?.surname }} {{ airuser?.name }}
            </td>
            <td (click)="setCertificate(airuser.problemCertificates)">
              {{ getSubdivisionByPositionId(airuser?.position_id)?.name }}
            </td>
            <td (click)="setCertificate(airuser.problemCertificates)">
              {{ airuser?.position }}
            </td>
            <td (click)="setCertificate(airuser.problemCertificates)">
              {{ airuser.problemCertificates?.length }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</mat-expansion-panel>
