$bg-color: #e4f2f2;
$primary-textcolor: #3f4849;

$blueLight-color: #29bdd3;
$blueDark-color: #29acc8;

$grayBG-color: #f4f4f4;
$grayBGhover-color: #ebebeb;
$grayBRD-color: #c8c8c8;
$grayBRDhover-color: #afafaf;

$black-color: #282828;
$white-color: #fff;
$red-color: #e50037;
$gray-color: #a0a0a0;

$disabled-color: #f8f8f8;
