@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600");
@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
@import "colors";

@font-face {
	font-family: Gilroy-Light;
	src: url("fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
	font-family: Gilroy-ExtraBold;
	src: url("fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
	font-family: GillSans-Light;
	src: url("fonts/GillSans-Light.woff") format("woff"),
		url("fonts/GillSans-Light.otf") format("opentype"),
		url("fonts/GillSans-Light.eot");
}

.mmt-15 {
	margin-top: -15px;
	// margin-bottom: -15px;
}
.custom-file-label::after {
	display: none;
}
.primary-color {
	color: $blueLight-color;
}
.has-error {
	border-color: $red-color !important;
}
.cursor-pointer {
	cursor: pointer;
}

h1 {
	color: $primary-textcolor !important;
	font-family: GillSans-Light !important;
	font-size: 19px !important;
	font-weight: bold !important;
	text-transform: uppercase;
	padding: 5px !important;
	margin: 0px !important;
}

h2 {
	color: $primary-textcolor !important;
	font-family: GillSans-Light !important;
	font-size: 22px !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	padding: 0px !important;
	margin: 0px !important;
}

h3 {
	color: $primary-textcolor !important;
	// font-family: Gilroy-Light !important;
	font-size: 16px !important;
	font-weight: 700 !important;
	padding: 0px 0 10px 0 !important;
	margin: 0px !important;
}

h4 {
	color: $primary-textcolor !important;
	font-family: Gilroy-Light !important;
	font-size: 17px !important;
	font-weight: 700 !important;
	padding: 2px 0 10px 0 !important;
	margin: 0px !important;
	text-transform: uppercase;
}

body,
html {
	color: $primary-textcolor;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
}

/**Контролы*/
.typeheadoption {
	height: 25px !important;
	&:focus,
	&:hover {
		background-color: #1e90ff !important;
		color: white;
	}
}

textarea,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: 35px;
	border-color: $grayBRD-color;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(141, 153, 174, 0);
	outline: 0 none;
	&:hover {
		border-color: $grayBRDhover-color;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(141, 153, 174, 0);
		outline: 0 none;
	}
	&:focus {
		border-color: $blueDark-color;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(0, 84, 155, 0) !important;
		outline: 0 none;
	}
	&:disabled {
		background: $disabled-color;
		border-color: $grayBRD-color;
	}
}
.form-control-radio {
	height: 20px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: $grayBRD-color;
	outline: 0 none;
	&:hover {
		border-color: $grayBRDhover-color;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(141, 153, 174, 0);
		outline: 0 none;
		border-top-width: 0px;
		border-left-width: 0px;
		border-right-width: 0px;
	}
	&:focus {
		border-color: $blueDark-color;
		outline: 0 none;
		border-top-width: 0px !important;
		border-left-width: 0px !important;
		border-right-width: 0px !important;
	}
	&:disabled {
		background: $disabled-color;
		border-color: $grayBRD-color;
	}
}
select {
	font-size: 16px !important;
	margin: 0px !important;
	padding: 0px !important;
	padding-left: 6px !important;
	color: $black-color !important;
}
.form-control {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
label {
	font-weight: 500;
	font-size: 16px;
	padding-top: 1px;
	margin-top: 3px !important;
	color: $black-color !important;
}
.custom-control-label:before {
	background-color: $grayBG-color;
	margin-left: 0px;
	padding-left: 0px;
}
.custom-control-label:hover:before {
	background-color: $grayBGhover-color;
}
.custom-control-label {
	color: $black-color !important;
	margin-right: 0px;
	padding-right: 0px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: $blueLight-color;
	border-color: $blueLight-color;
}
.custom-checkbox
	.custom-control-input:hover:checked
	~ .custom-control-label:hover::before {
	background-color: $blueDark-color;
	border-color: $blueDark-color;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: $blueLight-color;
	border-color: $blueLight-color;
}
.custom-radio
	.custom-control-input:hover:checked
	~ .custom-control-label:hover::before {
	background-color: $blueDark-color;
}
input[type="checkbox"],
input[type="radio"] {
	&:focus {
		+ label:before {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0) !important;
		}
	}
}

.btn {
	background-image: none;
	border-radius: 0;
	font-size: 14px;
	height: 35px !important;
	&:focus,
	&:active {
		outline: none !important;
		box-shadow: none;
	}
}
.btn.btn-primary {
	border: 1px $blueLight-color solid !important;
	background-color: $blueLight-color;
	border-radius: 20px !important;
	color: $white-color;
	font-family: GillSans-Light;
	font-size: 16px;
	font-weight: 700;
	padding: 0px 40px !important;
	// box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.1);
	&:hover {
		border: 1px $blueDark-color solid !important;
		background-color: $blueDark-color;
	}
	&:active,
	&.active {
		border: 1px $blueDark-color solid !important;
		background-color: $blueDark-color !important;
	}
	&.disabled.focus,
	&.disabled:focus,
	&:disabled.focus,
	&:disabled:focus,
	&.disabled,
	&:disabled {
		border: 1px $disabled-color solid !important;
		background-color: $disabled-color;
		color: $gray-color;
	}
}
.btn.btn-light {
	background-color: $bg-color;
	border-radius: 20px !important;
	// box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.1);
	border: 1px $bg-color solid !important;
}
.btn.btn-danger {
	background-color: $red-color;
	border-radius: 20px !important;
	// box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.1);
	border: 1px $red-color solid !important;
}
.btn-outline-secondary {
	background-color: transparent !important;
	color: $grayBRDhover-color;
	border: 1px transparent solid !important;
	&:hover {
		color: $black-color;
	}
}
.btnshadow {
	box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0) !important;
}

/**Авторизация */
.auth {
	background-color: $bg-color;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	.auth-container {
		left: 50%;
		min-height: 330px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		--webkit-transform: translateY(-50%) translateX(-50%);
		width: 450px;
		.auth-header {
			border-bottom: 1px solid #bbb9ac;
			text-align: center;
		}
		.auth-title {
			font-family: Gilroy-Light;
			color: $primary-textcolor;
			padding: 10px;
			line-height: 25px;
			font-size: 28px;
			font-weight: 600;
			margin: 0;
		}
		.auth-content {
			padding: 30px 50px;
		}
	}
	@media (max-width: 767px) {
		.auth-container {
			left: 0;
			margin: 0;
			margin-bottom: 10px;
			position: relative;
			top: 0;
			transform: inherit;
			--webkit-transform: inherit;
			width: 100%;
		}
		.auth-container .auth-content {
			padding: 30px 25px;
		}
	}
}

/**Контейнер*/
.main-wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	.app {
		background-color: $bg-color;
		box-shadow: 0 0 3px $gray-color;
		left: 0;
		margin: 0 auto;
		min-height: 100vh;
		overflow: hidden;
		padding-left: 180px;
		position: relative;
		transition: left 0.3s ease, padding-left 0.3s ease;
		-webkit-transition: left 0.3s ease, padding-left 0.3s ease;
		width: 100%;
		.content {
			min-height: 100vh;
			padding: 90px 30px 0px 60px;
		}
		@media (min-width: 1200px) {
			.content {
				padding: 90px 30px 0px 60px;
			}
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			.content {
				padding: 90px 30px 0px 60px;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.content {
				padding: 80px 20px 0px 20px;
			}
		}

		@media (max-width: 767px) {
			.content {
				padding: 80px 10px 0px 10px;
			}
		}
	}
	@media (max-width: 991px) {
		.app {
			padding-left: 50px;
		}
	}
}
/**header*/
.dropdown-menu {
	border: 1px solid rgba(126, 142, 159, 0.1);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
	float: left;
	margin-top: 15px;
	.dropdown-item {
		cursor: pointer;
		clear: both;
		font-family: GillSans-Light;
		color: #4f5f6f;
		display: block;
		font-weight: 600;
		font-size: 16px;
		padding: 0 0px;
		transition: none;
		-webkit-transition: none;
		white-space: nowrap;
		i {
			margin-right: 7px;
		}
		&:hover {
			background: 0 0;
			background-color: #29acc8;
			color: #fff !important;
		}
	}
}
.header {
	align-items: center;
	background-color: #fff;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 70px;
	width: 100%;
	-ms-flex-align: center;
	position: absolute;
	right: 0;
	transition: left 0.3s ease;
	-webkit-align-items: center;
	-webkit-box-align: center;
	box-align: center;
	-webkit-transition: left 0.3s ease;
	.header-block {
		margin-right: 15px;
	}
	@media (max-width: 767px) {
		.header-block {
			padding: 5px;
		}
	}
	.header-block-nav {
		margin-left: auto;
		white-space: nowrap;
		.profile .name {
			color: $black-color;
			font-family: GillSans-Light;
			font-size: 18px;
			display: inline-block;
			font-weight: 700;
			margin-right: 9px;
			text-decoration: none;
			border-bottom: 1px $black-color dashed;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		&::after {
			clear: both;
			content: "";
			display: table;
		}
		a {
			text-decoration: none;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: table;
			li {
				display: table-cell;
				position: relative;
				&:before {
					background-color: #8b9cb1;
					content: " ";
					display: block;
					height: 24px;
					left: 0;
					margin-top: -12px;
					position: absolute;
					top: 50%;
					width: 1px;
				}
				&:first-child:before {
					display: none;
				}
				a {
					color: $black-color;
					padding: 0 15px;
					&:hover {
						color: $blueDark-color;
					}
				}
			}
		}
	}
}
/**logo */
.logotip {
	display: flex;
	flex-wrap: wrap;
	height: 20px;
	top: 12px;
	left: 250px;
	width: 170px;
	position: absolute;
	z-index: 20;
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
	.main {
		font-family: Gilroy-Light;
		font-size: 16px;
		text-transform: uppercase;
	}
	.page {
		font-family: Gilroy-ExtraBold;
		font-size: 15px;
		text-transform: uppercase;
	}
	.icon {
		color: #52bcd3;
		text-align: center;
		width: 16px;
	}
}
@media (max-width: 991px) {
	.logotip {
		left: 50px;
	}
}
.new-line {
	height: 1px;
	width: 100%;
}
@media (max-width: 767px) {
	.logotip {
		height: 50px;
	}
}
/**sidebar*/
.sidebar {
	bottom: 0;
	left: 0;
	padding-bottom: 60px;
	position: absolute;
	top: 0;
	transition: left 0.3s ease;
	-webkit-transition: left 0.3s ease;
	width: 215px;
	z-index: 20;
	hr {
		border-top-color: $bg-color;
	}
	&:before {
		content: " ";
		position: absolute;
		width: 7px;
		height: 100%;
		z-index: -1;
		right: 0px;
		background: transparent;
	}
	&:after {
		content: " ";
		position: absolute;
		width: 208px;
		height: 100%;
		z-index: -1;
		left: 0px;
		background: $blueLight-color;
	}
	.sidebar-container {
		bottom: 51px;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		top: 0;
		width: 100%;
		&::-webkit-scrollbar-track {
			background-color: #2c353e;
		}
	}
	.nav {
		font-size: 14px;
		font-weight: 600;
		ul {
			height: 0;
			overflow: hidden;
			padding: 0;
		}
		li {
			a {
				color: $white-color;
				text-decoration: none;
				padding-bottom: 15px;
				padding-left: 20px;
				padding-right: 10px;
				padding-top: 15px;
				width: 215px;
				font-weight: 600;
				display: block;
				&:before {
					display: none;
				}
			}
			&.active > a,
			&.active > a:hover {
				background-color: $blueDark-color !important;
				color: #fff !important;
				width: 215px !important;
				border-radius: 0 25px 25px 0;
			}
		}
		li a:hover,
		li.open a:hover,
		li.open > a {
			background-color: $blueDark-color;
			color: $white-color;
			border-radius: 0 25px 25px 0;
		}
	}
}
.sidebar .nav > li > a i {
	font-size: 16px;
	margin-right: 5px;
}
.sidebar .nav > li > a i.arrow {
	float: right;
	font-size: 20px;
	line-height: initial;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
.sidebar .nav > li > a i.arrow:before {
	content: "\f105" !important;
}
.sidebar .nav > li > ul > li a {
	background-color: #333e48;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-top: 10px;
}
.sidebar .nav > li > ul > li.active a {
	color: #fff;
}
@media (max-width: 991px) {
	.sidebar {
		left: -170px;
		position: fixed;
	}
}
/**scroll*/
::-webkit-scrollbar {
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track {
	border-radius: 0;
}
::-webkit-scrollbar-thumb {
	background: $blueDark-color;
	border-radius: 0;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: $blueLight-color;
}
/**styles*/
.search-str {
	margin-top: -10px;
}
.list-table {
	tbody tr {
		cursor: pointer;
		font-size: 16px;
		&:hover,
		&.hover {
			background-color: #e4f2f2;
		}
		td {
			padding: 8px 10px;
		}
	}
	thead tr {
		th {
			padding: 10px 10px;
		}
	}
}

.topbutton {
	border: 2px solid #ccc;
	background: transparent;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 25px;
	right: 25px;
	cursor: pointer;
	z-index: 9999;
	color: #313131;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
}
.progress-bar {
	position: fixed;
	top: 100px;
	left: 260px;
	right: 50px;
	background: RGBA(0, 0, 0, 0);
	color: #000;
}
@media (max-width: 991px) {
	.progress-bar {
		left: 90px;
	}
}

/**Всплывающие диалоги*/
.app-dialog-base {
	width: 500px;
}
.app-dialog-extend {
	width: 800px;
}
.dialog-base {
	padding-bottom: 15px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

/**Ссыдки*/
.download {
	font-size: 16px;
	cursor: pointer;
	font-weight: 400;
	color: $blueDark-color;
	padding-right: 15px;
}

/**табы */
.tab-group-top .mat-tab-header {
	position: absolute;
	top: 15px;
	left: 430px;
	right: 170px;
	z-index: 100;
	border-bottom: 0px solid #e4f2f2;
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
}

@media (max-width: 991px) {
	.tab-group-top .mat-tab-header {
		left: 170px;
	}
}

.tab-group-top .mat-tab-header .mat-tab-label {
	background: #fff;
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
	height: 55px;
}

.tab-group-top .mat-tab-header .mat-tab-label-active {
	background: #e4f2f2 !important;
	opacity: 1 !important;
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
	transition: 0.5s;
}

.tab-group-top .mat-ink-bar {
	background-color: var(--primary-color, #e4f2f2) !important;
}

.tab-group-top .mat-tab-body-wrapper {
	margin-top: -10px;
}

.context-dropdown-item {
	clear: both;
	font-family: GillSans-Light;
	color: #4f5f6f;
	display: block;
	font-weight: 600;
	font-size: 16px;
	padding: 5px 15px;
	transition: none;
	-webkit-transition: none;
	white-space: nowrap;
	cursor: pointer;
}

.context-dropdown-item i {
	margin-right: 7px;
}

.context-dropdown-item:hover {
	background: 0 0;
	background-color: #29acc8;
	color: #fff !important;
}
