<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <p>{{ data.title }}</p>
    </div>
    <form [formGroup]="formPeriodFlight">
      <div class="row">
        <div class="col-4">
          <label for="flight_number">Период*</label>
        </div>
        <div class="col-4 mmt-15">
          <mat-form-field>
            <input
              AUTOCOMPLETE="off"
              matInput
              [matDatepicker]="pickerfitst_day"
              placeholder=""
              formControlName="Flighttemplate_fitst_day"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerfitst_day"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerfitst_day startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-4 mmt-15">
          <mat-form-field>
            <input
              AUTOCOMPLETE="off"
              matInput
              [min]="formPeriodFlight?.value?.Flighttemplate_fitst_day"
              [matDatepicker]="pickerlast_day"
              placeholder=""
              formControlName="Flighttemplate_last_day"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerlast_day"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerlast_day startView="year"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="flight_number">Номер рейса*</label>
        </div>
        <div class="col-8">
          <div class="input-group">
            <input
              class="form-control"
              placeholder=""
              [matAutocomplete]="auto_flightCtrl"
              [formControl]="flightCtrl"
              (change)="setFlight_number()"
              (ngModelChange)="setFlight_number()"
              [ngClass]="{
                'has-error':
                  flightCtrl.touched &&
                  (flightCtrl.value == null || flightCtrl.value.trim() === '')
              }"
            />
            <div class="input-group-append">
              <button
                (click)="flightCtrl.reset()"
                class="btn btn-outline-secondary"
                type="button"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </div>
            <mat-autocomplete
              #auto_flightCtrl="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                class="typeheadoption"
                *ngFor="let option of filteredFlights | async"
                [value]="option.flight_number"
              >
                {{ option.flight_number }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <label for="aircraftmodel_id">Воздушное судно</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="aircraft_id"
              (ngModelChange)="loadedlayout = false"
              placeholder=""
            >
              <option *ngFor="let aircraft of aircrafts" [value]="aircraft.id">
                {{ aircraft.code }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="Flighttemplate_aircraftmodel_id">Тип ВС*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="Flighttemplate_aircraftmodel_id"
              (ngModelChange)="loadedlayout = false"
              placeholder=""
              [ngClass]="{
                'has-error':
                  formPeriodFlight.controls.Flighttemplate_aircraftmodel_id
                    .touched &&
                  formPeriodFlight.controls.Flighttemplate_aircraftmodel_id
                    .invalid
              }"
            >
              <option
                *ngFor="let aircraftmodel of aircraftmodels"
                [value]="aircraftmodel.id"
              >
                {{ aircraftmodel.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="Flighttemplate_aircraftmodel_id">Категория рейса*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="Flight_flight_type"
              (ngModelChange)="loadedlayout = false"
              placeholder=""
              [ngClass]="{
                'has-error':
                  formPeriodFlight.controls.Flight_flight_type.touched &&
                  formPeriodFlight.controls.Flight_flight_type.invalid
              }"
            >
              <option
                *ngFor="let flightType of flightTypes"
                [value]="flightType.key"
              >
                {{ flightType.value }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="Flighttemplate_aircraftmodel_id">Тип шаблона*</label>
        </div>
        <div class="col-8">
          <div class="form-group">
            <select
              class="form-control"
              formControlName="Flightlayout_type"
              (ngModelChange)="selectType(); loadedlayout = false"
            >
              <option
                [value]="flightlayoutType.key"
                *ngFor="let flightlayoutType of flightlayoutTypes"
              >
                {{ flightlayoutType.value }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <ng-container *ngIf="formPeriodFlight.value?.Flightlayout_type != null">
        <form
          [formGroup]="periodDay"
          *ngFor="let periodDay of formsPeriodDays; let i = index"
        >
          <hr />
          <ng-container *ngIf="formPeriodFlight.value.Flightlayout_type == 1">
            <div class="row">
              <div class="col-4">
                <label for="day">Дни недели*</label>
              </div>
              <div class="col-8 mmt-15">
                <mat-form-field class="w-100">
                  <mat-select
                    placeholder=""
                    formControlName="day"
                    multiple
                    (selectionChange)="loadedlayout = false"
                  >
                    <mat-option
                      [value]="k"
                      *ngFor="let weekday of weekdays; let k = index"
                      [disabled]="isDaySelected(i, k)"
                    >
                      {{ weekday }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </ng-container>
          <div class="row">
            <div class="col-4">
              <label for="flight_number">Вылет*</label>
            </div>
            <div class="col-5">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder=""
                  [matAutocomplete]="auto_departure"
                  [formControl]="formsPeriodDaysDeparture[i]"
                  (input)="inputLink_departure(i)"
                  [ngClass]="{
                    'has-error':
                      formsPeriodDaysDeparture[i].invalid &&
                      formsPeriodDaysDeparture[i].touched
                  }"
                />
                <div class="input-group-append">
                  <button
                    (click)="formsPeriodDaysDeparture[i].reset()"
                    class="btn btn-outline-secondary"
                    type="button"
                  >
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </button>
                </div>
                <mat-autocomplete
                  #auto_departure="matAutocomplete"
                  [displayWith]="displayAn"
                >
                  <mat-option
                    class="typeheadoption"
                    *ngFor="let option of filtered_departure_airport | async"
                    [value]="option"
                  >
                    {{ option.code }} {{ option.name_rus }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <div class="col-3">
              <div class="time-field">
                <input
                  class="form-control"
                  autocomplete="OFF"
                  name="timebegin"
                  id="timebegin"
                  [textMask]="{ mask: timeMaskInput }"
                  placeholder=""
                  formControlName="timebegin"
                  (blur)="onCalcTime(true); loadedlayout = false"
                  (change)="onCalcTime(true); loadedlayout = false"
                />
              </div>
            </div>
          </div>
          <ng-container
            *ngFor="
              let extraairport of formsPeriodExtraairports[i];
              let j = index
            "
          >
            <div
              *ngIf="
                extraairport != null && formsPeriodExtraDaysArrival[i] != null
              "
            >
              <form [formGroup]="extraairport">
                <div class="row mt-1">
                  <div class="col-4">
                    <div class="input-group">
                      <input
                        class="form-control"
                        placeholder=""
                        [matAutocomplete]="auto_arrival"
                        [formControl]="formsPeriodExtraDaysArrival[i][j]"
                        (input)="inputLink_arrival_extra(i, j)"
                        [ngClass]="{
                          'has-error':
                            formsPeriodExtraDaysArrival[i][j].invalid &&
                            formsPeriodExtraDaysArrival[i][j].touched
                        }"
                      />
                      <div class="input-group-append">
                        <button
                          (click)="formsPeriodExtraDaysArrival[i][j].reset()"
                          class="btn btn-outline-secondary"
                          type="button"
                        >
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </button>
                      </div>
                      <mat-autocomplete
                        #auto_arrival="matAutocomplete"
                        [displayWith]="displayAn"
                      >
                        <mat-option
                          class="typeheadoption"
                          *ngFor="
                            let option of filtered_arrival_airport | async
                          "
                          [value]="option"
                        >
                          {{ option.code }} {{ option.name_rus }}
                        </mat-option>
                      </mat-autocomplete>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="time-field">
                      <input
                        class="form-control"
                        autocomplete="OFF"
                        name="timeend"
                        id="timeend"
                        [textMask]="{ mask: timeMaskInput }"
                        placeholder="Прилет"
                        formControlName="timeend"
                        (blur)="onCalcTime(true); loadedlayout = false"
                        (change)="onCalcTime(true); loadedlayout = false"
                      />
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="time-field">
                      <input
                        class="form-control"
                        autocomplete="OFF"
                        name="timebegin"
                        id="timebegin"
                        [textMask]="{ mask: timeMaskInput }"
                        placeholder="Вылет"
                        formControlName="timebegin"
                        (blur)="onCalcTime(true); loadedlayout = false"
                        (change)="onCalcTime(true); loadedlayout = false"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </ng-container>
          <div class="row mt-1">
            <div class="col-12">
              <div class="form-group">
                <button
                  type="button"
                  mat-button
                  color="primary"
                  (click)="onAddPeriodExtraairport(i); loadedlayout = false"
                >
                  Добавить промежуточный аэропорт
                </button>
                <button
                  *ngIf="formsPeriodExtraairports[i].length > 0"
                  type="button"
                  mat-button
                  color="warn"
                  (click)="onDelPeriodExtraairport(i); loadedlayout = false"
                >
                  Убрать
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="flight_number">Прилет*</label>
            </div>
            <div class="col-5">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder=""
                  [matAutocomplete]="auto_arrival"
                  [formControl]="formsPeriodDaysArrival[i]"
                  (input)="inputLink_arrival(i)"
                  [ngClass]="{
                    'has-error':
                      formsPeriodDaysArrival[i].invalid &&
                      formsPeriodDaysArrival[i].touched
                  }"
                />
                <div class="input-group-append">
                  <button
                    (click)="formsPeriodDaysArrival[i].reset()"
                    class="btn btn-outline-secondary"
                    type="button"
                  >
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                  </button>
                </div>
                <mat-autocomplete
                  #auto_arrival="matAutocomplete"
                  [displayWith]="displayAn"
                >
                  <mat-option
                    class="typeheadoption"
                    *ngFor="let option of filtered_arrival_airport | async"
                    [value]="option"
                  >
                    {{ option.code }} {{ option.name_rus }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <div class="col-3">
              <div class="time-field">
                <input
                  class="form-control"
                  autocomplete="OFF"
                  name="timeend"
                  id="timeend"
                  [textMask]="{ mask: timeMaskInput }"
                  placeholder=""
                  formControlName="timeend"
                  (blur)="onCalcTime(true); loadedlayout = false"
                  (change)="onCalcTime(true); loadedlayout = false"
                />
              </div>
            </div>
          </div>
        </form>
        <hr />
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <button
                type="button"
                mat-button
                color="primary"
                (click)="onAddPeriodDay()"
              >
                Добавить день в шаблон
              </button>
              <button
                *ngIf="formsPeriodDays.length > 1"
                type="button"
                mat-button
                color="warn"
                (click)="onDelPeriodDay()"
              >
                Убрать
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div mat-dialog-actions>
    <div class="row">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-primary mr-1"
          (click)="onSave()"
          [disabled]="!saveValid()"
        >
          Создать
        </button>
        <button
          type="button"
          class="btn btn-light mr-2"
          [mat-dialog-close]="false"
        >
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>
