<mat-card>
  <mat-card-header>
    <mat-card-title>Семейное положение</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input
          type="text"
          autocomplete="nope"
          name="searchMaritalstatusStr"
          id="searchMaritalstatusStr"
          class="form-control"
          placeholder="Фильтр"
          [(ngModel)]="searchMaritalstatusStr"
        />
        <div class="input-group-append">
          <button
            (click)="searchMaritalstatusStr = ''"
            class="btn btn-outline-secondary"
            type="button"
          >
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button
        type="button"
        (click)="onAddMaritalstatus()"
        class="btn btn-primary btnshadow float-right"
      >
        Добавить в словарь
      </button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Название</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let maritalstatuse of maritalstatuses
                | dictFilter: searchMaritalstatusStr
            "
          >
            <td
              (click)="
                onEditMaritalstatus(maritalstatuse.id, maritalstatuse.name)
              "
            >
              {{ maritalstatuse.name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Военная обязанность</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input
          type="text"
          autocomplete="nope"
          name="searchMilitarydutyeStr"
          id="searchMilitarydutyeStr"
          class="form-control"
          placeholder="Фильтр"
          [(ngModel)]="searchMilitarydutyeStr"
        />
        <div class="input-group-append">
          <button
            (click)="searchMilitarydutyeStr = ''"
            class="btn btn-outline-secondary"
            type="button"
          >
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button
        type="button"
        (click)="onAddMilitaryduty()"
        class="btn btn-primary btnshadow float-right"
      >
        Добавить в словарь
      </button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Название</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let militaryduty of militarydutyes
                | dictFilter: searchMilitarydutyeStr
            "
          >
            <td
              (click)="onEditMilitaryduty(militaryduty.id, militaryduty.name)"
            >
              {{ militaryduty.name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Степень родства</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input
          type="text"
          autocomplete="nope"
          name="searchRelationdegreStr"
          id="searchRelationdegreStr"
          class="form-control"
          placeholder="Фильтр"
          [(ngModel)]="searchRelationdegreStr"
        />
        <div class="input-group-append">
          <button
            (click)="searchRelationdegreStr = ''"
            class="btn btn-outline-secondary"
            type="button"
          >
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button
        type="button"
        (click)="onAddRelationdegre()"
        class="btn btn-primary btnshadow float-right"
      >
        Добавить в словарь
      </button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Название</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let relationdegre of relationdegrees
                | dictFilter: searchRelationdegreStr
            "
          >
            <td
              (click)="
                onEditRelationdegre(relationdegre.id, relationdegre.name)
              "
            >
              {{ relationdegre.name }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
