/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.full-width {
	width: 100%;
}
.ngx-sortlist .sl-title {
	height: 30px !important;
	/* border: 1px solid black; */
}

.ngx-sortlist .sl-title .sl-nav {
	width: 30px;
	margin-top: -4px;
}

.ngx-sortlist .sl-title .sl-nav .sl-btn {
	height: 13px !important;
}

.ngx-sortlist .sl-selected {
	border: 1px solid transparent !important;
	background: #f3f9f9 !important;
	// text-decoration: underline !important;
}

.ngx-sortlist .sl-item {
	// width: 100% !important;
	border: 1px solid transparent;
	font-family: Gilroy-Light !important;
	font-weight: 600;
}

.myspiner .black-overlay,
.la-ball-scale-multiple,
.loading-text {
	position: fixed !important;
}
