<div
  [ngClass]="{
    'ng-tool-tip-content': getRev() == true,
    'ng-tool-tip-content-rev': getRev() == false
  }"
  [ngStyle]="{
    'top.px': +_options[0].top + +_scroll + 40,
    'left.px': getLeft()
  }"
>
  <div class="container">
    <div class="row">
      <div class="flight-number-tt">{{ data[2]?.flight_number }}</div>
    </div>
    <div class="row">
      <div class="airports-tt">
        {{ getAirportStringById(data[0]?.airport_id) }} -
        {{ getAirportStringById(data[1]?.airport_id) }}
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="time align-right">
        {{ dateFromIsoString(data[0]?.departure_datetime) | date: 'HH:mm' }}
      </div>
      <div class="spacer">
        <i class="blue fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
      <div class="time">
        {{ dateFromIsoString(data[1]?.arrival_datetime) | date: 'HH:mm' }}
      </div>
    </div>
    <div class="row">
      <div class="date align-right">
        {{
          dateFromIsoString(data[0]?.departure_datetime) | date: 'dd.MM.yyyy'
        }}
      </div>
      <div class="spacer"></div>
      <div class="date">
        {{ dateFromIsoString(data[1]?.arrival_datetime) | date: 'dd.MM.yyyy' }}
      </div>
    </div>
    <div class="row">
      <div
        class="comment"
        *ngIf="!(getArrivalDelay().delay || getDepartureDelay().delay)"
      >
        Без задержек
      </div>
      <ng-container
        *ngIf="getArrivalDelay().delay || getDepartureDelay().delay"
      >
        <div
          class="date align-right"
          [style.color]="'#d5003c'"
          [style.font-size]="'14px'"
        >
          <span *ngIf="getDepartureDelay().time > 0">+</span
          ><span *ngIf="getDepartureDelay().time < 0">-</span
          >{{ getDepartureDelay().timestr }}
        </div>
        <div class="spacer"></div>
        <div class="date" [style.color]="'#d5003c'" [style.font-size]="'14px'">
          <span *ngIf="getArrivalDelay().time > 0">+</span
          ><span *ngIf="getArrivalDelay().time < 0">-</span
          >{{ getArrivalDelay().timestr }}
        </div>
      </ng-container>
      <hr />
    </div>
    <div class="row">
      <div class="">
        Экипаж:
      </div>
    </div>
    <div class="row" *ngFor="let pilot of data[3]">
      <div class="">
        {{ pilot?.pilotTypestr }}:&nbsp;{{ pilot?.surname }}&nbsp;{{
          pilot?.name == null ? '' : (pilot?.name)[0]
        }}. {{ pilot?.patronymic == null ? '' : (pilot?.patronymic)[0] }}.
      </div>
    </div>
    <div class="row" *ngIf="data[3].length == 0">
      <div class="">
        не назначен
      </div>
    </div>
    <div class="row mt-2" *ngIf="data[4] === true">
      <div class="">
        Статус:
      </div>
    </div>
    <div class="row" *ngIf="data[4] === true">
      <div class="">
        Неукомплектован экипаж
      </div>
    </div>
  </div>
</div>
