$small-font-size: 12px;
.ng-tool-tip-content,
.ng-tool-tip-content-rev {
	animation: tooltipIn 0.3s;
	width: 340px;
	height: 450px;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 15px 10px 15px;
	background-color: #fff;
	position: absolute;
	-webkit-box-shadow: 10px 10px 50px rgba(43, 91, 89, 0.5);
	-moz-box-shadow: 10px 10px 50px rgba(43, 91, 89, 0.5);
	box-shadow: 10px 10px 50px rgba(43, 91, 89, 0.5);
	@keyframes tooltipIn {
		from {
			opacity: 0.1;
		}
		to { 
			opacity: 1;
		}
	} 
	@keyframes tooltipOut {
		to {
			opacity: 0;
		}
	}
	.flight-number-tt {
		background: linear-gradient(to top, #7bd268, #6ed19f);
		height: 35px;
		color: #fff;
		font-weight: 600;
		padding: 5px 10px 5px 10px;
	}
	.airports-tt {
		padding: 10px 5px 0px 10px;
		font-size: 14px !important;
		font-weight: bold;
		color: #000;
	}
	.time {
		font-size: 26px;
		color: #000;
		width: 70px;
		margin-bottom: -5px;
	}
	.spacer {
		width: 18px;
		padding-top: 8px;
	}
	.date {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.5);
		width: 70px;
	}
	.comment {
		margin-top: 7px;
		padding-left: 15px;
		color: green;
	}
}
.ng-tool-tip-content::after,
.ng-tool-tip-content::before {
	content: "";
	position: absolute;
	background: #fff;
	left: 20px;
	top: -11px;
	width: 20px;
	height: 20px;
	z-index: -1;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.ng-tool-tip-content-rev::after,
.ng-tool-tip-content-rev::before {
	content: "";
	position: absolute;
	background: #fff;
	right: 20px;
	top: -11px;
	width: 20px;
	height: 20px;
	z-index: -1;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
hr {
	background-color: RGBA(54, 203, 218, 0.6);
	height: 1px;
	width: 100%;
	border: 0;
}

.blue {
	color: RGBA(54, 203, 218, 0.6);
}

.white {
	color: RGBA(255, 255, 255, 0);
}
