<div
  [ngClass]="{
    'ng-tool-tip-content': getRev() == true && getRevV() === true,
    'ng-tool-tip-content-rev': getRev() == false && getRevV() === true,
    'ng-tool-tip-content-revv': getRev() == true && getRevV() === false,
    'ng-tool-tip-content-rev-revv': getRev() == false && getRevV() === false
  }"
  [ngStyle]="{
    'top.px': getRevV()
      ? +_options[0].top + +_scroll + 70
      : +_options[0].top + +_scroll - (getHeight() + 10),
    'left.px': getLeft()
  }"
  data-before-top="50px"
  #main
>
  <div class="container" *ngIf="data[0]?.flightpointchain_id == null">
    <div class="row">
      <div class="col-6 br">
        <div class="row">
          <div class="airports-tt font-weight-bold">
            {{ data[0]?._flight_number }}:
            {{ getAirportStringById(data[0]?.airport_id) }} -
            {{ getAirportStringById(data[0]?.end_airport_id) }} <br />
            <span class="date-str"
              >{{
                dateFromIsoString(data[0]?.begin_datetime) | date: 'dd.MM.yyyy'
              }}
              {{
                dateFromIsoString(data[0]?.begin_datetime) | date: 'HH:mm'
              }}</span
            ><i
              class="blue fa fa-long-arrow-right ml-1 mr-1"
              aria-hidden="true"
            ></i
            ><span class="date-str"
              >{{
                dateFromIsoString(data[0]?.end_datetime) | date: 'dd.MM.yyyy'
              }}
              {{
                dateFromIsoString(data[0]?.end_datetime) | date: 'HH:mm'
              }}</span
            >
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- <div class="row">
          <div class="airports-tt">
            <div class="col-12">
              Продолжительность: {{ data[0]?.durationStr }}
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="airports-tt">
            <div class="col-12">
              <span class="font-weight-bold">Продолжительность: </span>
              <span class="font-weight-bold date-str">{{
                data[0]?.durationStr
              }}</span
              ><br />
              <span class="font-weight-bold">Экипаж:</span>
            </div>
            <div
              class="col-12"
              *ngFor="let pilot of data[0]?.flightpoint1?.pilots"
            >
              <div [style.font-weight]="'normal'">
                {{ pilot?.pilotTypestr }}:&nbsp;{{ pilot?.surname }}&nbsp;{{
                  pilot?.name == null ? '' : (pilot?.name)[0]
                }}.
                {{ pilot?.patronymic == null ? '' : (pilot?.patronymic)[0] }}.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="data[0]?.flightpointchain_id != null">
    <div class="row">
      <div class="col-6 br">
        <div
          class="row"
          *ngFor="
            let flightpoint of data[0].flightpoints;
            let even = even;
            let i = index
          "
        >
          <!-- <div class="airports-tt" *ngIf="even">
            {{ flightpoint.flight_number }}:
          </div> -->
          <div class="airports-tt font-weight-bold" *ngIf="even">
            {{ flightpoint.flight_number }}:
            {{ getAirportStringById(flightpoint.airport_id) }} -
            {{ getAirportStringById(flightpoint.end_airport_id) }} <br />
            <span class="date-str"
              >{{
                dateFromIsoString(flightpoint.calc_departure_datatime)
                  | date: 'dd.MM.yyyy'
              }}
              {{
                dateFromIsoString(flightpoint.calc_departure_datatime)
                  | date: 'HH:mm'
              }}</span
            ><i
              class="blue fa fa-long-arrow-right ml-1 mr-1"
              aria-hidden="true"
            ></i
            ><span class="date-str"
              >{{
                dateFromIsoString(
                  data[0].flightpoints[i + 1].calc_arrival_datatime
                ) | date: 'dd.MM.yyyy'
              }}
              {{
                dateFromIsoString(
                  data[0].flightpoints[i + 1].calc_arrival_datatime
                ) | date: 'HH:mm'
              }}</span
            >
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="airports-tt">
            <div class="col-12">
              <span class="font-weight-bold">Продолжительность: </span>
              <span class="font-weight-bold date-str">{{
                data[0]?.durationStr
              }}</span
              ><br />
              <span class="font-weight-bold">Экипаж:</span>
            </div>
            <div
              class="col-12"
              *ngFor="let pilot of (data[0]?.flightpoints)[0]?.pilots"
            >
              <div [style.font-weight]="'normal'">
                {{ pilot?.pilotTypestr }}:&nbsp;{{ pilot?.surname }}&nbsp;{{
                  pilot?.name == null ? '' : (pilot?.name)[0]
                }}.
                {{ pilot?.patronymic == null ? '' : (pilot?.patronymic)[0] }}.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
