<!-- <mat-card *ngIf="subdivisions?.length == 0">
  <mat-card-header>
    <h3>
      <span>{{ 'Создайте основное подразделение' | translate }}</span>
    </h3>
  </mat-card-header>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="subdivisionForm">
        <div class="row">
          <div class="col-6">
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              placeholder="{{ 'organization.nnp' | translate }}"
              formControlName="name"
              [ngClass]="{
                'has-error':
                  subdivisionForm.get('name').invalid &&
                  subdivisionForm.get('name').touched
              }"
            />
          </div>
          <div class="col-2">
            <input
              type="text"
              autocomplete="off"
              class="form-control"
              placeholder="{{ 'organization.cod' | translate }}"
              formControlName="code"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field [style.margin-top]="'10px'">
              <mat-select
                placeholder="{{ 'organization.typepos' | translate }}"
                formControlName="type"
              >
                <mat-option [ngValue]="0">
                  {{ 'organization.typepos1' | translate }}
                </mat-option>
                <mat-option [ngValue]="1">
                  {{ 'organization.typepos2' | translate }}
                </mat-option>
                <mat-option [ngValue]="2">
                  {{ 'organization.typepos3' | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4" *ngIf="subdivisionForm.value.type == 1">
            <mat-form-field [style.margin-top]="'10px'">
              <mat-select
                placeholder="{{ 'organization.vsmodel' | translate }}"
                formControlName="aircraftmodelgroup_id"
              >
                <mat-option
                  [ngValue]="aircraftmodelgroup.id"
                  *ngFor="let aircraftmodelgroup of aircraftmodelgroups"
                >
                  {{ aircraftmodelgroup.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div
        class="col-12 font"
        [style.margin-top]="'10px'"
        *ngFor="let newDivisionFileForm of newSubdivisionfile; let i = index"
      >
        <form [formGroup]="newDivisionFileForm">
          <div class="row">
            <div class="col-4">
              <label for="revnumber">{{
                'organization.nrev' | translate
              }}</label>
              <input
                [style.margin-left]="'10px'"
                type="text"
                autocomplete="off"
                class="form-control"
                placeholder="{{ 'organization.nrev' | translate }}"
                formControlName="revnumber"
              />
            </div>
            <div class="col-4">
              <label for="revdate">{{ 'organization.drev' | translate }}</label>
              <input
                [style.margin-left]="'10px'"
                type="date"
                class="form-control"
                placeholder="{{ 'organization.drev' | translate }}"
                formControlName="revdate"
              />
            </div>
            <div class="col-4">
              <label for="">{{ 'organization.pol' | translate }}</label>
              <input
                type="file"
                class="form-control"
                placeholder=""
                (change)="onFilesChange($event, i)"
              />
            </div>
          </div>
        </form>
      </div>
      <hr />
      <div class="col-12">
        <button
          (click)="onAddSubdivision()"
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="subdivisionForm.invalid"
        >
          {{ 'organization.add' | translate }}
        </button>
        <button
          matTooltip="{{ 'organization.resetform' | translate }}"
          type="button"
          mat-raised-button
          color="accent"
          (click)="onCancel()"
        >
          <i class="fa fa-2x fa-fw fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>
</mat-card> -->
<mat-card *ngIf="subdivisions?.length > 0">
  <div class="row">
    <div class="col-12">
      <div *ngIf="subdivision">
        <app-template-subdivision
          [selectedId]="selectedSubdivision?.id"
          [list]="[subdivision]"
          [propName]="'name'"
          [propId]="'id'"
          [children]="'children'"
          [upBtn]="upBtnStr"
          [downBtn]="downBtnStr"
          [postfix1]="'countUsers'"
          [postfix2]="'countOwnUsers'"
          (listChanged)="toggleList($event)"
          (selectedItemId)="onSelectSubdivision($event)"
        >
        </app-template-subdivision>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary btnshadow"
        (click)="onAddSubdivision()"
      >
        Добавить подразделение
      </button>
    </div>
  </div>
</mat-card>
<mat-card class="mt-3">
  <mat-card-header>
    Подразделение {{ selectedSubdivision?.name }}
  </mat-card-header>
  <div class="row mt-2">
    <div class="col-5">
      <form [formGroup]="subdivisionFormEdit">
        <div class="row">
          <div class="col-12">
            <label for="name">Название подразделения</label>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                autocomplete="nope"
                name="name"
                id="name"
                placeholder="Название"
                formControlName="name"
                appDisablecontrol
                [disableControl]="true"
              />
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                autocomplete="nope"
                name="code"
                id="code"
                placeholder="Код"
                formControlName="code"
                appDisablecontrol
                [disableControl]="true"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="type">Тип подразделения</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <select
                appDisablecontrol
                [disableControl]="true"
                class="form-control"
                formControlName="type"
              >
                <option [ngValue]="0">
                  Обычное
                </option>
                <option [ngValue]="1">
                  Летное
                </option>
                <option [ngValue]="2">
                  Служба бортпроводников
                </option>
              </select>
            </div>
          </div>
        </div>
        <ng-container *ngIf="subdivisionFormEdit.getRawValue().type == 1">
          <div class="row">
            <div class="col-12">
              <label for="aircraftmodelgroup_id">Модель ВС</label>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <select
                  appDisablecontrol
                  [disableControl]="true"
                  class="form-control"
                  formControlName="aircraftmodelgroup_id"
                >
                  <option
                    [ngValue]="aircraftmodelgroup.id"
                    *ngFor="let aircraftmodelgroup of aircraftmodelgroups"
                  >
                    {{ aircraftmodelgroup.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
      <div
        class="row mt-1"
        *ngIf="
          selectedSubdivisionfiles[selectedSubdivisionfiles.length - 1] != null
        "
      >
        <div class="col-12">
          Номер ревизии:
          {{
            selectedSubdivisionfiles[selectedSubdivisionfiles.length - 1]
              ?.revnumber
          }}
          Дата ревизии:
          {{
            selectedSubdivisionfiles[selectedSubdivisionfiles.length - 1]
              ?.revdate | date: 'dd.MM.yyyy'
          }}
          <button
            type="button"
            class="btn btn-light"
            (click)="
              onDownloadSubdivisionfile(
                selectedSubdivisionfiles[selectedSubdivisionfiles.length - 1]
                  ?.id
              )
            "
          >
            Скачать
          </button>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-5">
      <table class="table tree-list">
        <tbody>
          <div class="col-12 center">
            <div
              *ngIf="position != undefined"
              [style.cursor]="'pointer'"
              class="row"
              [ngClass]="{ select: position?.id == selectedPositionId }"
              (click)="onSelectPosition(position?.id)"
            >
              <div class="col-12">
                {{ position?.name }}
              </div>
            </div>
            <div *ngFor="let child of position?.children">
              <div
                class="row"
                [style.padding-left]="'30px'"
                [style.cursor]="'pointer'"
                [ngClass]="{ select: child?.id == selectedPositionId }"
                (click)="onSelectPosition(child?.id)"
              >
                <div class="col-12">
                  {{ child?.name }}
                </div>
              </div>
              <div *ngFor="let _child of child?.children">
                <div
                  class="row"
                  [style.padding-left]="'40px'"
                  [style.cursor]="'pointer'"
                  [ngClass]="{
                    select: _child?.id == selectedPositionId
                  }"
                  (click)="onSelectPosition(_child?.id)"
                >
                  <div class="col-12">
                    {{ _child?.name }}
                  </div>
                </div>
                <div *ngFor="let __child of _child?.children">
                  <div
                    class="row"
                    [style.padding-left]="'50px'"
                    [style.cursor]="'pointer'"
                    [ngClass]="{
                      select: __child?.id == selectedPositionId
                    }"
                    (click)="onSelectPosition(__child?.id)"
                  >
                    <div class="col-12">
                      {{ __child?.name }}
                    </div>
                  </div>
                  <div *ngFor="let ___child of __child?.children">
                    <div
                      class="row"
                      [style.padding-left]="'60px'"
                      [style.cursor]="'pointer'"
                      [ngClass]="{
                        select: ___child?.id == selectedPositionId
                      }"
                      (click)="onSelectPosition(___child?.id)"
                    >
                      <div class="col-12">
                        {{ ___child?.name }}
                      </div>
                    </div>
                    <div *ngFor="let ____child of ___child?.children">
                      <div
                        class="row"
                        [style.padding-left]="'70px'"
                        [style.cursor]="'pointer'"
                        [ngClass]="{
                          select: ____child?.id == selectedPositionId
                        }"
                        (click)="onSelectPosition(____child?.id)"
                      >
                        <div class="col-12">
                          {{ ____child?.name }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-primary mr-1"
        (click)="onAddPosition()"
      >
        Добавить должность
      </button>
      <button
        type="button"
        class="btn btn-light mr-1"
        (click)="onEditSubdivision()"
      >
        Редактировать подразделение
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onDeleteSubdivision(selectedSubdivision?.id)"
      >
        Удалить подразделение
      </button>
    </div>
  </div>
</mat-card>
<mat-card class="mt-3 mb-4">
  <!-- <mat-card-header> Должность {{ selectedPosition?.name }} </mat-card-header> -->
  <form [formGroup]="positionFormEdit" *ngIf="selectedPosition != null">
    <div class="row mt-2">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <label for="parent_id">Начальник</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <select
                appDisablecontrol
                [disableControl]="true"
                class="form-control"
                formControlName="parent_id"
              >
                <option [ngValue]="null"> </option>
                <ng-container
                  *ngFor="
                    let position of getPositionsBySubdivisionId(
                      selectedSubdivisionId
                    )
                  "
                >
                  <option
                    [ngValue]="position.id"
                    *ngIf="position.id != selectedPositionId"
                  >
                    {{ position.name }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="name">Название должности</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                autocomplete="nope"
                name="name"
                id="name"
                placeholder=""
                formControlName="name"
                appDisablecontrol
                [disableControl]="true"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="row"
          *ngIf="
            selectedPositionFiles != null && selectedPositionFiles?.length > 0
          "
        >
          <div class="col-12">
            Номер ревизии:
            {{
              selectedPositionFiles[selectedPositionFiles.length - 1]?.revnumber
            }}
            Дата ревизии:
            {{
              selectedPositionFiles[selectedPositionFiles.length - 1]?.revdate
                | date: 'dd.MM.yyyy'
            }}
            <button
              type="button"
              class="btn btn-light"
              (click)="
                onDownloadPositionfile(
                  selectedPositionFiles[selectedPositionFiles.length - 1]?.id
                )
              "
            >
              Скачать
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-light mr-1"
          (click)="onEditPosition()"
        >
          Редактировать должность
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDeletePosition(selectedPosition.id)"
        >
          Удалить должность
        </button>
      </div>
    </div>
  </form>
</mat-card>
<!-- <div [style.min-height]="'250px'" *ngIf="subdivisions?.length > 0">
  <mat-tab-group class="tab-group">
    <mat-tab
      label="Информация о подразделении"
      *ngIf="accessLevel == 1"
    >
      <div class="tab-content">
        <mat-card>
          <div class="row">
            <div class="col-xs-4">
              <div
                class=""
                *ngIf="
                  selectedSubdivisionfiles[
                    selectedSubdivisionfiles.length - 1
                  ] != null
                "
              >
                {{ 'organization.nrev' | translate }}
                {{
                  selectedSubdivisionfiles[selectedSubdivisionfiles.length - 1]
                    ?.revnumber
                }}, {{ 'organization.drev' | translate }}
                {{
                  selectedSubdivisionfiles[selectedSubdivisionfiles.length - 1]
                    ?.revdate | date: 'dd.MM.yyyy'
                }}
                <button
                  type="button"
                  mat-button
                  color="primary"
                  (click)="
                    onDownloadSubdivisionfile(
                      selectedSubdivisionfiles[
                        selectedSubdivisionfiles.length - 1
                      ]?.id
                    )
                  "
                >
                  {{ 'organization.download' | translate }}
                </button>
              </div>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-5">
              <table class="table">
                <tbody>
                  <div class="row center">
                    <div
                      *ngIf="position != undefined"
                      class="col-xs-8"
                      [ngClass]="{ select: position?.id == selectedPositionId }"
                    >
                      {{ position?.name }}
                    </div>
                    <div *ngFor="let child of position?.children">
                      <div
                        class="col-xs-8"
                        [style.padding-left]="'30px'"
                        [ngClass]="{ select: child?.id == selectedPositionId }"
                      >
                        {{ child?.name }}
                      </div>
                      <div *ngFor="let _child of child?.children">
                        <div
                          class="col-xs-8"
                          [style.padding-left]="'40px'"
                          [ngClass]="{
                            select: _child?.id == selectedPositionId
                          }"
                        >
                          {{ _child?.name }}
                        </div>
                        <div *ngFor="let __child of _child?.children">
                          <div
                            class="col-xs-8"
                            [style.padding-left]="'50px'"
                            [ngClass]="{
                              select: __child?.id == selectedPositionId
                            }"
                          >
                            {{ __child?.name }}
                          </div>
                          <div *ngFor="let ___child of __child?.children">
                            <div
                              class="col-xs-8"
                              [style.padding-left]="'60px'"
                              [ngClass]="{
                                select: ___child?.id == selectedPositionId
                              }"
                            >
                              {{ ___child?.name }}
                            </div>
                            <div *ngFor="let ____child of ___child?.children">
                              <div
                                class="col-xs-8"
                                [style.padding-left]="'70px'"
                                [ngClass]="{
                                  select: ____child?.id == selectedPositionId
                                }"
                              >
                                {{ ____child?.name }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab
      label="{{ 'organization.positions' | translate }}"
      *ngIf="accessLevel >= 2"
    >
      <div class="tab-content">
        <mat-card>
          <mat-card-header>
            <h3>
              <span
                *ngIf="
                  !getPositionsBySubdivisionId(selectedSubdivisionId).length;
                  else elseBlock
                "
                >Добавить начальника в подразделение
                {{ selectedSubdivision?.name }}</span
              >
              <ng-template #elseBlock>
                <span
                  >Добавить должность в подразделение
                  {{ selectedSubdivision?.name }}</span
                >
              </ng-template>
            </h3>
          </mat-card-header>
          <div class="row">
            <div class="col-6">
              <form [formGroup]="positionForm">
                <div class="row">
                  <div
                    class="col-12"
                    *ngIf="
                      getPositionsBySubdivisionId(selectedSubdivisionId).length
                    "
                  >
                    <div class="form-group w-100">
                      <select
                        class="form-control w-100"
                        placeholder="Начальник"
                        formControlName="parent_id"
                      >
                        <option
                          *ngFor="
                            let position of getPositionsBySubdivisionId(
                              selectedSubdivisionId
                            )
                          "
                          [ngValue]="position.id"
                        >
                          {{ position.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="Название должности"
                      formControlName="name"
                      [ngClass]="{
                        'has-error':
                          subdivisionForm.get('name').invalid &&
                          subdivisionForm.get('name').touched
                      }"
                    />
                  </div>
                  <div class="col-3">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="З/п"
                      formControlName="salary"
                    />
                  </div>
                </div>
              </form>
              <div class="col-12" [style.margin-top]="'15px'">
                <form [formGroup]="newPositionfile">
                  <div class="row">
                    <div class="col-4">
                      <label for="revnumber">Номер ревизии</label>
                      <input
                        [style.margin-left]="'10px'"
                        type="text"
                        autocomplete="off"
                        class="form-control"
                        placeholder="{{ 'organization.nrev' | translate }}"
                        formControlName="revnumber"
                      />
                    </div>
                    <div class="col-4">
                      <label for="revdate">{{
                        'organization.drev' | translate
                      }}</label>
                      <input
                        [style.margin-left]="'10px'"
                        type="date"
                        class="form-control"
                        placeholder="{{ 'organization.drev' | translate }}"
                        formControlName="revdate"
                      />
                    </div>
                    <div class="col-4">
                      <label for="">{{
                        'organization.instruction' | translate
                      }}</label>
                      <input
                        type="file"
                        class="form-control"
                        placeholder=""
                        (change)="onFilesPositionChange($event)"
                      />
                    </div>
                  </div>
                  <hr />
                </form>
              </div>
              <div class="col-12">
                <button
                  (click)="onAddPosition()"
                  type="button"
                  mat-raised-button
                  color="primary"
                  [disabled]="positionForm.invalid"
                >
                  {{ 'organization.add' | translate }}
                </button>
                <button
                  matTooltip="{{ 'organization.resetform' | translate }}"
                  type="button"
                  mat-raised-button
                  color="accent"
                  (click)="onCancelPosition()"
                >
                  <i class="fa fa-2x fa-fw fa-refresh"></i>
                </button>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
              <table class="table tree-list">
                <tbody>
                  <div class="col-12 center">
                    <div
                      *ngIf="position != undefined"
                      [style.cursor]="'pointer'"
                      class="row"
                      [ngClass]="{ select: position?.id == selectedPositionId }"
                      (click)="onSelectPosition(position?.id)"
                    >
                      <div class="col-12">
                        {{ position?.name }}
                      </div>
                    </div>
                    <div *ngFor="let child of position?.children">
                      <div
                        class="row"
                        [style.padding-left]="'30px'"
                        [style.cursor]="'pointer'"
                        [ngClass]="{ select: child?.id == selectedPositionId }"
                        (click)="onSelectPosition(child?.id)"
                      >
                        <div class="col-12">
                          {{ child?.name }}
                        </div>
                      </div>
                      <div *ngFor="let _child of child?.children">
                        <div
                          class="row"
                          [style.padding-left]="'40px'"
                          [style.cursor]="'pointer'"
                          [ngClass]="{
                            select: _child?.id == selectedPositionId
                          }"
                          (click)="onSelectPosition(_child?.id)"
                        >
                          <div class="col-12">
                            {{ _child?.name }}
                          </div>
                        </div>
                        <div *ngFor="let __child of _child?.children">
                          <div
                            class="row"
                            [style.padding-left]="'50px'"
                            [style.cursor]="'pointer'"
                            [ngClass]="{
                              select: __child?.id == selectedPositionId
                            }"
                            (click)="onSelectPosition(__child?.id)"
                          >
                            <div class="col-12">
                              {{ __child?.name }}
                            </div>
                          </div>
                          <div *ngFor="let ___child of __child?.children">
                            <div
                              class="row"
                              [style.padding-left]="'60px'"
                              [style.cursor]="'pointer'"
                              [ngClass]="{
                                select: ___child?.id == selectedPositionId
                              }"
                              (click)="onSelectPosition(___child?.id)"
                            >
                              <div class="col-12">
                                {{ ___child?.name }}
                              </div>
                            </div>
                            <div *ngFor="let ____child of ___child?.children">
                              <div
                                class="row"
                                [style.padding-left]="'70px'"
                                [style.cursor]="'pointer'"
                                [ngClass]="{
                                  select: ____child?.id == selectedPositionId
                                }"
                                (click)="onSelectPosition(____child?.id)"
                              >
                                <div class="col-12">
                                  {{ ____child?.name }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card>
        <div
          class="col-12"
          *ngIf="selectedPosition != undefined && selectedPositionId >= 0"
        >
          <mat-tab-group class="tab-group">
            <mat-tab label="{{ 'organization.rvd' | translate }}">
              <mat-card>
                <div class="tab-content">
                  <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                      <form [formGroup]="positionFormEdit">
                        <div class="row">
                          <div
                            class="col-6"
                            *ngIf="
                              getPositionsBySubdivisionId(selectedSubdivisionId)
                                .length && selectedPosition.parent_id != null
                            "
                          >
                            <mat-form-field>
                              <mat-select
                                placeholder="{{
                                  'organization.bos' | translate
                                }}"
                                formControlName="parent_id"
                              >
                                <mat-option [ngValue]="null"> </mat-option>
                                <ng-container
                                  *ngFor="
                                    let position of getPositionsBySubdivisionId(
                                      selectedSubdivisionId
                                    )
                                  "
                                >
                                  <mat-option
                                    [ngValue]="position.id"
                                    *ngIf="position.id != selectedPositionId"
                                  >
                                    {{ position.name }}
                                  </mat-option>
                                </ng-container>
                              </mat-select>
                            </mat-form-field>
                          </div>
                                     <div class="col-9">
                            <input
                              type="text"
                              autocomplete="off"
                              class="form-control"
                              placeholder="{{
                                'organization.posname' | translate
                              }}"
                              formControlName="name"
                              [ngClass]="{
                                'has-error':
                                  subdivisionFormEdit.get('name').invalid &&
                                  subdivisionFormEdit.get('name').touched
                              }"
                            />
                          </div>
                          <div class="col-3">
                            <input
                              type="text"
                              autocomplete="off"
                              class="form-control"
                              placeholder="{{
                                'organization.payment' | translate
                              }}"
                              formControlName="salary"
                            />
                          </div>
                        </div>
                      </form>
                      <br />
                      <div class="col-12">
                        <div
                          class=""
                          *ngIf="
                            selectedPositionFiles[
                              selectedPositionFiles.length - 1
                            ] != null
                          "
                        >
                          {{ 'organization.nrev' | translate }}
                          {{
                            selectedPositionFiles[
                              selectedPositionFiles.length - 1
                            ]?.revnumber
                          }}, {{ 'organization.drev' | translate }}
                          {{
                            selectedPositionFiles[
                              selectedPositionFiles.length - 1
                            ]?.revdate | date: 'dd.MM.yyyy'
                          }}
                          <button
                            type="button"
                            mat-button
                            color="primary"
                            (click)="
                              onDownloadPositionfile(
                                selectedPositionFiles[
                                  selectedPositionFiles.length - 1
                                ]?.id
                              )
                            "
                          >
                            {{ 'organization.download' | translate }}
                          </button>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="showNewPositionFileEdit">
                         <form [formGroup]="positionfileEdit">
                          <div class="row">
                            <div class="col-4">
                              <label for="revnumber">{{
                                'organization.nrev' | translate
                              }}</label>
                              <input
                                type="text"
                                autocomplete="off"
                                class="form-control"
                                placeholder="{{
                                  'organization.nrev' | translate
                                }}"
                                formControlName="revnumber"
                              />
                            </div>
                            <div class="col-4">
                              <label for="revdate">{{
                                'organization.drev' | translate
                              }}</label>
                              <input
                                type="date"
                                class="form-control"
                                placeholder="{{
                                  'organization.drev' | translate
                                }}"
                                formControlName="revdate"
                              />
                            </div>
                            <div class="col-4">
                              <label for="revdate">{{
                                'organization.instruction' | translate
                              }}</label>
                              <input
                                type="file"
                                class="form-control"
                                placeholder=""
                                (change)="onFilesPositionChangeEdit($event)"
                              />
                            </div>
                          </div>
                        </form>
                             </div>
                      <div
                        class=""
                        *ngIf="
                          selectedPositionFiles[
                            selectedPositionFiles.length - 1
                          ] != null;
                          else elseBlockEdit
                        "
                      >
                        <button
                          *ngIf="!showNewPositionFileEdit"
                          [style.margin-top]="'10px'"
                          type="button"
                          mat-button
                          color="primary"
                          (click)="showNewPositionFileEdit = true"
                        >
                          {{ 'organization.changeinst' | translate }}
                        </button>
                        <button
                          *ngIf="showNewPositionFileEdit"
                          type="button"
                          mat-button
                          color="warn"
                          (click)="showNewPositionFileEdit = false"
                        >
                          {{ 'organization.notchangeinst' | translate }}
                        </button>
                      </div>
                      <ng-template #elseBlockEdit>
                        <button
                          *ngIf="!showNewPositionFileEdit"
                          [style.margin-top]="'10px'"
                          type="button"
                          mat-button
                          color="primary"
                          (click)="showNewPositionFileEdit = true"
                        >
                          {{ 'organization.addinst' | translate }}
                        </button>
                        <button
                          *ngIf="showNewPositionFileEdit"
                          [style.margin-top]="'10px'"
                          type="button"
                          mat-button
                          color="warn"
                          (click)="showNewPositionFileEdit = false"
                        >
                          {{ 'organization.rm' | translate }}
                        </button>
                      </ng-template>
                      <hr />
                      <div class="col-12">
                        <button
                          (click)="onEditPosition()"
                          type="button"
                          mat-raised-button
                          color="primary"
                          [disabled]="positionFormEdit.invalid"
                        >
                          {{ 'organization.save' | translate }}
                        </button>
                        <button
                          matTooltip="{{ 'organization.delpos' | translate }}"
                          type="button"
                          mat-raised-button
                          color="warn"
                          (click)="onDeletePosition(selectedPositionId)"
                          *ngIf="selectedPosition?.children?.length == 0"
                        >
                          <i class="fa fa-2x fa-fw fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-tab>
    <mat-tab
      label="{{ 'organization.rp' | translate }}"
      *ngIf="accessLevel >= 3"
    >
      <div class="tab-content">
        <mat-card>
          <mat-card-header>
            <h3>
              <span>{{ 'organization.rvp' | translate }}</span>
            </h3>
          </mat-card-header>
          <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
              <form [formGroup]="subdivisionFormEdit">
                <div class="row">
                  <div class="col-6">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="{{ 'organization.nnp' | translate }}"
                      formControlName="name"
                      [ngClass]="{
                        'has-error':
                          subdivisionFormEdit.get('name').invalid &&
                          subdivisionFormEdit.get('name').touched
                      }"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="{{ 'organization.cod' | translate }}"
                      formControlName="code"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <mat-form-field [style.margin-top]="'10px'">
                      <mat-select
                        placeholder="{{ 'organization.typepos' | translate }}"
                        formControlName="type"
                      >
                        <mat-option [ngValue]="0">
                          {{ 'organization.typepos1' | translate }}
                        </mat-option>
                        <mat-option [ngValue]="1">
                          {{ 'organization.typepos2' | translate }}
                        </mat-option>
                        <mat-option [ngValue]="2">
                          {{ 'organization.typepos3' | translate }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div
                    class="col-4"
                    *ngIf="subdivisionFormEdit.value.type == 1"
                  >
                    <mat-form-field [style.margin-top]="'10px'">
                      <mat-select
                        placeholder="{{ 'organization.vsmodel' | translate }}"
                        formControlName="aircraftmodelgroup_id"
                      >
                        <mat-option
                          [ngValue]="aircraftmodelgroup.id"
                          *ngFor="let aircraftmodelgroup of aircraftmodelgroups"
                        >
                          {{ aircraftmodelgroup.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="col-12 font" [style.margin-top]="'10px'">
                <div
                  class=""
                  *ngIf="
                    selectedSubdivisionfiles[
                      selectedSubdivisionfiles.length - 1
                    ] != null
                  "
                >
                  {{ 'organization.nrev' | translate }}
                  {{
                    selectedSubdivisionfiles[
                      selectedSubdivisionfiles.length - 1
                    ]?.revnumber
                  }}, {{ 'organization.drev' | translate }}
                  {{
                    selectedSubdivisionfiles[
                      selectedSubdivisionfiles.length - 1
                    ]?.revdate | date: 'dd.MM.yyyy'
                  }}
                  <button
                    type="button"
                    mat-button
                    color="primary"
                    (click)="
                      onDownloadSubdivisionfile(
                        selectedSubdivisionfiles[
                          selectedSubdivisionfiles.length - 1
                        ]?.id
                      )
                    "
                  >
                    {{ 'organization.download' | translate }}
                  </button>
                </div>
              </div>
              <div
                class="col-12"
                *ngFor="
                  let newDivisionFileFormEdit of subdivisionfileEdit;
                  let i = index
                "
              >
                <form [formGroup]="newDivisionFileFormEdit">
                  <div class="row">
                    <div class="col-4">
                      <label for="revnumber">{{
                        'organization.nrev' | translate
                      }}</label>
                      <input
                        [style.margin-left]="'10px'"
                        type="text"
                        autocomplete="off"
                        class="form-control"
                        placeholder="{{ 'organization.nrev' | translate }}"
                        formControlName="revnumber"
                      />
                    </div>
                    <div class="col-4">
                      <label for="revdate">{{
                        'organization.drev' | translate
                      }}</label>
                      <input
                        [style.margin-left]="'10px'"
                        type="date"
                        class="form-control"
                        placeholder="{{ 'organization.drev' | translate }}"
                        formControlName="revdate"
                      />
                    </div>
                    <div class="col-4">
                      <label for="revdate">{{
                        'organization.pol' | translate
                      }}</label>
                      <input
                        type="file"
                        class="form-control"
                        placeholder=""
                        (change)="onFilesChangeEdit($event, i)"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div
                class=""
                *ngIf="
                  selectedSubdivisionfiles[
                    selectedSubdivisionfiles.length - 1
                  ] != null;
                  else elseBlockEdit
                "
              >
                <button
                  *ngIf="subdivisionfileEdit.length < 1"
                  [style.margin-top]="'10px'"
                  type="button"
                  mat-button
                  color="primary"
                  (click)="onAddNewDivisionFileEdit()"
                >
                  {{ 'organization.changepol' | translate }}
                </button>
                <button
                  *ngIf="subdivisionfileEdit.length > 0"
                  type="button"
                  mat-button
                  color="warn"
                  (click)="onDelNewDivisionFileEdit()"
                >
                  {{ 'organization.notchangeinst' | translate }}
                </button>
              </div>
              <ng-template #elseBlockEdit>
                <button
                  *ngIf="subdivisionfileEdit.length < 1"
                  [style.margin-top]="'10px'"
                  type="button"
                  mat-button
                  color="primary"
                  (click)="onAddNewDivisionFileEdit()"
                >
                  {{ 'organization.addpol' | translate }}
                </button>
                <button
                  *ngIf="subdivisionfileEdit.length > 0"
                  type="button"
                  mat-button
                  color="warn"
                  (click)="onDelNewDivisionFileEdit()"
                >
                  {{ 'organization.rm' | translate }}
                </button>
              </ng-template>
              <hr />
              <div class="col-12">
                <button
                  (click)="onEditSubdivision()"
                  type="button"
                  mat-raised-button
                  color="primary"
                  [disabled]="subdivisionFormEdit.invalid"
                >
                  {{ 'organization.save' | translate }}
                </button>
                <button
                  matTooltip="{{ 'organization.delsbdv' | translate }}"
                  type="button"
                  mat-raised-button
                  color="warn"
                  (click)="onDeleteSubdivision(selectedSubdivisionId)"
                  *ngIf="selectedSubdivision?.children?.length == 0"
                >
                  <i class="fa fa-2x fa-fw fa-trash"></i>
                </button>
                <button
                  type="button"
                  mat-button
                  color="primary"
                  (click)="gotoLog()"
                >
                  {{ 'organization.log' | translate }}
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab
      label="{{ 'organization.addsbdv' | translate }}"
      *ngIf="accessLevel >= 3"
    >
      <div class="tab-content">
        <mat-card>
          <mat-card-header>
            <h3>
              <span
                >{{ 'organization.dnpv' | translate }}
                {{ selectedSubdivision?.name }}"</span
              >
            </h3>
          </mat-card-header>
          <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
              <form [formGroup]="subdivisionForm">
                <div class="row">
                  <div class="col-6">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="{{ 'organization.nnp' | translate }}"
                      formControlName="name"
                      [ngClass]="{
                        'has-error':
                          subdivisionForm.get('name').invalid &&
                          subdivisionForm.get('name').touched
                      }"
                    />
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      autocomplete="off"
                      class="form-control"
                      placeholder="{{ 'organization.cod' | translate }}"
                      formControlName="code"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <mat-form-field [style.margin-top]="'10px'">
                      <mat-select
                        placeholder="{{ 'organization.typepos' | translate }}"
                        formControlName="type"
                      >
                        <mat-option [ngValue]="0">
                          {{ 'organization.typepos1' | translate }}
                        </mat-option>
                        <mat-option [ngValue]="1">
                          {{ 'organization.typepos2' | translate }}
                        </mat-option>
                        <mat-option [ngValue]="2">
                          {{ 'organization.typepos3' | translate }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4" *ngIf="subdivisionForm.value.type == 1">
                    <mat-form-field [style.margin-top]="'10px'">
                      <mat-select
                        placeholder="{{ 'organization.vsmodel' | translate }}"
                        formControlName="aircraftmodelgroup_id"
                      >
                        <mat-option
                          [ngValue]="aircraftmodelgroup.id"
                          *ngFor="let aircraftmodelgroup of aircraftmodelgroups"
                        >
                          {{ aircraftmodelgroup.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div
                class="col-12 font"
                [style.margin-top]="'10px'"
                *ngFor="
                  let newDivisionFileForm of newSubdivisionfile;
                  let i = index
                "
              >
                <form [formGroup]="newDivisionFileForm">
                  <div class="row">
                    <div class="col-4">
                      <label for="revnumber">{{
                        'organization.nrev' | translate
                      }}</label>
                      <input
                        [style.margin-left]="'10px'"
                        type="text"
                        autocomplete="off"
                        class="form-control"
                        placeholder="{{ 'organization.nrev' | translate }}"
                        formControlName="revnumber"
                      />
                    </div>
                    <div class="col-4">
                      <label for="revdate">{{
                        'organization.drev' | translate
                      }}</label>
                      <input
                        [style.margin-left]="'10px'"
                        type="date"
                        class="form-control"
                        placeholder="{{ 'organization.drev' | translate }}"
                        formControlName="revdate"
                      />
                    </div>
                    <div class="col-4">
                      <label for="">{{ 'organization.pol' | translate }}</label>
                      <input
                        type="file"
                        class="form-control"
                        placeholder=""
                        (change)="onFilesChange($event, i)"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <hr />
              <div class="col-12">
                <button
                  (click)="onAddSubdivision()"
                  type="button"
                  mat-raised-button
                  color="primary"
                  [disabled]="subdivisionForm.invalid"
                >
                  {{ 'organization.add' | translate }}
                </button>
                <button
                  matTooltip="{{ 'organization.resetform' | translate }}"
                  type="button"
                  mat-raised-button
                  color="accent"
                  (click)="onCancel()"
                >
                  <i class="fa fa-2x fa-fw fa-refresh"></i>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div> -->
