.select {
	background-color: #f3f9f9;
}

.subselect {
	border: 1px #a08cc1 dotted !important;
}

.text-wrapper {
	display: table-cell;
	vertical-align: middle;
}

// .centered {
// 	font-family: sans-serif;
// 	text-align: center;
// }

// .font {
// 	font-family: Gilroy-Light !important;
// 	font-size: 16px;
// 	font-weight: 900;
// }

// .tree-list,
// .mat-select,
// .mat-option,
// label,
// input {
// 	font-family: Gilroy-Light !important;
// 	font-size: 15px;
// 	font-weight: 600;
// }
