<mat-card>
  <mat-card-header>
    <mat-card-title>Самолеты</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input type="text" autocomplete="nope" name="searchStr-aircraft" id="searchStr-aircraft" class="form-control"
          placeholder="Фильтр" [(ngModel)]="searchAircraftStr">
        <div class="input-group-append">
          <button (click)="searchAircraftStr=''" class="btn btn-outline-secondary" type="button"><i
              class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button type="button" (click)="onCreateAircraft()" class="btn btn-primary btnshadow float-right">Добавить
        самолет</button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Код</th>
            <th>Модель</th>
            <th>Группа</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aircraft of aircrafts | aircraftFilter: searchAircraftStr">
            <td (click)="onEditAircraft(aircraft.id)">{{aircraft.code}}</td>
            <td (click)="onEditAircraft(aircraft.id)">{{getAircraftmodelByid(aircraft.aircraftmodel_id)?.name}}</td>
            <td (click)="onEditAircraft(aircraft.id)">
              {{getAircraftmodelgroupByid(getAircraftmodelByid(aircraft.aircraftmodel_id)?.aircraftmodelgroup_id)?.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Модели</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input type="text" autocomplete="nope" name="searchStr-aircraft" id="searchStr-aircraft" class="form-control"
          placeholder="Фильтр" [(ngModel)]="searchAircraftmodelStr">
        <div class="input-group-append">
          <button (click)="searchAircraftmodelStr=''" class="btn btn-outline-secondary" type="button"><i
              class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button type="button" (click)="onCreateAircraftmodel()" class="btn btn-primary btnshadow float-right">Добавить
        модель</button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Название</th>
            <th>Группа</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aircraftmodel of aircraftmodels | aircraftmodelFilter: searchAircraftmodelStr">
            <td (click)="onEditAircraftmodel(aircraftmodel.id)">{{aircraftmodel.name}}</td>
            <td (click)="onEditAircraftmodel(aircraftmodel.id)">
              {{getAircraftmodelgroupByid(aircraftmodel.aircraftmodelgroup_id)?.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>Группы</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input type="text" autocomplete="nope" name="searchStr-aircraft" id="searchStr-aircraft" class="form-control"
          placeholder="Фильтр" [(ngModel)]="searchAircraftmodelgroupStr">
        <div class="input-group-append">
          <button (click)="searchAircraftmodelgroupStr=''" class="btn btn-outline-secondary" type="button"><i
              class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button type="button" (click)="onCreateAircraftmodelgroup()"
        class="btn btn-primary btnshadow float-right">Добавить
        группу</button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>Название</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let aircraftmodelgroup of aircraftmodelgroups | aircraftmodelgroupFilter: searchAircraftmodelgroupStr">
            <td (click)="onEditAircraftmodelgroup(aircraftmodelgroup.id)">{{aircraftmodelgroup.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>