<mat-card>
  <div class="row">
    <div class="col-8">
      <div class="input-group">
        <input type="text" autocomplete="nope" name="searchAiruser" id="searchAiruser" class="form-control"
          placeholder="Фильтр" [(ngModel)]="searchStr" (input)="onFilter()">
        <div class="input-group-append">
          <button (click)="searchStr='';onFilter()" class="btn btn-outline-secondary" type="button"><i
              class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <button type="button" (click)="gotoEdit('new')" class="btn btn-primary btnshadow float-right">Добавить
        сотрудника</button>
    </div>
    <div class="col-12 mt-4">
      <table class="table list-table full-width">
        <thead>
          <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Подразделение</th>
            <th>Должность</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of airusersView; let i = index">
            <tr *ngIf="user != null">
              <td (click)="gotoEdit(user.id)">{{user.id}}</td>
              <td (click)="gotoEdit(user.id)">{{user.name}}</td>
              <td (click)="gotoEdit(user.id)">{{user.surname}}</td>
              <td (click)="gotoEdit(user.id)">
                <ng-container *ngIf="user.phones">{{user.phones[0]}}</ng-container>
              </td>
              <td (click)="gotoEdit(user.id)">{{user.subdivision_name}}</td>
              <td (click)="gotoEdit(user.id)">{{user.position_name}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <!-- <div class="col float-right">
        <mat-paginator class="float-right" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = setPageSizeOptions($event)">
        </mat-paginator>
      </div> -->
    </div>
  </div>
</mat-card>